.bildboard {
    position: relative;
    min-height: 100vh;
    margin-top: -80px;
    overflow: hidden;

    &:after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background-color: #010920;
        z-index: -1;
    }


    &__container {
        position: relative;
        z-index: 1;
        color: white;
        padding-top: 256px;
        //opacity: 0;
    }

    &__text {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        opacity: 0;
    }

    &__title {
        font-size: 80px;
        line-height: 89px;
        margin-top: 37px;
        max-width: 900px;
        width: 100%;
        font-weight: 900;
        letter-spacing: 1px;
        opacity: 0;
    }

    &__quote {
        font-size: 29px;
        line-height: 43px;
        margin-top: 27px;
        max-width: 727px;
        width: 100%;
        font-weight: 400;
        letter-spacing: 0.2px;
        opacity: 0;
    }

    &__video {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 0;
    }
}