.bildboard {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    &:after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background-color: #010920;
        z-index: -1;
    }


    &__container {
        position: relative;
        z-index: 1;
        color: white;
        padding-top: 280px;
        //opacity: 0;

        @media(max-width: 1024px) {
            text-align: center;
            padding-top: 188px;
        }

        @media(max-width: 620px) {
            padding-top: 163px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        opacity: 0;

        @media(max-width: 1024px) {
            font-size: 16px;
            line-height: 16px;
        }

        @media(max-width: 620px) {
            font-size: 14px;
            line-height: 14px;
        }
    }

    &__title {
        margin-top: 20px;
        max-width: 900px;
        width: 100%;
        font-weight: 700;
        letter-spacing: 0;
        opacity: 0;
        text-transform: uppercase;
        line-height: 81px;
        text-align: left;

        @media(max-width: 1024px) {
            max-width: 100%;
            line-height: 66px;
            margin-top: 26px;
        }

        @media(max-width: 620px) {
            line-height: 39px;
        }
    }

    &__quote {
        max-width: 727px;
        width: 100%;
        font-weight: 400;
        letter-spacing: 0.2px;
        opacity: 0;
        font-size: 25px;
        line-height: 40px;
        margin-top: 18px;

        @media(max-width: 1024px) {
            margin: 0 auto;
            margin-top: 9px;
            font-size: 20px;
            line-height: 33px;
            max-width: 625px;
        }

        @media(max-width: 620px) {
            font-size: 18px;
            line-height: 26px;
            margin-top: 18px;
        }
    }

    &__video {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 0;
    }
}