.bildboard {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    // @media(max-width: 1024px) {
    //     min-height: calc(100vh - 737px);
    // }

    @media(max-width: 620px) {
        min-height: 100vh;
    }

    &:after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background-color: #010920;
        z-index: -1;
    }


    &__container {
        position: relative;
        z-index: 1;
        color: white;
        padding-top: 171px;
        padding-bottom: 145px;

        @media(max-width: 1024px) {
            padding-top: 72px;
            padding-bottom: 63px;
            text-align: center;
        }

        @media(max-width: 620px) {
            padding-top: 142px;
            padding-bottom: 160px;
        }
    }

    &__text {
        font-size: 17px;
        line-height: 24px;
        opacity: 0;

        @media(max-width: 1024px) {
            font-size: 16px;
            line-height: 16px;
            max-width: 232px;
        }

        @media(max-width: 620px) {
            font-size: 14px;
            line-height: 14px;
        }
    }

    &__title {
        margin-top: 20px;
        max-width: 900px;
        width: 100%;
        font-weight: 700;
        letter-spacing: 0;
        opacity: 0;
        text-transform: uppercase;
        line-height: 1.3;
        text-align: left;

        @media(max-width: 1024px) {
            font-size: 48px;
            line-height: 1.4;
            text-align: center;
        }

        @media(max-width: 620px) {
            font-size: 30px;
            line-height: 1.34;
            margin-top: 0;
        }

        span {

            @media(max-width: 620px) {
                font-size: 22px;
                line-height: 1;
            }
        }
    }

    &__quote {
        max-width: 727px;
        width: 100%;
        font-weight: 300;
        letter-spacing: 0.2px;
        opacity: 0;
        font-size: 25px;
        line-height: 40px;
        margin-top: 18px;

        @media(max-width: 1024px) {
            margin: 8px auto 0;
            font-size: 20px;
            line-height: 33px;
            max-width: 625px;
        }

        @media(max-width: 620px) {
            font-size: 18px;
            line-height: 28px;
            margin-top: 24px;
        }
    }

    &__more {
        display: inline;

        @media(max-width: 620px) {
            display: none;
        }
    }

    &__video {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 0;
    }

    &--main {

        @media (max-width: 620px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .bildboard {

            &__container {
                padding-top: 183px;
                padding-bottom: 40px;

                @media(max-width: 1024px) {
                    padding-top: 120px;
                    padding-bottom: 22px;
                }

                @media (max-width: 620px) {
                    padding-top: calc(57px + 3vh);
                    padding-bottom: calc(57px + 3vh);
                }
            }
        }
    }

    &--pobeda {

        picture {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .bildboard {

            &__container {
                padding-top: 215px;
                padding-bottom: 360px;

                @include max1200 {
                    height: 100vh;
                    padding-top: 20%;
                    padding-bottom: 0;
                }

                @include mobile {
                    padding-top: 73px;
                    padding-bottom: 268px;
                }
            }

            &__title {
                font-size: 48px;
                line-height: 1.2;
                color: $black;
                margin-top: 6px;


                @include mobile {
                    font-size: 29px;
                    margin-top: 15px;
                }
            }
        }
    }
}