.seo-slider {
    margin-top: 80px;

    @media(max-width: 1024px) {
        margin-top: 70px;
    }

    &__title {
        position: relative;
        text-align: center;
        padding-bottom: 40px;
        margin-bottom: 40px;

        @media(max-width: 1024px) {
            padding-bottom: 30px;
            margin: 0 AUTO 30px;
        }

        @media(max-width: 620px) {
            padding-bottom: 20px;
            margin-bottom: 18px;
            text-align: left;
        }

        &:after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            margin: auto;
            max-width: 80px;
            width: 100%;
            background-color: $red-2;
            height: 2px;

            @media(max-width: 620px) {
                right: auto;
            }
        }
    }

    &__note {
        text-align: center;

        @media(max-width: 620px) {
            text-align: left;
        }
    }
}