.seo-methods {
    margin-top: 80px;
    background-color: $ochre;
    padding: 80px 0;
    overflow: hidden;

    @media(max-width: 1024px) {
        padding: 55px 0 66px;
    }

    @media(max-width: 620px) {
        margin-top: 37px;
        padding: 48px 0 48px;
    }

    &__inner {
        height: 100%;
        position: relative;
    }

    &__fragment {
        position: absolute;
    }

    &__grid {
        display: flex;
        justify-content: space-between;

        @media(max-width: 1024px) {
            position: relative;
            flex-direction: column;
        }

        @media(max-width: 620px) {
            margin-top: 31px;
        }
    }

    &__txt {
        margin-top: 15px;
        line-height: 25px;

        @media(max-width: 1024px) {
            margin-top: 20px;
        }

        @media(max-width: 620px) {
            margin-top: 12px;
        }
    }

    &__left {
        max-width: 950px;
        width: 100%;

        @media(max-width: 1024px) {
            max-width: 100%;
        }
    }

    &__right {
        position: relative;
        max-width: 300px;
        width: 100%;

        @media(max-width: 1024px) {
            position: absolute;
            max-width: 100%;
            width: 100%;
            height: 100%;
            bottom: -127px;
            right: -30px;
        }

        @media(max-width: 620px) {
            display: none;
        }
    }

    &__article {
        font-size: 30px;
        font-weight: 700;

        @media(max-width: 1024px) {
            font-size: 20px;
        }

        @media(max-width: 620px) {
            font-size: 16px;
        }
    }

    &__bloc {
        &:not(:first-child) {
            margin-top: 40px;

            @media(max-width: 1024px) {
                margin-top: 35px;
            }
        }

        &:nth-child(2) {
            .seo-methods__txt {
                max-width: 825px;
                width: 100%;
            }
        }

        &:nth-child(3) {
            .seo-methods__txt {
                max-width: 750px;
                width: 100%;

                @media(max-width: 1024px) {
                    max-width: 560px;
                }
            }
        }
    }

    &__fragment {
        width: 130px;
        height: 130px;
        background-size: contain;
        right: -180px;
        top: 76px;
    }

    &__bg {
        height: 114%;
        background-position: 100% 71%;
        background-repeat: no-repeat;
        position: absolute;
        width: calc(100% + 550px);
        right: calc(100% - 629px);

        @media(max-width: 1300px) {
            left: -135px;
        }

        @media(max-width: 1235px) {
            left: -36px;
            background-position: 100% 80%;
        }

        @media(max-width: 1024px) {
            background-image: url('../img/decor/dec18.png') !important;
            background-position: 50% 62%;
        }
    }

    &__title {
        position: relative;
        text-align: center;
        padding-bottom: 40px;
        margin-bottom: 40px;

        @media(max-width: 1024px) {
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        @media(max-width: 620px) {
            text-align: left;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        &:after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            margin: auto;
            max-width: 80px;
            width: 100%;
            background-color: $red-2;
            height: 2px;

            @media(max-width: 620px) {
                content: none;
            }
        }
    }
}