.seo-result {
    margin-top: 80px;

    @media(max-width: 1024px) {
        margin-top: 72px;
    }

    @media(max-width: 620px) {
        margin-top: 55px;
    }

    &__title {
        position: relative;
        text-align: center;
        padding-bottom: 40px;
        margin-bottom: 40px;

        @media(max-width: 1024px) {
            padding-bottom: 31px;
            margin-bottom: 25px;
        }

        @media(max-width: 620px) {
            text-align: left;
            padding-bottom: 24px;
            margin-bottom: 12px;
        }

        &:after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            margin: auto;
            max-width: 80px;
            width: 100%;
            background-color: $red-2;
            height: 2px;

            @media(max-width: 620px) {
                right: auto;
                max-width: 49px;
            }
        }
    }

    &__quote {
        max-width: 793px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        line-height: 25px;

        @media(max-width: 620px) {
            text-align: left;
        }
    }

    &__cover {
        margin-top: 40px;

        @media(max-width: 1600px) {
            max-width: 1230px;
            margin: 0 auto;
            margin-top: 40px;
        }

        @media(max-width: 940px) {
            max-width: 614px;
        }

        @media(max-width: 620px) {
            margin-top: 35px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        max-width: 261px;
        width: 100%;
        margin-top: 20px;

        @media(max-width: 1235px) {
            max-width: 206px;
        }

        @media(max-width: 940px) {
            max-width: 100%;
            margin-top: 27px;
        }

        @media(max-width: 620px) {
            font-size: 12px;
            line-height: 17px;
            margin-top: 19px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;

        @media(max-width: 940px) {
            flex-wrap: wrap;
            margin-left: -80px;
            margin-top: -46px;
        }

        @media(max-width: 620px) {
            margin-left: -30px;
            margin-top: -30px;
        }

        @media(max-width: 500px) {
            margin-left: 0px;
            margin-top: 0px;
            flex-wrap: nowrap;
        }
    }

    &__item {

        @media(max-width: 940px) {
            width: calc(50% - 80px);
            margin-left: 80px;
            margin-top: 46px;
        }

        @media(max-width: 620px) {
            width: calc(50% - 30px);
            margin-left: 30px;
            margin-top: 30px;
        }

        @media(max-width: 500px) {
            width: initial;
            margin: initial;
            margin-right: 20px;
            min-width: 167px;
        }

        &:nth-child(2) {
            .seo-result__pic {
                background-position-x: 27%;
            }
        }

        &:nth-child(3) {
            .seo-result__pic {
                background-position-x: 54%;
            }
        }

        &:nth-child(4) {
            .seo-result__pic {
                background-position-x: 80.7%;
            }
        }
    }

    &__pic {
        max-width: 90px;
        width: 100%;
        height: 90px;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mCSB_horizontal.mCSB_inside>.mCSB_container {
        display: flex;
    }

    .mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: white;
    }

    .mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
        background-color: white;
    }

    .mCSB_horizontal.mCSB_inside>.mCSB_container {
        margin-bottom: 0;
    }

    .quote {
        margin-top: 0;

        &__par {
            max-width: 793px;
        }
    }
}