.works {
    position: relative;
    margin-top: 58px;
    overflow: hidden;
    padding: 10px;
    margin: -10px;
    margin-top: 44px;

    @media(max-width: 1024px) {
        margin: 18px -10px -10px;
    }

    &__item {
        border-radius: 12px;


        &:hover {
            .works__content {
                box-shadow: 0px 4px 7px rgba(51, 51, 51, 0.1);
            }

            .works__link {
                opacity: 1;
            }
        }
    }

    &__pic {
        height: 323px;
        width: 100%;
        overflow: hidden;
        border-radius: 12px 12px 0px 0px;

        @media(max-width: 1300px) {
            height: 270px;
        }

        @media(max-width: 1024px) {
            height: 188px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: 25px 30px 40px;
        min-height: 225px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        transition: .3s;
        border-radius: 0px 0px 12px 12px;

        @media(max-width: 1024px) {
            margin-top: 5px;
            padding: 18px 16px 32px;
            min-height: 198px;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__unit {
        font-size: 12px;
    }

    &__article {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        margin-top: 27px;

        @media(max-width: 1024px) {
            font-size: 16px;
            line-height: 16px;
            font-weight: 700;
            margin-top: 31px;
        }
    }

    &__txt {
        font-size: 14px;
        margin-top: 6px;

        @media(max-width: 1024px) {
            font-size: 12px;
            line-height: 12px;
            margin-top: 14px;
        }
    }

    &__link {
        font-size: 10px;
        opacity: 0;
        transition: opacity .3s;
        font-family: 'OpenSans', sans-serif;
    }

    &__pic {
        background-color: #1F2B2F;
    }

    &__bottom {
        margin-top: auto;
    }

    &__cover {
        margin-top: 46px;
    }
}