.price {
    margin-top: 80px;
    padding: 85px 0 97px;
    background-repeat: no-repeat;
    background-position: bottom;

    @media(max-width: 1024px) {
        margin-top: 70px;
        padding: 55px 0 55px;
    }

    @media(max-width: 768px) {
        background-image: none !important;
    }

    @media(max-width: 620px) {
        margin-top: 50px;
        padding: 50px 0;
    }

    &__href {
        opacity: 0;
        transition: opacity .3s ease-in;
        margin-top: 44px;
        text-transform: uppercase;

        @media(max-width: 1024px) {
            opacity: 1;
        }

        @media(max-width: 500px) {
            margin-top: 25px;
        }
    }

    &__bg {
        background-position-y: 100%;
    }

    &__title {
        text-align: center;

        @media(max-width: 620px) {
            text-align: left;
            line-height: 31px;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: -20px;

        @media(max-width: 1300px) {
            margin: -15px;
        }

        @media(max-width: 1235px) {
            margin: -10px;
        }

        @media(max-width: 990px) {
            margin: -15px;
        }

        @media(max-width: 620px) {
            margin: -10px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: calc(33.333% - 40px);
        margin: 20px;
        background-color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 25px 40px 40px 35px;
        cursor: pointer;

        @media(max-width: 1300px) {
            width: calc(33.333% - 30px);
            margin: 15px;
        }

        @media(max-width: 1235px) {
            width: calc(33.333% - 20px);
            margin: 10px;
            padding: 30px 25px 35px;
        }

        @media(max-width: 1024px) {
            padding: 30px 33px 30px;
        }

        @media(max-width: 990px) {
            flex: auto;
            width: calc(100% - 30px);
            margin: 15px;
        }

        @media(max-width: 620px) {
            width: calc(100% - 20px);
            margin: 10px;
            padding: 25px 20px;
        }

        &:hover {
            .price__href {
                opacity: 1;
            }
        }
    }

    &__cover {
        margin-top: 40px;

        @media(max-width: 990px) {
            max-width: 500px;
            margin: 40px auto 0;
        }
    }

    &__header {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 29px;

        @media(max-width: 620px) {
            font-size: 16px;
            line-height: 27px;
        }
    }

    &__period {
        font-size: 14px;
        margin-top: 10px;
        font-weight: normal;
        color: $grey-9;
        text-transform: uppercase;

        @media(max-width: 620px) {
            font-size: 12px;
            margin-top: 8px;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 1.9;
        margin-top: 32px;
    }

    &__list {
        margin-top: 25px;
        width: 100%;
        margin-bottom: 45px;

        @media(max-width:1024px) {
            margin-bottom: 30px;
        }
    }

    &__ref {
        position: relative;
        font-size: 12px;
        line-height: 1.9;
        padding-left: 16px;

        &::after {
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: $green-1;
            left: 0;
            top: 8px;
        }
    }

    &__price {
        font-size: 30px;
        font-weight: bold;
        color: $green-1;

        @media(max-width: 990px) {
            line-height: 24px;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: auto;

        @media(max-width: 990px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &--line {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;

            @media(max-width: 990px) {
                align-items: center;
            }

            .price__href {
                margin-top: 0;
            }
        }

        .price__href {
            @media(max-width: 990px) {
                margin-top: 0;
                width: 0;
                pointer-events: none;
                color: transparent;
            }

            &.link--detail {
                &:after {
                    @media(max-width: 990px) {
                        background-image: url('../img/icon/arrow-big.svg');
                        width: 33px;
                        height: 16px;
                    }
                }
            }
        }
    }
}