.price {
    margin-top: 80px;
    padding: 85px 0 97px;
    background-repeat: no-repeat;
    background-position: bottom;

    @media(max-width: 1024px) {
        margin-top: 70px;
        padding: 55px 0 55px;
    }

    @media(max-width: 768px) {
        background-image: none !important;
    }

    @media(max-width: 620px) {
        margin-top: 50px;
        padding: 50px 0;
    }

    &__href {
        opacity: 0;
        transition: opacity .3s ease-in;
        margin-top: 39px;
        text-transform: uppercase;

        @media(max-width: 1024px) {
            opacity: 1;
        }

        @media(max-width: 500px) {
            margin-top: 25px;
        }
    }

    &__bg {
        background-position-y: 100%;
    }

    &__title {
        text-align: center;

        @media(max-width: 620px) {
            text-align: left;
            line-height: 31px;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -40px;

        @media(max-width: 1300px) {
            margin-left: -30px;
        }

        @media(max-width: 1235px) {
            margin-left: -20px;
        }

        @media(max-width: 990px) {
            margin-left: 0;
            margin-top: -30px;
        }

        @media(max-width: 620px) {
            margin-left: 0;
            margin-top: -25px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: calc(33.333% - 40px);
        margin-left: 40px;
        background-color: white;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 28px 35px 40px;
        cursor: pointer;

        @media(max-width: 1300px) {
            width: calc(33.333% - 30px);
            margin-left: 30px;
        }

        @media(max-width: 1235px) {
            width: calc(33.333% - 20px);
            margin-left: 20px;
            padding: 30px 25px 35px;
        }

        @media(max-width: 1024px) {
            padding: 30px 33px 30px;
        }

        @media(max-width: 990px) {
            flex: auto;
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
        }

        @media(max-width: 620px) {
            padding: 25px 20px;
            margin-top: 25px;
        }

        &:hover {
            .price__href {
                opacity: 1;
            }
        }
    }

    &__cover {
        margin-top: 40px;

        @media(max-width: 990px) {
            max-width: 500px;
            margin: 40px auto 0;
        }
    }

    &__header {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 29px;

        @media(max-width: 620px) {
            font-size: 16px;
            line-height: 27px;
        }
    }

    &__period {
        font-size: 14px;
        margin-top: 10px;
        font-weight: normal;
        color: $grey-9;
        text-transform: uppercase;

        @media(max-width: 620px) {
            font-size: 12px;
            margin-top: 8px;
        }
    }

    &__list {
        margin-top: 24px;
        max-width: 321px;
        width: 100%;
        margin-bottom: 40px;

        @media(max-width:1024px) {
            margin-bottom: 30px;
        }
    }

    &__ref {
        position: relative;
        font-size: 12px;
        line-height: 23px;
        padding-left: 16px;

        &::after {
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: $green-1;
            left: 0;
            top: 9px;
            bottom: auto;
            margin: auto;
        }
    }

    &__price {
        font-size: 35px;
        font-weight: bold;
        color: $green-1;

        @media(max-width: 1024px) {
            font-size: 30px;
        }

        @media(max-width: 990px) {
            line-height: 24px;
        }
    }

    &__bottom {
        @media(max-width: 1000px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media(max-width: 990px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .price__href {
            @media(max-width: 990px) {
                margin-top: 0;
                width: 0;
                height: 0;
                pointer-events: none;
                color: transparent;
                transform: translateY(3px);
            }

            &.link--detail {
                &:after {
                    @media(max-width: 990px) {
                        background-image: url('../img/icon/arrow-big.svg');
                        width: 33px;
                        height: 16px;
                    }
                }
            }
        }
    }
}