.chart {
    margin-top: 85px;

    @media(max-width: 1024px) {
        margin-top: 70px;
    }

    @media(max-width: 620px) {
        margin-top: 55px;
    }

    &__img {
        margin-top: 47px;
        width: 100%;

        @media(max-width: 1024px) {
            margin-top: 40px;
        }
    }

    .quote {
        margin-top: 0;
    }
}