{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties"
        ]
    ]
}
// {
//     "presets": [
//         "@babel/preset-env"
//     ],
//     "plugins": [
//         "syntax-async-functions",
//         "transform-regenerator"
//     ]
// }