$black: #333333;
$black-2: #0E071A;
$black-3: #1A1A1A;
$black-4: #1E202C;


$grey: #F1EDEC;
$white: #ffffff;
$greyb: #A98D7F;
$gold: #FFC664;
$button: linear-gradient(66.48deg, #A98D7F -159.9%, #FFC664 115.5%);


$grey-1: #676767;
$grey-2: #4f4f4f;
$grey-3: #E8E8E8;
$grey-4: #B2B2B2;
$grey-5: #ECECEC;
$grey-6: #CBCBCB;
$grey-7: #dddddd;
$grey-8: #727272;
$grey-9: #D8D4D4;
$grey-10: #BFBFBF;
$grey-11: #959595;
$grey-12: #A8A8A8;

$green-1: #00A4AD;

$ochre: #f6f6f6;

$red-1: #E10024;
$red-2: #FF7369;
$red-3: #E70F27;
$red-4: #D73336;