$black: #333333;
$black-2: #0E071A;
$black-2: #1A1A1A;


$grey: #F1EDEC;
$white: #ffffff;
$greyb: #A98D7F;
$gold: #FFC664;
$button: linear-gradient(66.48deg, #A98D7F -159.9%, #FFC664 115.5%);


$grey-1: #676767;
$grey-2: #4f4f4f;
$grey-3: #E8E8E8;
$grey-4: #B2B2B2;
$grey-5: #ECECEC;
$grey-6: #CBCBCB;
$grey-7: #dddddd;
$grey-8: #727272;

$green-1: #00A4AD;

$ochre: #f6f6f6;

$red-1: #E10024;
$red-2: #FF7369;