@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/GothamPro-Black.ttf');
    src: local('GothamPro'),
        url('../fonts/GothamPro/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro/GothamPro-Black.woff') format('woff'),
        url('../fonts/GothamPro/GothamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/GothamPro-Medium.ttf');
    src: local('GothamPro'),
        url('../fonts/GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro/GothamPro-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/GothamPro.ttf');
    src: local('GothamPro'),
        url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/GothamPro-Bold.ttf');
    src: local('GothamPro'),
        url('../fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/opensansbold.ttf');
    src: local('OpenSans'),
        url('../fonts/OpenSans/opensansbold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/opensansbold.woff') format('woff'),
        url('../fonts/OpenSans/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}