.link {
    &--crumbs {
        display: inline-flex;
        font-size: 12px;
        line-height: 25px;
    }

    &--detail {
        color: $red-2;
        font-family: 'OpenSans', sans-serif;
        position: relative;
        margin-top: auto;
        padding-right: 15px;
        transition: .3s;
        font-size: 10px;
        line-height: 10px;

        &::after {
            position: absolute;
            content: "";
            background-image: url(../img/icon/arrow-small.svg);
            width: 11px;
            height: 9px;
            background-repeat: no-repeat;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 0;
        }
    }

    &--look {
        color: $red-2;
        font-family: 'OpenSans', sans-serif;
        position: relative;
        margin-top: auto;
        transition: .3s;
        font-size: 10px;
        line-height: 10px;
        display: flex;
        align-items: center;
        

        .link__icon {
            width: 11px;
            height: 11px;

            .b-svg {
                height: 100%;
                width: 100%;
                fill: white;
            }
        }

        .link__txt {
            text-transform:uppercase;
            font-weight: 700;
            margin-right: 5px;
            line-height: 11px;
        }
    }
}