@import "./normalize.scss";
@import "./colors.scss";
@import "./media.scss";
@import "./fonts.scss";
@import "./libs/libs.scss";

* {
  box-sizing: border-box;
  outline: none !important;
}

html {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-size: 16px;

  @media (max-width: 1023px) {
    font-size: 14px;
    line-height: 20px;
  }
}

body {
  font-family: 'GothamPro', sans-serif;
  color: $black;
  font-weight: 400;
  overflow: hidden;
  font-size: 16px;
  line-height: 25px;
  background-color: #fff;
  word-wrap: break-word;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 0 330px 0px;
  box-sizing: border-box;

  @media (max-width:1600px) {
    padding: 0 40px 0px;
  }

  @media (max-width:1024px) {
    padding: 0 20px 0px;
  }
}

img {
  vertical-align: bottom;
}

.bgi {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  display: inline;
  color: inherit;
  text-decoration: none;
  transition: linear 0.3s;
}

.clearfix::after,
.clearfix::before {
  content: '';
  display: table;
  clear: both;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input::-ms-clear {
  display: none;
}

.hidden {
  display: none;
}

.title-1 {
  font-size: 62px;
  line-height: 89px;
}

.title-2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}

.title-3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

.title-4 {}

.b-svg {
  width: auto;
  height: auto;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  background-color: #FFF6ED;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.b-page {
  min-height: 100vh;
  position: relative;
  padding-bottom: 271px;
}


.cursor {
  position: fixed;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);

  &.active {
    opacity: 1;
    transform: scale(0);
  }

  &.menu-active {
    opacity: 1;
    transform: scale(0);
  }

  &.hovered {
    opacity: 1;
  }
}

.cursor-follower {
  position: fixed;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(2px, 2px);
  //overflow: hidden;

  &.active {
    opacity: 1;
    transform: scale(3);
  }

  &.menu-active {
    opacity: 1;
    transform: scale(3);
  }

  &.hovered {
    opacity: 1;
  }

}

.sad-link {
  position: relative;
  display: inline-block;
  color: white;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: -.035em;
    width: calc(100% + .3em);
    height: .035em;
    background: white;
    transition: all .3s ease-in-out;
    max-height: 35px;
  }

  &:hover:after {
    height: calc(100% + 0.3em);
  }

  &:hover {
    color: $black-2;
  }
}

@import "./components/contacts/contacts.scss";
@import "./components/servicess/offer.scss";
@import "./components/about/reach.scss";
@import "./components/about/team.scss";
@import "./components/about/progress.scss";
@import "./components/quote.scss";
@import "./components/bildboard/bildboard-data.scss";
@import "./components/breadcrumbs.scss";
@import "./components/popup.scss";
@import "./components/overlay.scss";
@import "./components/call.scss";
@import "./components/index/place.scss";
@import "./components/index/partners.scss";
@import "./components/index/client.scss";
@import "./components/index/services.scss";
@import "./components/index/portfolio";
@import "./components/bildboard/bildboard.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/helper.scss";
@import "./link.scss";
@import "./btn.scss";