.client {
    margin-top: 70px;
    padding-bottom: 50px;

    @media(max-width: 1024px) {
        margin-top: 46px;
    }

    @media(max-width: 620px) {
        margin-top: 47px;
    }

    &__slider {
        position: relative;
        width: 100%;
        margin-top: 45px;
        overflow: hidden;
        padding: 15px;
        margin: 38px 0 0;

        @media(max-width: 1024px) {
            margin-top: 30px;
        }

        @media(max-width: 620px) {
            margin: 3px 0px 0;
        }

        .pagination {
            display: none;

            @media(max-width: 620px) {
                display: flex;
            }
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -37px;

        @media(max-width: 1300px) {
            margin-left: -20px;
        }
    }

    &__item {
        display: flex;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
        transition: .3s ease-in;
        max-height: 325px;
        height: auto;

        @media(max-width: 1300px) {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.15));
        }

        @media(max-width: 620px) {
            margin-top: 20px;
        }


        &:hover,
        &:focus {
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));

            @media(max-width: 1300px) {
                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
            }

            @media(max-width: 620px) {
                filter: drop-shadow(0px 0px 6px rgba(51, 51, 51, 0.1));
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__quote {
        max-width: 100%;
        font-size: 16px;
        line-height: 28px;
        margin: 0 auto;
        text-align: center;
        margin-top: 16px;
        font-weight: 400;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 26px;
        }

        @media(max-width: 620px) {
            text-align: left;
            margin-top: 0;
        }

    }

    &__cover {
        margin-top: 40px;

        @media(max-width: 1600px) {
            max-width: 1260px;
            width: 100%;
            margin: 0 auto;
            margin-top: 40px;
        }

        @media(max-width: 1024px) {
            margin-top: 30px;
        }

        @media(max-width: 620px) {
            margin-top: 12px;
        }
    }

    &__title {
        position: relative;
        letter-spacing: 0.6px;
        text-align: center;
        padding-bottom: 40px;
        margin-bottom: 40px;

        @media(max-width: 1024px) {
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        @media(max-width: 620px) {
            text-align: left;
            padding-bottom: 24px;
            margin-bottom: 9px;
        }

        &:after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            margin: auto;
            max-width: 80px;
            width: 100%;
            background-color: $red-2;
            height: 2px;

            @media(max-width: 620px) {
                right: auto;
                max-width: 48px;
            }
        }
    }

    .quote {
        margin-top: 0;
    }

    .partners__container {
        padding: 0;
    }
}