.partners {
    max-width: 1093px;
    width: 100%;
    margin: 0 auto;
    margin-top: 78px;

    @media(max-width: 1024px) {
        max-width: 845px;
        margin-top: 50px;
    }

    @media(max-width: 768px) {
        max-width: 672px;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;

        img {
            height: auto;
            width: auto;
            object-fit: contain;
        }
    }

    &__item {
        @media(max-width:1024px) {
            height: 30px;
            width: auto;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: minmax(134px, 1fr) minmax(243px, 1fr) minmax(211px, 1fr) minmax(166px, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 113px;
        grid-row-gap: 83px;
        justify-items: center;
        align-items: center;

        @media(max-width: 1600px) {
            grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
            grid-column-gap: 50px;
            grid-row-gap: 55px;
        }

        @media(max-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
            //  grid-template-rows: repeat(3, 30px);
            grid-column-gap: 29px;
            grid-row-gap: 40px;
        }

        @media(max-width: 767px) {
            grid-column-gap: 35px;
            grid-row-gap: 35px;
        }

        @media(max-width: 620px) {
            grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
            margin-top: 30px;
        }

        @media(max-width: 500px) {
            grid-column-gap: 14px;
            grid-row-gap: 40px;
            grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
        }


    }

    &__slider {
        @media(max-width: 1024px) {
            max-width: 90vw;
        }

        @media(max-width: 620px) {
            max-width: calc(95vw - 35px);
        }
    }

    &__title {
        position: relative;
        padding-bottom: 46px;
        margin-bottom: 37px;

        @media(max-width: 1024px) {
            line-height: 35px;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }

        @media(max-width: 620px) {
            text-align: left;
            padding-bottom: 15px;
            margin-bottom: 12px;
            line-height: 30px;
        }

        &:after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            margin: auto;
            max-width: 80px;
            width: 100%;
            background-color: $red-2;
            height: 2px;

            @media(max-width: 620px) {
                right: auto;
                max-width: 48px;
            }
        }
    }

    &__quote {
        text-align: center;

        @media(max-width: 620px) {
            text-align: left;
            max-width: 400px;
            width: 100%;
        }
    }

    &+.call {
        margin-top: 90px;
    }

    &--special {
        margin: 76px auto 0;

        .partners {
            &__items {
                margin-top: 58px;

                @media(max-width: 620px) {
                    margin-top: 30px;
                }
            }
        }
    }
}