.partners {
    max-width: 1093px;
    width: 100%;
    margin: 0 auto;
    margin-top: 78px;



    .swiper-slide {
        display: flex;
        align-items: center;
        justify-self: center;
        height: 44px;

        img {
            height: auto;
            width: auto;
            object-fit: contain;
        }
    }

    &__title {
        position: relative;
        padding-bottom: 46px;
        margin-bottom: 37px;

        @media(max-width: 1024px) {
            line-height: 35px;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }

        @media(max-width: 620px) {
            text-align: left;
            padding-bottom: 15px;
            margin-bottom: 12px;
            line-height: 30px;
        }

        &:after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            margin: auto;
            max-width: 80px;
            width: 100%;
            background-color: $red-2;
            height: 2px;

            @media(max-width: 620px) {
                right: auto;
                max-width: 48px;
            }
        }
    }

    &__quote {
        text-align: center;
    }

    &+.call {
        margin-top: 90px;
    }

    &--magazine {
        margin: 76px auto 0;

        .swiper-wrapper {
            margin-top: 58px;
        }
    }
}