.place {
    position: relative;
    min-height: 480px;
    overflow: hidden;
    margin-top: 62px;
    padding-top: 73px;
    padding-bottom: 88px;
    background-color: white;

    @media(max-width: 1024px) {
        min-height: 375px;
        overflow: hidden;
        margin-top: 60px;
        padding-top: 55px;
        padding-bottom: 27px;
    }

    @media(max-width: 620px) {
        margin-top: 55px;
        padding-top: 0px;
        padding-bottom: 233px;
    }

    &__file {
        position: relative;
        overflow: hidden;
        display: block;
        text-align: center;

        input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }

    &__bg {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 50% 100%;
        z-index: 0;
        top: auto;
        bottom: 0px;

        @media(max-width: 620px) {
            background-size: 880px;
            background-position: center;
            background-position: 0% 100%;
        }

        @media(max-width: 320px) {
            background-image: url(../img/decor/dec19.png) !important;
            background-size: auto;
        }
    }

    &__container {
        position: relative;
    }

    &__text {
        width: 100%;
        max-width: 935px;
        width: 100%;
        font-size: 16px;
        line-height: 25px;
        opacity: 0;
        margin: 0 auto;
        text-align: center;
        margin-top: 16px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 25px;
            max-width: 711px;
            margin: 0 auto;
            width: 100%;
        }

        @media(max-width: 620px) {
            text-align: left;
            max-width: initial;
            margin: initial;
        }
    }

    &__title {
        position: relative;
        letter-spacing: 0.6px;
        text-align: center;
        max-width: 1012px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
        margin-bottom: 40px;


        @media(max-width: 1024px) {
            letter-spacing: -0.1px;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        @media(max-width: 620px) {
            text-align: left;
            padding-bottom: 24px;
            margin-bottom: 11px;
            line-height: 30px;
        }

        &:after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            margin: auto;
            max-width: 80px;
            width: 100%;
            background-color: $red-2;
            height: 2px;

            @media(max-width: 620px) {
                right: auto;
                max-width: 48px;
            }
        }
    }

    &__link {
        display: inline-flex;
        text-transform: uppercase;
        font-weight: 700;



        &:not(:last-child) {
            margin-right: 70px;
        }

        &:not(:first-child) {
            @media(max-width: 620px) {
                margin-top: 22px;
            }
        }



        &.link--detail {
            @media(max-width: 620px) {
                display: flex;
                align-self: flex-start;
            }
        }
    }

    &__bloc {
        display: flex;
        justify-content: center;
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
        margin-top: 55px;

        @media(max-width: 620px) {
            flex-direction: column;
            margin: 30px auto 0;
            max-width: initial;
        }
    }

    &--vacancy {
        margin-top: 66px;
        padding-top: 62px;

        .place {
            &__text {
                max-width: 760px;
                width: 100%;
                font-size: 16px;
            }

            &__title {
                line-height: 62px;
                letter-spacing: 0.3px;
                margin-bottom: 29px;
            }

            &__file {
                margin-top: 20px;
                font-size: 12px;
                color: $grey-6;
                cursor: pointer;

                input {
                    cursor: pointer;
                }
            }

            &__note {
                text-align: center;
                margin-top: 44px;

                a {
                    font-weight: 700;

                    &:hover {
                        color: $green-1;
                    }
                }
            }
        }
    }

    .btn--special {
        @media(max-width: 620px) {
            margin: 22px 0 0;
        }
    }

    &--transparent {
        background-color: $grey-13;

        @media(max-width: 620px) {
            padding-top: 45px;
            padding-bottom: 48px;
        }

        .place {
            &__bg {
                @media(max-width: 1024px) {
                    background-image: none !important;
                }
            }
        }
    }
}