.place {
    position: relative;
    min-height: 480px;
    overflow: hidden;
    margin-top: 62px;
    padding-top: 73px;
    padding-bottom: 88px;
    background-color: white;

    @media(max-width: 1024px) {
        min-height: 375px;
        overflow: hidden;
        margin-top: 60px;
        padding-top: 55px;
        padding-bottom: 27px;
    }

    @media(max-width: 620px) {
        margin-top: 55px;
        padding-top: 0px;
        padding-bottom: 233px;
    }

    &__bg {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 50% 100%;
        z-index: 0;
        top: auto;
        bottom: 0px;

        @media(max-width: 620px) {
            background-size: 880px;
            background-position: center;
            background-position: 0% 100%;
        }

        @media(max-width: 320px) {
            background-image: url(../img/decor/mountains-320.png) !important;
            background-size: auto;
        }
    }

    &__container {
        position: relative;
    }

    &__text {
        width: 100%;
        max-width: 935px;
        opacity: 0;
        margin: 16px auto 0;
        text-align: center;

        @media(max-width: 1024px) {
            max-width: 711px;
            margin: 0 auto;
            width: 100%;
        }

        @media(max-width: 620px) {
            text-align: left;
            max-width: initial;
            margin: initial;
        }
    }

    &__title {
        position: relative;
        text-align: center;
        max-width: 1012px;
        width: 100%;
        margin: 0 auto 40px;
        padding-bottom: 40px;


        @media(max-width: 1024px) {
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        @media(max-width: 620px) {
            text-align: left;
        }

        &:after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            margin: auto;
            max-width: 80px;
            width: 100%;
            background-color: $red-2;
            height: 2px;

            @media(max-width: 620px) {
                right: auto;
                max-width: 48px;
            }
        }
    }

    &__link {
        display: inline-flex;
        text-transform: uppercase;
        font-weight: 700;



        &:not(:last-child) {
            margin-right: 70px;
        }

        &:not(:first-child) {
            @media(max-width: 620px) {
                margin-top: 22px;
            }
        }



        &.link--detail {
            @media(max-width: 620px) {
                display: flex;
                align-self: flex-start;
            }
        }
    }

    &__bloc {
        display: flex;
        justify-content: center;
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
        margin-top: 55px;

        @media(max-width: 620px) {
            flex-direction: column;
            margin: 30px auto 0;
            max-width: initial;
        }
    }

    &--vacancy {
        margin-top: 66px;
        padding-top: 62px;

        @media(max-width: 1024px) {
            margin-top: 60px;
            padding: 0 0 55px;
        }

        @media(max-width: 620px) {
            margin-top: 50px;
            padding-bottom: 50px;
        }

        .place {
            &__text {
                max-width: 760px;
                width: 100%;

                @media(max-width: 1024px) {
                    max-width: 711px;
                    margin: 0 auto;
                    width: 100%;
                }

                @media(max-width: 620px) {
                    text-align: left;
                    max-width: initial;
                    margin: initial;
                }
            }

            &__note {
                text-align: center;
                margin-top: 44px;

                @media(max-width: 1024px) {
                    margin-top: 15px;
                }

                @media(max-width: 620px) {
                    text-align: left;
                }

                a {
                    font-weight: 700;

                    &:hover {
                        color: $green-1;
                    }
                }
            }

            &__bg {
                @media(max-width: 620px) {
                    background-image: none !important;
                }
            }
        }
    }

    .btn--special {
        @media(max-width: 620px) {
            margin: 22px 0 0;
        }
    }

    &--transparent {
        background-color: $grey-13;

        @media(max-width: 620px) {
            padding-top: 45px;
            padding-bottom: 48px;
        }

        .place {
            &__bg {
                @media(max-width: 1024px) {
                    background-image: none !important;
                }
            }
        }
    }
}