.rating {
  display: none;
  
  @media (max-width: 620px) {
    display: block;
  }

  &__title {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 65px;
  }

  &__text {
    line-height: 1.22;
    margin-top: 14px;
  }
}