.rating {
  display: flex;
  flex-direction: column;
  opacity: 0;

  @media(max-width: 1024px) {
    justify-content: center;
  }

  @media(max-width: 620px) {
    max-width: 385px;
    margin: 0 auto;
  }
  

  &__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 24px;

    @media(max-width: 1024px) {
      font-size: 20px;
      margin-top: 20px;
    }

    @media(max-width: 620px) {
      font-size: 15px;
      margin-top: 15px;
    }
  }

  &__text {
    line-height: 1.7;
    margin-top: 12px;
    font-size: 17px;

    @media(max-width: 1024px) {
      font-size: 14px;
      max-width: 232px;
      width: 100%;
    }

    @media(max-width: 768px) {
      max-width: initial;
    }

    @media(max-width: 620px) {
      display: none;
    }

    &--mobile {
      display: none;

      @media(max-width: 620px) {
        display: inline-block;
        max-width: 111px;
        margin: 6px auto 0;
        font-size: 11px;
        line-height: 1.7;
        letter-spacing: -0.03em;
      }
    }
  }


  &__items {
    display: flex;
    flex-wrap: wrap;
    max-width: 922px;
    margin: 112px -16px 0;
    
  
    @media(max-width: 1024px) {
      margin: 48px -5px 0;
    }

    @media(max-width: 620px) {
      margin: 90px -2px 0;
    }
  }

  &__item {
    width: calc(33.333% - 32px);
    margin: 0 16px;

    @media(max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(33.333% - 10px);
      margin: 0 5px;
    }

    @media(max-width: 620px) {
      width: calc(33.33% - 4px);
      margin: 0 2px;
    }

    &:hover {

      .rating__img {
        background: url("../img/rating-silver.png") no-repeat center;
        background-size: contain;
      }
    }
  }

  &__img {
    width: 45px;
    height: 86px;
    background: url("../img/rating-gold.png") no-repeat center;
    background-size: contain;
    transition: 0.2s ease-in-out;

    @media(max-width: 1024px) {
      width: 36px;
      height: 70px;
    }

    @media(max-width: 620px) {
      width: 32px;
      height: 62px;
    }
  }

  &__note {
    font-size: 14px;
    line-height: 1.65;
    margin-top: 135px;

    @media(max-width: 1024px) {
      margin-top: 34px;
    }

    @media(max-width: 620px) {
      font-size: 11px;
      line-height: 1;
      margin-top: 40px;
    }
  }
}