.accordion
    .accordion__container.container
        .accordion__title.title-3 Часто задаваемые вопросы
        .accordion__cover
            .accordion__items
                .accordion__item
                    .accordion__panel
                        .accordion__text Какова процентная ставка?
                        .accordion__pic
                    .accordion__list
                        .accordion__content
                            p Услуга «SEO-продвижение» обеспечивает выполнение ряда действий, направленных на улучшение позиций сайта клиента в поисковых системах «Яндекс» и Google.
                .accordion__item
                    .accordion__panel
                        .accordion__text Какова процентная ставка?
                        .accordion__pic
                    .accordion__list
                        .accordion__content
                            p Услуга «SEO-продвижение» обеспечивает выполнение ряда действий, направленных на улучшение позиций сайта клиента в поисковых системах «Яндекс» и Google.
                .accordion__item
                    .accordion__panel
                        .accordion__text Какова процентная ставка?
                        .accordion__pic
                    .accordion__list
                        .accordion__content
                            p Услуга «SEO-продвижение» обеспечивает выполнение ряда действий, направленных на улучшение позиций сайта клиента в поисковых системах «Яндекс» и Google.
                .accordion__item
                    .accordion__panel
                        .accordion__text Какова процентная ставка?
                        .accordion__pic
                    .accordion__list
                        .accordion__content
                            p Услуга «SEO-продвижение» обеспечивает выполнение ряда действий, направленных на улучшение позиций сайта клиента в поисковых системах «Яндекс» и Google.
                .accordion__item
                    .accordion__panel
                        .accordion__text Какова процентная ставка?
                        .accordion__pic
                    .accordion__list
                        .accordion__content
                            p Услуга «SEO-продвижение» обеспечивает выполнение ряда действий, направленных на улучшение позиций сайта клиента в поисковых системах «Яндекс» и Google.
                .accordion__item
                    .accordion__panel
                        .accordion__text Какова процентная ставка?
                        .accordion__pic
                    .accordion__list
                        .accordion__content
                            p Услуга «SEO-продвижение» обеспечивает выполнение ряда действий, направленных на улучшение позиций сайта клиента в поисковых системах «Яндекс» и Google.
                .accordion__item
                    .accordion__panel
                        .accordion__text Какова процентная ставка?
                        .accordion__pic
                    .accordion__list
                        .accordion__content
                            p Услуга «SEO-продвижение» обеспечивает выполнение ряда действий, направленных на улучшение позиций сайта клиента в поисковых системах «Яндекс» и Google.