.breadcrumbs
    .breadcrumbs__container.container
        a(href="javascript:void(0);").breadcrumbs__link.link.link--crumbs.active Главная
        a(href="javascript:void(0);").breadcrumbs__link.link.link--crumbs О нас