.breadcrumbs
    .breadcrumbs__container.container
        a(href="javascript:void(0);").breadcrumbs__link.link.link--crumbs.active Главная
        a(href="javascript:void(0);").breadcrumbs__link.link.link--crumbs.active Блог
        a(href="javascript:void(0);").breadcrumbs__link.link.link--crumbs Контент-маркетинг для бизнеса: тренды на 2021 год