case includeBloc
  when 'landing'
    .include.include--landing
        .include__container.container
            .include__title.title-3 Для кого подойдет одностраничный сайт?
            .include__cover
                .include__items
                    .include__item 
                        .include__header Кто хочет презентовать свой товар
                        .include__txt Для лучшей продажи товара/услуги очень часто создаются лендинги. На эту посадочную страницу направляются лиды из рекламы, она же анонсируется при запуске маркетинговой кампании, и пользователь уже не отвлекается на ненужные ему в момент покупки вещи.
                    .include__item 
                        .include__header Кто хочет протестировать торговое предложение
                        .include__txt Тестирование — основа качественных продаж и оптимизации вашего ресурса. Для таких целей идеально подходят лендинги: перенаправьте часть пользователей на тестовую страницу, чтобы определить лучший вариант.
                    .include__item 
                        .include__header Кто хочет анонсировать мероприятие
                        .include__txt Для анонса мероприятий, таких как праздники, семинары, презентации, лучше всего подходят лендинги, даже если у Вас есть рабочий сайт. Это шанс отследить Ваших пользователей на конкретном канале, собрать больше людей и не перегружать площадку для продаж анонсами.
                    .include__item 
                        .include__header Кто хочет собрать контакты пользователей
                        .include__txt Рано или поздно Ваш бизнес может столкнуться с проблемой нехватки имеющейся базы пользователей. Как собирать контакты потенциальных клиентов? С помощью лендинга, на котором присутствуют формы обратной связи.
  
  when 'vacancy'
    .include.include--vacancy
        .include__container.container
            .include__title.title-3 Плюшки, которые тебя ждут
            .include__cover
                .include__items
                    .include__item 
                        .include__pic(style="background-image: url(./img/icon/set-job.svg)")
                        .include__right
                            .include__header Различные проекты
                            .include__txt Работаем с крупным и малым бизнесом из самых разных отраслей.
                    .include__item 
                        .include__pic(style="background-image: url(./img/icon/set-job.svg)")
                        .include__right
                            .include__header полная занятость 
                            .include__txt Рабочий день с понедельника по пятницу с 9:00-18:00.
                    .include__item 
                        .include__pic(style="background-image: url(./img/icon/set-job.svg)")
                        .include__right
                            .include__header Различные проекты
                            .include__txt Работаем с крупным и малым бизнесом из самых разных отраслей.
                    .include__item 
                        .include__pic(style="background-image: url(./img/icon/set-job.svg)")
                        .include__right
                            .include__header Различные проекты
                            .include__txt Работаем с крупным и малым бизнесом из самых разных отраслей.
                    .include__item 
                        .include__pic(style="background-image: url(./img/icon/set-job.svg)")
                        .include__right
                            .include__header Различные проекты
                            .include__txt Работаем с крупным и малым бизнесом из самых разных отраслей.
                    .include__item 
                        .include__pic(style="background-image: url(./img/icon/set-job.svg)")
                        .include__right
                            .include__header Различные проекты
                            .include__txt Работаем с крупным и малым бизнесом из самых разных отраслей.