.include-menu
    .include-menu__menu
        a(href="javascript:void(0);").include-menu__link.include-menu__link--active Статьи
        a(href="javascript:void(0);").include-menu__link Кейсы
        a(href="javascript:void(0);").include-menu__link События
        a(href="javascript:void(0);").include-menu__link Все