case includeBloc
  when 'vacancy'
    .include.include--vacancy
        .include__container.container
            .include__title.title-3 Плюшки, которые тебя ждут
            .include__cover
                .include__items
                    .include__item 
                        .include__pic
                        .include__right
                            .include__header Различные проекты
                            .include__txt Работаем с крупным и малым бизнесом из самых разных отраслей.
                    .include__item 
                        .include__pic
                        .include__right
                            .include__header Различные проекты
                            .include__txt Работаем с крупным и малым бизнесом из самых разных отраслей.
                    .include__item 
                        .include__pic
                        .include__right
                            .include__header Различные проекты
                            .include__txt Работаем с крупным и малым бизнесом из самых разных отраслей.
                    .include__item 
                        .include__pic
                        .include__right
                            .include__header Различные проекты
                            .include__txt Работаем с крупным и малым бизнесом из самых разных отраслей.
                    .include__item 
                        .include__pic
                        .include__right
                            .include__header Различные проекты
                            .include__txt Работаем с крупным и малым бизнесом из самых разных отраслей.
                    .include__item 
                        .include__pic
                        .include__right
                            .include__header Различные проекты
                            .include__txt Работаем с крупным и малым бизнесом из самых разных отраслей.