.request-popup.js-form-request
    .request-popup__close.js-close-form
    .request-popup__inner
        .request-popup__left
            .request-popup__title Время покорять новые вершины!
            form.request-popup__form
                .form-group
                    select.select
                        option 1
                        option 2
                        option 3
                .form-group
                    input.form-group__input(type="text" placeholder="Ваше имя")
                .form-group
                    input.form-group__input(type="tel" placeholder="Ваш телефон")
                a(href="#").btn.btn--special
                    .btn__special
                        span Заказать проект
                    .btn__text Заказать проект
            .request-popup__quote Нажимая кнопку “Заказать проект”, вы принимаете условия <a href="javascript:void(0);">пользовательского соглашения</a>
        .request-popup__right(style="background-image: url(img/bg.jpg)")

//- .grace-popup
//-     .grace-popup__close
//-     .grace-popup__inner
//-         .grace-popup__pic
//-             +svg('heart')
//-         .grace-popup__title Ваше сообщение отправлено!
//-         .grace-popup__quote В ближайшее время наш менеджер свяжется с Вами.


