case partners_quote
    when 'true'
        .partners.partners--magazine
            .container
                .partners__title.title-4 Наши клиенты
                .partners__quote Нам доверяют множество компаний, которым мы оказали помощь при создании сайта.
                .partners__slider.js-slider-partners
                    .swiper-wrapper
                        .swiper-slide
                            img(src="img/partners/l1.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l2.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l3.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l4.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l5.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l6.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l7.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l8.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l9.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l10.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l11.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l12.svg" alt="")
    default
        .partners
             .partners__container.container
                .partners__slider.js-slider-partners
                    .swiper-wrapper
                        .swiper-slide
                            img(src="img/partners/l1.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l2.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l3.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l4.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l5.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l6.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l7.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l8.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l9.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l10.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l11.svg" alt="")
                        .swiper-slide
                            img(src="img/partners/l12.svg" alt="")