case partners_quote
    when 'true'
        .partners.partners--special
            .partners__container.container
                h2.partners__title.title-4 Наши клиенты
                .partners__quote Нам доверяют множество компаний, которым мы оказали помощь при создании сайта.
                .partners__items
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l1.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l14.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l3.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l4.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l5.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l6.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l7.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l8.svg" alt="")
                    .partners__item
                            img(src="img/partners/l9.svg" alt="")
                    .partners__item
                            img(src="img/partners/l10.svg" alt="")
                    .partners__item
                            img(src="img/partners/l11.svg" alt="")
                    .partners__item
                            img(src="img/partners/l12.svg" alt="")
    default
        .partners
             .partners__container.container
                .partners__items
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l1.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l14.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l15.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l16.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l10.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l17.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l3.svg" alt="")
                    .partners__item.partners__item--mobile
                            img(src="img/partners/l7.svg" alt="")
                    .partners__item
                            img(src="img/partners/l6.svg" alt="")
                    .partners__item
                            img(src="img/partners/l18.svg" alt="")
                    .partners__item
                            img(src="img/partners/l2.svg" alt="")
                    .partners__item
                            img(src="img/partners/l19.svg" alt="")
                    .partners__item
                            img(src="img/partners/l8.svg" alt="")
                    .partners__item
                            img(src="img/partners/l20.svg" alt="")
                    .partners__item
                            img(src="img/partners/l12.svg" alt="")
                    .partners__item
                            img(src="img/partners/l9.svg" alt="")