case priceList
    when '3'
        .price(style=`background-image: url(./img/decor/dec15.png); ${priceBg}`)
            .price__container.container
                .price__title.title-3 Стоимость контекстной рекламы
                .price__cover
                    .price__items
                        a(href="javascript:void(0);").price__item
                            .price__top 
                                .price__header ПОЛНЫЙ Аудит рекламных компаний
                                .price__period от 2 дней на разработку
                            .price__list
                                .price__ref Проверяем рекламные кампании по чек-листам Яндекс и Google;
                                .price__ref Составляем список рекомендаций по улучшению кампаний;
                                .price__ref Перераспределяем рекламный бюджет для результативности;
                                .price__ref Внедряем рекомендации по результатам аудита.
                            .price__bottom 
                                .price__price бесплатно
                                .price__href.link.link--detail заказать проект
                        a(href="javascript:void(0);").price__item
                            .price__top 
                                .price__header ПОЛНЫЙ Аудит рекламных компаний
                                .price__period от 2 дней на разработку
                            .price__list
                                .price__ref Проверяем рекламные кампании по чек-листам Яндекс и Google;
                                .price__ref Составляем список рекомендаций по улучшению кампаний;
                                .price__ref Перераспределяем рекламный бюджет для результативности;
                                .price__ref Внедряем рекомендации по результатам аудита.
                            .price__bottom 
                                .price__price бесплатно
                                .price__href.link.link--detail заказать проект
                        a(href="javascript:void(0);").price__item
                            .price__top 
                                .price__header ПОЛНЫЙ Аудит рекламных компаний
                                .price__period от 2 дней на разработку
                            .price__list
                                .price__ref Проверяем рекламные кампании по чек-листам Яндекс и Google;
                                .price__ref Составляем список рекомендаций по улучшению кампаний;
                                .price__ref Перераспределяем рекламный бюджет для результативности;
                                .price__ref Внедряем рекомендации по результатам аудита.
                            .price__bottom 
                                .price__price бесплатно
                                .price__href.link.link--detail заказать проект
    when '2'
        .price(style=`background-image: url(./img/decor/dec15.png); ${priceBg}`)
            .price__container.container
                .price__title.title-3 Стоимость контекстной рекламы
                .price__cover
                    .price__items
                        a(href="javascript:void(0);").price__item
                            .price__top 
                                .price__header ПОЛНЫЙ Аудит рекламных компаний
                                .price__period от 2 дней на разработку
                            .price__text Готовим контент и делаем одностраничник на популярном конструкторе
                            .price__list
                                .price__ref Проверяем рекламные кампании по чек-листам Яндекс и Google;
                                .price__ref Составляем список рекомендаций по улучшению кампаний;
                            .price__bottom.price__bottom--line
                                .price__price от 60 000₽
                                .price__href.link.link--detail ЗАКАЗАТЬ разработку сайта
                        a(href="javascript:void(0);").price__item
                            .price__top 
                                .price__header ПОЛНЫЙ Аудит рекламных компаний
                                .price__period от 2 дней на разработку
                            .price__text Готовим контент и делаем одностраничник на популярном конструкторе
                            .price__list
                                .price__ref Проверяем рекламные кампании по чек-листам Яндекс и Google;
                                .price__ref Составляем список рекомендаций по улучшению кампаний;
                                .price__ref Перераспределяем рекламный бюджет для результативности;
                                .price__ref Перераспределяем рекламный бюджет для результативности;
                                .price__ref Внедряем рекомендации по результатам аудита.
                            .price__bottom.price__bottom--line
                                .price__price от 60 000₽
                                .price__href.link.link--detail ЗАКАЗАТЬ разработку сайта