case quote
  when 'services'
    .quote
        .quote__container.container
            .quote__title.title-2 Что мы можем предложить?
            .quote__bloc
                .quote__par Uralmedias оказывает самый полный комплекс услуг в работе с Вашим бизнесом. Наша работа - это погружение в сферу Вашей деятельности, ее проблемы и трудности, цели и задачи.

  when 'about'
    .quote
        .quote__container.container
            .quote__title.title-2 Digital-агентство полного цикла
            .quote__bloc
                .quote__par Uralmedias - это креативное digital-агентство полного цикла, занимающееся разработкой фирменных сайтов, брендингом, развитием и продвижением проектов в digital-пространстве.
                .quote__par Мы верим, что хороший сайт рождается путем полного погружения в задачи заказчика, поиска лучших решений и сплоченной командной работы. Uralmedias является официальным партнером 1С-Битрикс и Битрикс 24. Наши ведущие специалисты прошли обучающие курсы на базе данных систем. Мы работаем более 7 лет. В нашей коллекции более 300 проектов. Наше агентство работает на таких CMS, как 1С Битрикс и modX.
  when 'seo'
    .quote
        .quote__container.container
            .quote__title.title-2 Что входит в SEO-оптимизацию сайта?
            .quote__bloc
                .quote__par SEO-продвижение сайта является базовой составляющей продвижения сайта. Только после даной услуги можно перейи к полноценному ведению Вашего сайта, чтобы вывести его в топ.
  when 'advertising'
    .quote.quote--advertising
        .quote__container.container
            .quote__title.title-2 Контекстная реклама
            .quote__bloc
                .quote__par Контекстная реклама по праву считается продуктивным механизмом для роста продаж и привлечения новых клиентов. Данный тип рекламы является текстовым объявлением, иногда может содержать в себе изображение. Реклама показывается человеку в поисковой выдаче на основе его запросов, а также на сайтах и ресурсах, учитывая ранее просмотренные страницы.
  when 'landing'
    .quote.quote--advertising
        .quote__container.container
            .quote__title.title-2 Что такое лендинг?
            .quote__bloc
                .quote__par Лендинг (landing page), одностраничный сайт — веб-страница, основной задачей которой является сбор контактных данных целевой аудитории. Обычно она посвящена продаже одной услуги или продукта. Цель любого лендинга — перевести клиента на следующий этап воронки продаж.
  when 'vacancy'
    .quote
        .quote__container.container
            .quote__title.title-2 Мы - одно из ведущих агенств в городе!
            .quote__bloc
                .quote__par Наша компания работает со многими клиентами, например, “Магнитогорский Металл”, “Роза Ветров”, “МБФ”. Мы стараемся решать только интересные задачи и закрывать их точно в срок! 
                .quote__par Uralmedias с теплотой и вниманием относится к молодым сотрудникам и помогает адаптироваться на новом рабочем месте. Все участники нашей компании стараются постоянно самосовершенствоваться и достигать новых высот, а Uralmedias безусловно помогает им в этом!
  default
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. A eos placeat ab, recusandae ea soluta nemo iusto incidunt aliquam perspiciatis obcaecati animi nam deserunt, quasi id ex reprehenderit expedita est!