.seo-slider
    - var quote = 'h4';
    - var quoteTitle = 'Примеры корпоративных сайтов';
    - var quoteInfo = ['Мы стараемся удовлетворить абсолютно все требования заказчика и создать сайт, который радует глаз и приносит прибыль.'];
    include ../modules/quote
    .seo-slider__container.container
        include ./slider