.seo-slider
    .seo-slider__container.container
        .seo-slider__title.title-4 Примеры одностраничных сайтов
        .seo-slider__note Мы стараемся удовлетворить абсолютно все требования заказчика и создать сайт, который радует глаз и приносит прибыль.
        .works.js-works
            .swiper-wrapper
                a(href="javascript:void(0);").works__item.swiper-slide
                    .works__pic
                        img(src="./img/portfolio/p1.png" alt="")
                    .works__content
                        .works__top
                            .works__unit.works__unit--title Корпоративный сайт
                            .works__unit.works__unit--href mgkapobeda.com
                        .works__midle
                            .works__article МГКА “ПОБЕДА”
                            .works__txt Сайт для московской коллегии адвокатов
                        .works__bottom
                            .works__link СМОТРЕТЬ ПРОЕКТ
                a(href="javascript:void(0);").works__item.swiper-slide
                    .works__pic
                        img(src="./img/portfolio/p1.png" alt="")
                    .works__content
                        .works__top
                            .works__unit.works__unit--title Корпоративный сайт
                            .works__unit.works__unit--href mgkapobeda.com
                        .works__midle
                            .works__article МГКА “ПОБЕДА”
                            .works__txt Сайт для московской коллегии адвокатов
                        .works__bottom
                            .works__link СМОТРЕТЬ ПРОЕКТ
                a(href="javascript:void(0);").works__item.swiper-slide
                    .works__pic
                        img(src="./img/portfolio/p1.png" alt="")
                    .works__content
                        .works__top
                            .works__unit.works__unit--title Корпоративный сайт
                            .works__unit.works__unit--href mgkapobeda.com
                        .works__midle
                            .works__article МГКА “ПОБЕДА”
                            .works__txt Сайт для московской коллегии адвокатов
                        .works__bottom
                            .works__link СМОТРЕТЬ ПРОЕКТ
                a(href="javascript:void(0);").works__item.swiper-slide
                    .works__pic
                        img(src="./img/portfolio/p1.png" alt="")
                    .works__content
                        .works__top
                            .works__unit.works__unit--title Корпоративный сайт
                            .works__unit.works__unit--href mgkapobeda.com
                        .works__midle
                            .works__article МГКА “ПОБЕДА”
                            .works__txt Сайт для московской коллегии адвокатов
                        .works__bottom
                            .works__link СМОТРЕТЬ ПРОЕКТ
            .arrow
                .arrow__link.arrow__link--prev
                    +svg('arr-slider')
                .arrow__link.arrow__link--next
                    +svg('arr-slider')
            .pagination