.progress {
    background-color: $ochre;
    margin-top: 87px;
    padding: 30px 0 41px;

    @media(max-width: 620px) {
        margin-top: 47px;
        padding: 50px 0 41px;
    }

    &__cover {
        @media(max-width: 1600px) {
            max-width: 1024px;
            margin: 0 auto;
        }
    }

    &__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 28px;

        @media(max-width: 1900px) {
            padding-left: 0;
            justify-content: space-between;
            flex-wrap: nowrap;
        }

    }

    &__item {
        text-align: center;

        @media(max-width: 620px) {
            width: 100%;
        }

        &:not(:first-child) {
            @media(max-width: 620px) {
                margin-top: 29px;
            }
        }

        &:not(:last-child) {
            margin-right: 90px;

            @media(max-width: 1900px) {
                margin-right: 50px;
            }

            @media(max-width: 620px) {
                margin-right: 0;
            }
        }

        &:first-child {
            margin-right: 115px;

            @media(max-width: 1900px) {
                margin-right: 50px;
            }

            @media(max-width: 620px) {
                margin-right: 0;
            }
        }

        &:nth-child(3) {
            margin-right: 87px;
            
            @media(max-width: 1900px) {
                margin-right: 50px;
            }

            @media(max-width: 620px) {
                margin-right: 0;
            }

            .progress__text {
                max-width: 196px;

                @media(max-width: 620px) {
                    max-width: 187px;
                }
            }
        }

        &:last-child {
            .progress__text {
                max-width: 170px;
                margin: 0 auto;

                @media(max-width: 620px) {
                    margin-top: 10px;
                }
            }
        }


    }

    &__num {
        font-size: 120px;
        line-height: 120px;
        color: $green-1;

        @media(max-width: 620px) {
            font-size: 83px;
            line-height: 63px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 25px;
        max-width: 235px;
        width: 100%;
        text-align: center;
        margin: 5px 0px 0;

        @media(max-width: 620px) {
            margin: 10px auto 0;
            font-size: 17px;
            max-width: 187px;
        }
    }
}