.team {
    margin-top: 76px;

    @media(max-width: 620px) {
        margin-top: 52px;
    }

    &__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -26px;

        @media(max-width: 1235px) {
            margin-left: -20px;
            margin-top: -20px;
        }

        @media(max-width: 620px) {
            margin-left: -16px;
            margin-top: -16px;
        }
    }

    &__item {
        width: calc(20% - 30px);
        margin-left: 30px;
        padding-bottom: 30px;
        margin-top: 26px;
        transition: .3s ease-in;
        border-radius: 5px;
        overflow: hidden;

        @media(max-width: 1235px) {
            width: calc(20% - 20px);
            margin-left: 20px;
            margin-top: 20px;
        }

        @media(max-width: 1100px) {
            width: calc(25% - 20px);
        }

        @media(max-width: 640px) {
            width: calc(33.333% - 20px);
        }

        @media(max-width: 620px) {
            width: calc(33.333% - 16px);
            margin-top: 16px;
            margin-left: 16px;
            padding-bottom: 13px;
        }

        @media(max-width: 500px) {
            width: calc(50% - 16px);
        }

        &:hover {
            box-shadow: 0px 4px 7px rgba(51, 51, 51, 0.1);
        }
    }

    &__name {
        font-size: 18px;
        line-height: 18px;
        margin-top: 22px;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        

        @media(max-width: 620px) {
            font-size: 12px;
            line-height: 12px;
            margin-top: 13px;
        }
    }

    &__title {
        text-align: center;
    }

    &__cover {
        margin-top: 44px;

        @media(max-width: 620px) {
            margin-top: 28px;
        }
    }

    &__pic {
        min-height: 274px;
        background-color: $ochre;
        border-radius: 12px 12px 0px 0px;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: auto;

        @media(max-width: 1235px) {
            min-height: 250px;
        }

        @media(max-width: 768px) {
            min-height: 200px;
        }

        @media(max-width: 400px) {
            min-height: 165px;
        }
    }

    &__status {
        font-size: 14px;
        line-height: 14px;
        margin-top: 12px;
        text-align: center;
        color: $grey-6;

        @media(max-width: 620px) {
            font-size: 10px;
            line-height: 10px;
            margin-top: 10px;
        }
    }
}