.call {
    margin-top: 53px;
    margin-bottom: 90px;

    @media(max-width:1024px) {
        margin-bottom: 80px;
    }

    @media(max-width:620px) {
        margin-bottom: 60px;
    }

    &__note {
        display: none;

        @media(max-width: 882px) {
            display: inline-block;
            text-align: center;
        }

        @media(max-width: 620px) {
            font-size: 16px;
        }
    }

    &__title {
        position: relative;
        font-weight: 500;
        max-width: 207px;
        width: 100%;
        text-align: center;
        padding-bottom: 36px;
        margin-bottom: 25px;

        @media(max-width: 882px) {
            max-width: initial;
        }

        @media(max-width: 620px) {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        &::after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            margin: auto;
            max-width: 80px;
            width: 100%;
            background-color: $red-2;
            height: 2px;

        }
    }

    &__top {
        text-align: center;
        margin-bottom: 60px;

        @media(max-width: 882px) {
            margin-bottom: 30px;
        }

        @media(max-width: 620px) {
            margin-bottom: 24px;
        }
    }

    &__left {
        max-width: 207px;
        width: 100%;
        margin-right: 102px;

        @media(max-width: 1024px) {
            margin-right: 55px;
        }

        @media(max-width: 882px) {
            max-width: 100%;
            margin-right: auto;
        }
    }

    &__grid {
        display: flex;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 54px 50px 52px 43px;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;

        @media(max-width: 882px) {
            flex-direction: column;
            align-items: center;
            padding: 0;
            box-shadow: none;
        }
    }

    &__txt {
        font-size: 16px;
        line-height: 26px;
        max-width: 186px;
        text-align: center;
        margin: 0 auto;
        margin-top: 6px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 21px;
            margin-top: 15px;
        }

        @media(max-width: 882px) {
            display: none;
        }
    }

    &__img {
        width: 147px;
        height: 147px;
        background-color: $grey-3;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(max-width: 882px) {
            display: none;
        }
    }

    &__name {
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        margin-top: 13px;
    }

    &__status {
        font-size: 14px;
        line-height: 22px;
        margin-top: 5px;
        color: $grey-4;
    }

    &__right {
        max-width: 856px;
        width: 100%;

        @media(max-width: 882px) {
            padding: 40px 30px 43px;
            background: #FFFFFF;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        @media(max-width: 620px) {
            box-shadow: none;
            border-radius: initial;
            padding: 0;
        }

        .btn {
            margin: 25px 0 0;

            @media(max-width: 500px) {
                margin-top: 30px;
            }
        }
    }

    &__bloc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -20px;

        @media(max-width: 500px) {
            flex-direction: column;
        }

        .form-group {
            width: 46.73%;

            @media (max-width: 767px) {
                width: 100%;
            }

            &__input {
                padding: 13px 15px;

                @media (max-width: 620px) {
                    padding: 10px;
                }
            }

            &.select {
                position: relative;
            }
        }
    }

    &__quote {
        color: $grey-6;
        font-size: 10px;
        line-height: 14px;
        margin-top: 14px;

        @media(max-width: 1024px) {
            font-size: 10px;
            line-height: 10px;
            margin-top: 20px;
        }

        @media(max-width: 620px) {
            line-height: 17px;
            margin-top: 17px;
        }

        a {
            color: $black;

            &:hover {
                color: $red-2;
            }
        }
    }

    &__form {



        .btn {
            width: 224px;
        }
    }


    &--special {
        .call {

            &__title {
                @media(max-width: 882px) {
                    padding-bottom: 36px;
                    margin-bottom: 36px;
                }
            }

            &__top {
                @media(max-width: 882px) {
                    margin-bottom: 0;
                }
            }

            &__txt {
                max-width: 155px;
                width: 100%;

                @media(max-width: 1024px) {
                    max-width: 140px;
                }
            }

            &__left {
                display: flex;
                flex-direction: column;
            }

            &__form {
                &--grid {
                    display: grid;
                    grid-template-columns: minmax(auto, 590px) 215px;
                    grid-template-rows: repeat(6, auto);
                    grid-template-areas:
                        'name service'
                        'phone service'
                        'adres service'
                        'comment comment'
                        'request request';
                    grid-row-gap: 19px;
                    grid-column-gap: 51px;

                    @media(max-width: 768px) {
                        grid-template-areas:
                            'name name'
                            'phone phone'
                            'adres adres'
                            'comment comment'
                            'service service'
                            'request request';
                    }

                    @media(max-width: 620px) {
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 20px;
                    }

                    .form-group {
                        margin-top: 0;

                        &--name {
                            grid-area: name;
                        }

                        &--phone {
                            grid-area: phone;
                        }

                        &--adres {
                            grid-area: adres;
                        }

                        &--comment {
                            grid-area: comment;
                        }

                        &--service {
                            grid-area: service;

                            .selection {
                                &__list {
                                    margin-top: 28px;

                                    @media(max-width: 768px) {
                                        display: grid;
                                        grid-template-rows: repeat(3, auto);
                                        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                                        max-width: 440px;
                                        margin-top: 0;
                                    }

                                    .checkbox {
                                        margin-top: 27px;

                                        @media(max-width: 1920px) {
                                            margin-top: 15px;
                                        }

                                        &__label {
                                            font-size: 12px;
                                        }

                                        &__input:checked+.checkbox__label::before {
                                            background-color: $green-1;
                                            border-color: $green-1;
                                        }
                                    }
                                }
                            }
                        }

                        &--request {
                            grid-area: request;

                            @media(max-width: 768px) {
                                margin-top: 25px;
                            }
                        }

                        textarea {
                            min-height: 85px;
                            height: auto;
                        }
                    }

                }
            }

            &__grid {
                padding: 50px 50px 40px 43px;

                @media(max-width: 620px) {
                    padding: 0;
                }
            }

            &__bottom {
                margin-top: auto;
            }

            &__left {
                padding-bottom: 15px;

                @media(max-width: 882px) {
                    padding-bottom: 0;
                }
            }

            &__txt {
                span {
                    font-weight: 700;
                    color: $red-2
                }
            }

            &__right {
                @media(min-width: 883px) {
                    padding-top: 7px;
                }




                .btn {
                    margin: 3px 0 0;
                }
            }
        }
    }

    .select2+.select2-container {
        position: absolute;
        top: 77px !important;
        left: 0px !important;
    }

}