.call {
    margin-top: 53px;

    &__title {
        font-size: 40px;
        line-height: 44px;
        font-weight: 900;
        max-width: 207px;
        width: 100%;
        text-align: center;
    }

    &__top {
        text-align: center;
        margin-bottom: 85px;
    }

    &__left {
        max-width: 207px;
        width: 100%;
        margin-right: 102px;
    }

    &__grid {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 54px 50px 52px 43px;
    }

    &__txt {
        font-size: 16px;
        line-height: 26px;
        max-width: 186px;
        text-align: center;
        margin: 0 auto;
        margin-top: 6px;
    }

    &__img {
        width: 147px;
        height: 147px;
        background-color: $grey-3;
        overflow: hidden;
        border-radius: 50%;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        margin-top: 13px;
    }

    &__status {
        font-size: 14px;
        line-height: 22px;
        margin-top: 5px;
        color: $grey-4;
    }

    &__right {
        max-width: 856px;
        width: 100%;

        .btn--submit {
            display: inline-block;
            margin-top: 18px;
        }
    }

    &__grid {
        display: flex;
    }

    &__group {
        display: flex;

        &:not(:first-child) {
            margin-top: 19px;
        }

        &--textarea {
            display: block;
        }
    }

    &__unit {
        max-width: 399px;
        width: 100%;

        &:first-child {
            margin-right: 58px;
        }
    }

    &__field {
        height: 44px;
        border: 1px solid $grey-5;
        margin-top: 12px;
        padding: 15px;

        &::placeholder {
            color: $grey-6;
        }
    }

    &__label {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
    }

    &__quote {
        font-size: 14px;
        line-height: 25px;
        color: $grey-6;
        margin-top: 10px;

        a {
            color: $black;

            &:hover {
                color: $green-1;
            }
        }
    }

    textarea {
        height: 85px;
        border: 1px solid $grey-5;
        box-sizing: border-box;
        border-radius: 3px;
        margin-top: 12px;
        padding: 15px;
        padding-top: 9px;

        &::placeholder {
            color: $grey-6;
        }
    }
}