.content {
    margin-top: 18px;

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 2em 0 0;
    }

    p {
        margin: 1.5em 0;
    }

    ul,
    ol {
        margin: 1.5em 0;
    }

    ul {

        li {
            position: relative;
            padding-left: 0.875em;

            &::before {
                position: absolute;
                content: "";
                top: 0.65em;
                left: 0;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background: $black;

                @media (max-width: 620px) {
                    top: 0.75em;
                }
            }

            p {
                &:first-of-type {
                    font-weight: 500;
                }
            }
        }
    }

    ol {
        counter-reset: section;

        li {
            position: relative;
            padding-left: 1.5em;
            counter-increment: section;

            &::before {
                position: absolute;
                content: counter(section) ". ";
                top: 0;
                left: 0;
                font-weight: 500;
            }

            p {
                &:first-of-type {
                    font-weight: 500;
                }
            }
        }
    }

    .toc {
        color: $green-1;
        margin-top: 2.8em;

        @media(max-width: 1024px) {
            margin-top: 2em;
        }

        @media(max-width: 620px) {
            margin-top: 2.3em;
        }

        &__header {
            font-weight: 500;
        }

        &__items {
            margin-top: 1.3em;
            display: inline-flex;
            flex-direction: column;
        }

        &__item {
            position: relative;
            display: block;
            align-self: flex-start;
            padding-bottom: 4px;

            &:after {
                position: absolute;
                content: "";
                width: 0;
                height: 2px;
                background-color: $green-1;
                left: 0;
                bottom: 0;
                transition: all 0.3s linear 0s;
            }

            &:hover {
                text-shadow: 0 0 1px $green-1, 0 0 1px $green-1;

                &:after {
                    width: 100%;
                }
            }

            &:not(:first-child) {
                margin-top: 0.1em;
            }
        }
    }


    .quote {
        position: relative;
        line-height: 1.56;
        font-weight: 500;
        color: #00a4ad;
        padding: 2.06em 0 2.37em;
        margin-top: 2.47em;
        width: 100vw;
        margin-left: 50%;
        transform: translateX(-50%);

        @media(max-width: 1024px) {
            padding: 2.06em 20px 2.37em;
        }

        @media(max-width: 620px) {
            line-height: 1.9;
            padding: 32px 15px;
            margin-top: 32px;
        }

        &:after {
            position: absolute;
            content: "";
            background-color: $ochre;
            height: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            width: 100%;
            left: 0;
            margin: auto;
        }

        &+p {
            margin-top: 2.4em;

            @media(max-width: 620px) {
                margin-top: 32px;
            }
        }

        .article__container {

            @media(max-width: 1300px) {
                max-width: 922px;
            }

            @media(max-width: 1024px) {
                max-width: 100%;
            }
        }
    }

    .list {
        &__title {
            font-size: 1.125rem;
            font-weight: 500;

            @media(max-width: 620px) {
                line-height: 1.33em;
                font-size: 1rem;
            }
        }

        &__info {
            margin-top: 1.375em;

            @media(max-width: 1024px) {
                margin-top: 0.5em;
            }

            @media(max-width: 620px) {
                margin-top: 14px;
            }
        }

        li {
            &:not(:first-child) {
                margin-top: 3.38em;

                @media(max-width: 1024px) {
                    margin-top: 1.75em;
                }

                @media(max-width: 620px) {
                    margin-top: 26px;
                }
            }
        }


        &--num {
            counter-reset: section;

            .list {
                &__title {
                    &::before {
                        counter-increment: section;
                        content: counter(section) ". ";
                    }
                }
            }
        }

        &--points {
            margin-top: 2.8em;
            max-width: 860px;
            width: 100%;

            @media(max-width: 1024px) {
                margin-top: 2em;
            }

            @media(max-width: 620px) {
                margin-top: 1.785em;
            }

            .list {
                &__title {
                    font-size: 1rem;

                    @media(max-width: 620px) {
                        padding-left: .875em;
                    }
                }

                &__info {
                    margin-top: 1em;

                    @media(max-width: 1024px) {
                        margin-top: .5em;
                    }

                    @media(max-width:620px) {
                        margin-top: 0.785em;
                    }
                }
            }

            li {
                position: relative;
                padding-left: 0.875em;

                @media(max-width: 620px) {
                    padding-left: 0;
                }

                &::before {
                    position: absolute;
                    content: "";
                    background-color: $black;
                    margin: auto;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    left: 3px;
                    top: 7px;

                    @media(max-width: 620px) {
                        left: 0px;
                        top: 8px;
                    }
                }

                &:not(:first-child) {
                    margin-top: 2.375em;

                    @media(max-width: 1024px) {
                        margin-top: 1.75em;
                    }

                    @media(max-width:620px) {
                        margin-top: 2.357em;
                    }
                }
            }
        }
    }

    .link {
        &--detail {
            text-transform: uppercase;
            margin-top: 5.9em;

            @media(max-width: 1024px) {
                margin-top: 5em;
            }

            @media(max-width: 620px) {
                margin-top: 3em;
            }
        }
    }

    iframe {
        display: block;
        max-width: 615px;
        width: 100%;
        margin: 0 auto;
        height: 320px;

        @media (max-width: 620px) {
            height: 180px;
        }
    }

    a {
        transition: 0.3s;

        &:hover {
            color: $green-1;
        }

        &[target="_blank"] {
            text-decoration: underline;
        }
    }
}