.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 90px;

    .container {
        display: flex;
        align-items: center;
    }

    &__nav {
        @media(max-width: 768px) {
            margin-top: 18px;
        }

        @media(max-width: 620px) {
            margin-top: -25px;
        }

        @media(max-width: 580px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        position: relative;
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        color: $green-1;
        font-weight: 500;
        padding-bottom: 2px;

        &:hover {
            &::after {
                width: 100%;
            }
        }

        &:after {
            position: absolute;
            content: "";
            width: 0%;
            bottom: 0;
            left: 0;
            transition: .3s ease;
            height: 2px;
            background-color: $green-1;
        }

        &:not(:last-child) {
            margin-right: 40px;

            @media(max-width: 1235px) {
                margin-right: 20px;
            }

            @media(max-width: 768px) {
                margin-right: 35px;
                margin-top: 20px;
            }

            @media(max-width: 580px) {
                margin-right: 0;
            }
        }

        @media(max-width: 580px) {
            margin-top: 21px !important;
        }

        &.active {
            &:after {
                width: 100%;
            }
        }
    }

    &__agreement {
        font-family: 'OpenSans', sans-serif;
        font-size: 12px;

        @media(max-width: 620px) {
            font-size: 10px;
        }

        @media(max-width: 580px) {
            margin-top: 20px;
        }

        &:hover {
            color: $green-1;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        padding-top: 61px;
        padding-bottom: 61px;
        border-top: 5px solid $green-1;

        @media(max-width: 1024px) {
            padding-top: 35px;
            padding-bottom: 35px;
        }

        @media(max-width: 768px) {
            padding-top: 40px;
            padding-bottom: 47px;
        }

        @media(max-width: 620px) {
            border-width: 3px;
        }

        @media(max-width: 580px) {
            padding-top: 34px;
            padding-bottom: 28px;
        }

        .container {
            @media(max-width: 768px) {
                flex-direction: column-reverse;
                align-items: initial;
            }
        }
    }


    &__logo {
        margin-left: auto;
        width: 168px;
        height: 41px;
        transform: translateY(-5px);

        @media(max-width: 768px) {
            margin-left: initial;
            width: 184px;
            height: 41px;
            position: relative;
            left: -10px;
        }

        @media(max-width: 620px) {
            display: none;
        }

        .b-svg {
            height: 100%;
            width: 100%;
            fill: $green-1;
        }
    }

    &__bottom {
        background-color: $ochre;
        padding-top: 25px;
        padding-bottom: 25px;

        @media(max-width: 580px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .container {
            @media(max-width: 580px) {
                flex-direction: column-reverse;
            }
        }
    }

    &__soc {
        display: flex;
        align-items: center;
        margin-left: auto;

        @media(max-width: 580px) {
            margin-left: initial;
        }
    }

    &__icon {
        display: flex;
        align-items: center;

        &:hover {
            transform: scale(1.3);

            path {
                fill: $green-1;
            }
        }

        &:not(:last-child) {
            margin-right: 22px;

            @media(max-width: 1024px) {
                margin-right: 21px;
            }

            @media(max-width: 580px) {
                margin-right: 22px;
            }
        }

        path {
            transition: all 0.3s linear 0s;
        }
    }


}