.form {

  &-group {
    margin-top: 25px;

    @media (max-width: 620px) {
      margin-top: 15px;
    }

    &__label {
      font-size: 16px;

      @media (max-width: 620px) {
        font-size: 14px;
      }

      & + .form-group__input {
        margin-top: 15px;

        @media (max-width: 620px) {
          margin-top: 10px;
        }
      }
    }

    &__input {
      padding: 15px 17px;
      border: 1px solid $grey-7;
      font-size: 14px;
      line-height: 1.2;
      transition: 0.2s;

      @media (max-width: 620px) {
        padding: 17px 10px;
      }

      &::placeholder {
        color: $grey-7;
      }

      &:not(:disabled) {

        &:hover,
        &:focus {
          border-color: $grey-8;
        }
      }

      &:disabled {
        background-color: $grey-7;
      }
    }

    textarea {
      height: 7em;
    }
  }
}

.checkbox {
  display: block;
  margin-top: 15px;
  cursor: pointer;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:not(:disabled) {

      &:not(:checked) {

        &+.checkbox__label {

          &:hover{

            &::before {
              border-color: $red-2;
            }
          }
        }
      }

      &:active {

        &+.checkbox__label {

          &::before {
            background-color: $red-2;
            border-color: $red-2;
          }

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 1px;
            left: 6px;
            width: 4px;
            height: 10px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }

    &:focus {

      &+.checkbox__label {

        &::before {
          border-color: $red-2;
        }
      }

      &:not(:checked) {

        &+.checkbox__label {

          &::before {
            border-color: $red-2;
          }
        }
      }
    }

    &:checked {

      &+.checkbox__label {

        &::before {
          background-color: $red-2;
          border-color: $red-2;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 1px;
          left: 6px;
          width: 4px;
          height: 10px;
          border: solid #fff;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }

    &:disabled {

      &+.checkbox__label {

        &::before {
          background-color: $grey-7;
        }
      }
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 14px;
    line-height: 1.2;

    @media (max-width: 620px) {
      font-size: 12px;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 17px;
      height: 17px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $grey-7;
      margin-right: 7px;
      box-sizing: border-box;
      transition: 0.2s;
    }

    &::after {
      transition: 0.2s;
    }
  }

  &__text-input {
    border-bottom: 1px solid $grey-7;
    margin-left: 6px;

    &:hover,
    &:focus {
      border-bottom-color: $grey-8;
    }
  }
}

.radio {
  display: block;
  margin-top: 15px;
  cursor: pointer;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:not(:disabled) {

      &:not(:checked) {

        &+.radio__label {

          &:hover{

            &::before {
              border-color: $red-2;
            }
          }
        }
      }

      &:active {

        &+.radio__label {

          &::before {
            border-color: $red-2;
          }

          &:after {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }

    &:focus {

      &+.radio__label {

        &::before {
          border-color: $red-2;
        }
      }

      &:not(:checked) {

        &+.radio__label {

          &::before {
            border-color: $red-2;
          }
        }
      }
    }

    &:disabled {

      &+.radio__label {

        &::before {
          background-color: $grey-7;
        }
      }
    }

    &:not(:checked) {

      &+.radio__label {

        &:after {
          opacity: 0;
          transform: scale(0);
        }
      }
    }

    &:checked {

      &+.radio__label {

        &::before {
          border-color: $red-2;
        }

        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 14px;
    line-height: 1.2;

    @media (max-width: 620px) {
      font-size: 12px;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 17px;
      height: 17px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $grey-7;
      border-radius: 100%;
      margin-right: 7px;
      box-sizing: border-box;
      transition: 0.2s;
    }

    &::after {
      content: '';
      width: 11px;
      height: 11px;
      background: $red-2;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      transition: 0.2s;
    }
  }
}

.file {
  display: flex;
  justify-content: center;
  cursor: pointer;

  &__input {
    display: none;
  }

  &__label {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    color: $grey-6;
    transition: 0.2s;

    @media(max-width: 1024px) {
      margin-top: 40px;
    }

    &:hover {
      color: $grey-8;
    }

    &.withFile {

      &::after {
        content: 'X';
        margin-left: 10px;
      }
    }
  }
}

.select {

  .select2 {
    margin-top: 15px;
    width: 100% !important;
  }

  .select2-selection {
    min-height: 44px;
    border-radius: 0;
    border: 1px solid $grey-7;
  }

  .select2-selection__rendered {
    height: 100%;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    display: flex;
    align-items: center;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 46px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 46px;
  }
}