.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    min-height: 79px;
    color: white;

    @media(max-width: 1024px) {
        min-height: 63px;
    }

    @media(max-width: 620px) {
        min-height: 53px;
    }

    &__inner {
        min-height: 79px;
        transition: linear .3s;

        @media(max-width: 1024px) {
            min-height: 63px;
        }

        @media(max-width: 620px) {
            min-height: 53px;
        }
    }

    &__logo {
        height: 43px;
        width: 165px;
        margin-right: 40px;

        svg {
            width: 100%;
            height: 100%;
            fill: white;
        }

        .text {
            @media(max-width: 600px) {
                display: none;
            }
        }

        @media(max-width: 620px) {
            height: 27px;
            width: 39px;
        }

        .logo-desctop {
            @media(max-width: 620px) {
                display: none;
            }
        }

        .logo-mobile {
            display: none;

            @media(max-width: 620px) {
                display: block;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        padding-top: 3px;

        @media(max-width: 1024px) {
            display: none;
        }
    }

    &__sub {
        // visibility: hidden;
        top: 100%;
        position: absolute;
        padding-top: 28px;
        padding-bottom: 0;
        height: auto;
        width: auto;
        z-index: 100;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__item {
        font-size: 14px;
        position: relative;

        &:not(:last-child) {
            margin-right: 35px;
        }

        &:hover {
            color: $green-1;
        }

        &--active {
            color: $green-1;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__container {
        display: flex;
        align-items: center;
        opacity: 0;

        @media(max-width: 620px) {
            padding: 15px 15px 10px;
        }

        @media(max-width: 600px) {
            justify-content: space-between;
        }
    }

    .link--phone {
        margin-left: auto;
        margin-right: 30px;
        font-size: 14px;

        @media(max-width: 1024px) {
            margin-right: 24px;
        }

        @media(max-width: 620px) {
            margin-right: 20px;
        }

        @media(max-width: 600px) {
            display: none;
        }

        &:hover {
            color: $green-1;
        }
    }

    .btn {
        @media(max-width: 600px) {
            display: none;
        }
    }

    &--scroll {
        background-color: white;
        color: $black;

        .btn--call {
            border-color: $red-2;
            color: $red-2;

            &:hover {
                background-color: $red-2;
                color: white;
            }
        }

        .burger {
            .line {
                stroke: $green-1;
            }
        }

        .header__logo {
            svg path {
                fill: $green-1;
            }
        }
    }
}