.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    min-height: 79px;
    color: white;

    @media(max-width: 1024px) {
        min-height: 63px;
    }

    @media(max-width: 620px) {
        min-height: 53px;
    }

    &__inner {
        min-height: 79px;

        @media(max-width: 1024px) {
            min-height: 63px;
        }

        @media(max-width: 620px) {
            min-height: 53px;
        }
    }

    &__logo {
        height: 43px;
        width: 165px;
        margin-right: 40px;

        @media(max-width: 620px) {
            width: 39px;
            height: 27px;
        }

        svg {
            width: 100%;
            height: 100%;
            fill: white;
        }

        .text {
            @media(max-width: 600px) {
                display: none;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        padding-top: 3px;

        @media(max-width: 1024px) {
            display: none;
        }
    }

    &__item {
        font-size: 14px;

        &:not(:last-child) {
            margin-right: 35px;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__container {
        display: flex;
        align-items: center;
        opacity: 0;

        @media(max-width: 600px) {
            justify-content: space-between;
        }
    }

    .link--phone {
        margin-left: auto;
        margin-right: 30px;
        font-size: 14px;

        @media(max-width: 1024px) {
            margin-right: 24px;
        }

        @media(max-width: 620px) {
            margin-right: 20px;
        }

        @media(max-width: 600px) {
            display: none;
        }
    }

    .btn {
        @media(max-width: 600px) {
            display: none;
        }
    }
}