.include {
    background-color: $black-3;
    color: white;
    padding-top: 61px;
    padding-bottom: 75px;

    &__title {
        line-height: 64px;
        text-align: center;
        max-width: 930px;
        margin: 0 auto;
        font-weight: 500;
    }

    &__txt {
        text-align: center;
        max-width: 958px;
        width: 100%;
        margin: 27px auto 0;
        line-height: 25px;
    }

    .btn {
        margin: 60px auto 0;
    }

    &--vacancy {
        margin-top: 84px;
        padding-top: 71px;
        padding-bottom: 104px;

        .include__header {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .include__items {
            display: flex;
            flex-wrap: wrap;
            margin-left: -90px;
            margin-top: -50px;
        }

        .include__item {
            display: flex;
            justify-content: space-between;
            width: calc(33.333% - 90px);
            margin-left: 90px;
            margin-top: 50px;

            &:nth-child(1) {
                .include__pic {
                    background-position-y: -4%;
                }
            }

            &:nth-child(2) {
                .include__pic {
                    background-position-x: 49.5%;
                }
            }

            &:nth-child(3) {
                .include__pic {
                    background-position-x: 100%;
                }
            }

            &:nth-child(4) {
                .include__pic {
                    background-position-x: 0%;
                    background-position-y: 100%;
                }
            }

            &:nth-child(5) {
                .include__pic {
                    background-position-x: 49.7%;
                    background-position-y: 100%;
                }
            }

            &:nth-child(6) {
                .include__pic {
                    background-position-x: 100%;
                    background-position-y: 100%;
                }
            }
        }

        .include__cover {
            max-width: 1184px;
            width: 100%;
            margin: 0 auto;
            margin-top: 60px;
        }

        .include__right {
            max-width: 244px;
            width: 100%;
            padding-top: 5px;
        }

        .include__pic {
            min-width: 68px;
            width: 68px;
            height: 68px;
            background-repeat: no-repeat;
            background-position-y: -4%;
        }

        .include__txt {
            text-align: left;
            max-width: 958px;
            width: 100%;
            margin: 11px auto 0;
            line-height: 22px;
            font-size: 14px;
        }
    }

    &--landing {
        margin-top: 85px;
        padding-top: 67px;
        padding-bottom: 71px;

        .include {
            &__item {
                position: relative;
                width: calc(50% - 45px);
                margin-left: 45px;
                margin-top: 34px;
                padding-left: 24px;

                &:after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 3px;
                    margin: auto;
                    width: 12px;
                    height: 12px;
                    background-color: $red-2;
                    border-radius: 6px;
                }
            }

            &__items {
                display: flex;
                flex-wrap: wrap;
                margin-left: -45px;
                margin-top: -34px;
            }

            &__cover {
                max-width: 1225px;
                width: 100%;
                margin: 0 auto;
                margin-top: 50px;
            }

            &__header {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: -0.1px;
            }

            &__txt {
                margin: 7px auto 0;
                line-height: 22px;
                text-align: left;
            }
        }
    }

    &--promotion {
        margin-top: 89px;
        padding-bottom: 84px;
        padding-top: 66px;

        .include {
            &__items {
                display: flex;
                flex-wrap: wrap;
                margin-left: -145px;
                margin-top: -50px;

                @media(max-width: 1700px) {
                    margin-left: -50px;
                }
            }

            &__item {
                display: flex;
                flex-direction: column;
                width: calc(33.333% - 145px);
                margin-left: 145px;
                margin-top: 50px;

                @media(max-width: 1700px) {
                    width: calc(33.333% - 50px);
                    margin-left: 50px;
                }
            }

            &__num {
                font-size: 48px;
                font-weight: 700;
            }

            &__cover {
                position: relative;
                margin-top: 49px;
            }

            &__header {
                font-size: 18px;
                font-weight: 700;
                margin-top: 23px;
                line-height: 28px;
                max-width: 254px;
                width: 100%;
            }

            &__text {
                margin-top: 15px;
                font-size: 14px;
                line-height: 21px;
            }
        }

        .elements {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            .element {
                position: absolute;
                width: 100%;
                // height: 10px;
                // top: 88px;
                // left: 46px;
                // background-position: left center;
                // background-repeat: no-repeat;
            }
        }
    }

    &--transparent {
        background-color: $ochre;
        color: $black;
        padding-top: 69px;
        padding-bottom: 81px;



        .include {

            &__cover {
                max-width: 1158px;
                width: 100%;
                margin: 0 auto;
                margin-top: 60px;
            }

            &__header {
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
            }

            &__text {
                font-size: 14px;
                margin-top: 12px;
                line-height: 20px;
            }

            &__items {
                display: flex;
                flex-wrap: wrap;
                margin-left: -81px;
                margin-top: -45px;
            }

            &__item {
                position: relative;
                width: calc(33.333% - 81px);
                margin-left: 81px;
                padding-left: 25px;
                margin-top: 45px;

                &:after {
                    position: absolute;
                    content: "";
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    background-color:  $green-1;
                    left: 0;
                    top: 3px;
                    bottom: auto;
                    margin: auto;
                }
            }

            &__quote {
                max-width: 763px;
                width: 100%;
                margin: 0 auto;
                line-height: 24px;
                text-align: center;
            }

            &__title {
                position: relative;
                padding-bottom: 34px;
                margin-bottom: 36px;

                &:after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: auto;
                    margin: auto;
                    max-width: 80px;
                    width: 100%;
                    background-color: $red-2;
                    height: 2px;
        
                    @media(max-width: 620px) {
                        right: auto;
                        max-width: 48px;
                    }
                }
            }
        }
    }

    &--corporate {
        margin-top: 86px;
        padding-top: 69px;
        padding-bottom: 94px;

        .include {
            &__title {
                position: relative;
                padding-bottom: 34px;
                margin-bottom: 38px;

                &:after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: auto;
                    margin: auto;
                    max-width: 80px;
                    width: 100%;
                    background-color: $red-2;
                    height: 2px;
        
                    @media(max-width: 620px) {
                        right: auto;
                        max-width: 48px;
                    }
                }
            }

            &__pic {
                width: 70px;
                min-width: 70px;
                height: 70px;
            }

            &__quote {
                text-align: center;
                max-width: 943px;
                width: 100%;
                margin: 0 auto;
                line-height: 24px;
            }

            &__item {
                display: flex;
                width: calc(50% - 115px);
                margin-left: 115px;
                margin-top: 64px;

                &:nth-child(2) {
                    .include__pic {
                        background-position-x: 99.4%;
                    }
                }

                &:nth-child(3) {
                    .include__pic {
                        background-position-y: 100%;
                    }
                }

                &:nth-child(4) {
                    .include__pic {
                        background-position-x: 100%;
                        background-position-y: 100%;
                    }
                }
            }

            &__items {
                display: flex;
                flex-wrap: wrap;
                margin-left: -115px;
                margin-top: -64px;
            }

            &__left {
                margin-right: 26px;
                padding-top: 12px;
            }

            &__header {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 500;
            }

            &__cover {
                margin-top: 60px;
                max-width: 1043px;
                width: 100%;
                margin: 60px auto 0;
            }

            &__txt {  
                text-align: left;
                max-width: 100%;
                width: 100%;
                line-height: 20px;
                margin-top: 11px;
                font-size: 14px;
            }
        }
    }
}