.include {
    background-color: $black-3;
    color: white;
    padding-top: 61px;
    padding-bottom: 75px;

    @media(max-width: 1024px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__title {
        text-align: center;
        max-width: 925px;
        margin: 0 auto;
        font-weight: 500;

        @media(max-width: 1024px) {
            max-width: 600px;
        }

        @media(max-width: 620px) {
            text-align: left;
        }
    }

    &__txt {
        text-align: center;
        max-width: 958px;
        width: 100%;
        margin: 27px auto 0;
        line-height: 25px;

        @media(max-width: 1024px) {
            margin-top: 20px;
            max-width: 790px;
        }

        @media(max-width: 620px) {
            text-align: left;
        }
    }

    .btn {
        margin: 60px auto 0;

        @media(max-width: 1024px) {
            margin: 45px auto 0;
        }

        @media(max-width: 620px) {
            text-align: left;
            margin-left: 0;
            margin-top: 35px;
        }
    }

    &--vacancy {
        margin-top: 84px;
        padding-top: 71px;
        padding-bottom: 104px;

        @media(max-width:1024px) {
            margin-top: 70px;
            padding-top: 55px;
            padding-bottom: 55px;
        }

        @media(max-width: 620px) {
            padding-top: 40px;
            padding-bottom: 50px;
            margin-top: 55px;
        }

        .include__header {
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .include__items {
            display: flex;
            flex-wrap: wrap;
            margin-left: -90px;
            margin-top: -50px;

            @media(max-width: 1300px) {
                margin-left: -65px;
            }

            @media(max-width: 1235px) {
                margin-left: -40px;
                margin-top: -40px;
            }

            @media(max-width: 1024px) {
                margin-left: -30px;
                margin-top: -30px;
            }
        }

        .include__item {
            display: flex;
            justify-content: space-between;
            width: calc(33.333% - 90px);
            margin-left: 90px;
            margin-top: 50px;

            @media(max-width: 1300px) {
                width: calc(33.333% - 65px);
                margin-left: 65px;
            }

            @media(max-width: 1235px) {
                width: calc(33.333% - 40px);
                margin-left: 40px;
                margin-top: 40px;
            }

            @media(max-width: 1024px) {
                width: calc(50% - 30px);
                margin-left: 30px;
                margin-top: 30px;
            }

            @media(max-width: 500px) {
                width: 100%;
                margin-left: 30px;
                margin-top: 30px;
            }

            &:nth-child(1) {
                .include__pic {
                    background-position-y: -4%;
                }
            }

            &:nth-child(2) {
                .include__pic {
                    background-position-x: 49.5%;
                }
            }

            &:nth-child(3) {
                .include__pic {
                    background-position-x: 100%;
                }
            }

            &:nth-child(4) {
                .include__pic {
                    background-position-x: 0%;
                    background-position-y: 100%;
                }
            }

            &:nth-child(5) {
                .include__pic {
                    background-position-x: 49.7%;
                    background-position-y: 100%;
                }
            }

            &:nth-child(6) {
                .include__pic {
                    background-position-x: 100%;
                    background-position-y: 100%;
                }
            }
        }

        .include__cover {
            max-width: 1184px;
            width: 100%;
            margin: 0 auto;
            margin-top: 60px;

            @media(max-width: 1024px) {
                max-width: 810px;
                margin-top: 50px;
            }

            @media(max-width: 620px) {
                margin-top: 40px;
            }
        }

        .include__right {
            max-width: 244px;
            width: 100%;
            padding-top: 5px;

            @media(max-width: 1024px) {
                max-width: initial;
            }
        }

        .include__pic {
            min-width: 68px;
            width: 68px;
            height: 68px;
            background-repeat: no-repeat;
            background-position-y: -4%;
            margin-right: 23px;

            @media(max-width: 1024px) {
                width: 52px;
                min-width: 52px;
                height: 52px;
                background-size: 1327% auto;
                margin-right: 15px;
            }
        }

        .include__txt {
            text-align: left;
            max-width: 958px;
            width: 100%;
            margin: 11px auto 0;
            line-height: 22px;
            font-size: 14px;

            @media(max-width: 1024px) {
                margin-top: 5px;
            }
        }
    }

    &--landing {
        margin-top: 85px;
        padding-top: 67px;
        padding-bottom: 71px;

        @media(max-width: 1024px) {
            padding: 60px 0;
            margin-top: 70px;
        }

        @media(max-width: 620px) {
            padding: 50px 0;
            margin-top: 50px;
        }

        .include {
            &__item {
                position: relative;
                width: calc(50% - 45px);
                margin-left: 45px;
                margin-top: 34px;
                padding-left: 24px;

                @media(max-width: 1024px) {
                    width: calc(50% - 20px);
                    margin-left: 20px;
                    margin-top: 20px;
                    padding-left: 20px;
                }

                @media(max-width: 620px) {
                    width: 100%;
                    margin-left: 0;
                }

                &:after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 5px;
                    margin: auto;
                    width: 12px;
                    height: 12px;
                    background-color: $red-2;
                    border-radius: 6px;

                    @media(max-width: 1024px) {
                        top: 6px;
                        margin: auto;
                        width: 9px;
                        height: 9px;
                    }
                }
            }

            &__items {
                display: flex;
                flex-wrap: wrap;
                margin-left: -45px;
                margin-top: -34px;

                @media(max-width: 1024px) {
                    margin-left: -20px;
                    margin-top: -20px;
                }

                @media(max-width: 620px) {
                    width: 100%;
                    margin-left: 0;
                }
            }

            &__cover {
                max-width: 1225px;
                width: 100%;
                margin: 0 auto;
                margin-top: 50px;

                @media(max-width: 1024px) {
                    margin: 44px auto 0;
                }

                @media(max-width: 620px) {
                    margin: 35px auto 0;
                }
            }

            &__header {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: -0.1px;
                line-height: 1.38em;

                @media(max-width: 1024px) {
                    font-size: 16px;
                }
            }

            &__txt {
                margin: 7px auto 0;
                line-height: 22px;
                text-align: left;
            }
        }
    }

    &--promotion {
        margin-top: 89px;
        padding-bottom: 84px;
        padding-top: 66px;

        @media(max-width: 1024px) {
            padding: 55px 0;
            margin-top: 70px;
        }

        .include {

            &__items {
                display: flex;
                flex-wrap: wrap;
                margin-left: -145px;
                margin-top: -78px;
                overflow: hidden;

                @media(max-width: 1700px) {
                    margin-left: -50px;
                }

                @media(max-width: 1024px) {
                    margin-top: -35px;
                    margin-left: -35px;
                }

                @media(max-width: 768px) {
                    margin-top: -30px;
                }

                @media(max-width: 700px) {
                    margin-left: 0;
                    margin-top: -25px;
                }
            }

            &__item {
                position: relative;
                display: flex;
                flex-direction: column;
                width: calc(33.333% - 145px);
                margin-left: 145px;
                margin-top: 130px;

                @media(max-width: 1700px) {
                    width: calc(33.333% - 50px);
                    margin-left: 50px;
                }

                @media(max-width: 1024px) {
                    width: calc(50% - 35px);
                    margin-top: 35px;
                    margin-left: 35px;
                }

                @media(max-width: 768px) {
                    margin-top: 30px;
                }

                @media(max-width: 700px) {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 25px;
                }

                &:after {
                    position: absolute;
                    content: '';
                    background: url("../img/icon/bg-circle.svg") repeat-x;
                    width: 125%;
                    height: 4px;
                    border-radius: 0;
                    top: -20px;
                    left: 50px;
                    margin: 0;

                    @media(max-width: 1700px) {
                        width: 95%;
                    }

                    @media(max-width: 1300px) {
                        width: calc(100% - 35px);
                        top: -3px;
                        left: 30px;
                    }

                    @media (max-width: 700px) {
                        content: none;
                    }
                }
            }

            &__num {
                position: absolute;
                font-size: 48px;
                font-weight: 500;
                color: $green-1;
                bottom: 92px;

                @media(max-width: 1300px) {
                    font-size: 40px;
                    line-height: 40px;
                    bottom: 70px;
                }

                @media(max-width: 1024px) {
                    font-size: 30px;
                    line-height: 30px;
                    bottom: 60px;
                }

                @media(max-width: 700px) {
                    position: relative;
                    bottom: initial;
                    font-size: 18px;
                    line-height: 18px;
                    padding-right: 3px;
                }
            }

            &__cover {
                position: relative;
                max-width: initial;
                margin: 60px auto 0;

                @media(max-width: 1024px) {
                    margin-top: 50px;
                }

                @media(max-width: 700px) {
                    margin-top: 40px;
                }
            }

            &__header {
                position: relative;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 23px;
                line-height: 28px;
                max-width: 254px;
                width: 100%;

                @media(max-width: 1024px) {
                    margin-top: 15px;
                }

                @media(max-width: 700px) {
                    font-size: 16px;
                    line-height: 22px;
                    max-width: initial;
                    margin-top: 10px;

                    br {
                        display: none;
                    }
                }
            }

            &__text {
                margin-top: 15px;
                font-size: 14px;
                line-height: 21px;

                @media(max-width: 1024px) {
                    margin-top: 10px;
                }

                @media(max-width: 768px) {
                    margin-top: 5px;
                }
            }
        }
    }

    &--support {
        margin-top: 0;
        padding-top: 85px;

        @media(max-width: 1024px) {
           padding-top: 55px;
        }

        @media(max-width: 700px) {
            padding-top: 46px;
        }

        .include {

            &__items {

                @media(max-width: 700px) {
                    margin-left: 0;
                    margin-top: -40px;
                }
            }

            &__item {

                @media(max-width: 700px) {
                    margin-left: 0;
                    margin-top: 75px;
                }

                &:after {

                    @media (max-width: 700px) {
                        content: "";
                        top: -17px;
                        left: 42px;
                    }
                }
            }

            &__num {

                @media(max-width: 700px) {
                    position: absolute;
                    top: -52px;
                    bottom: auto;
                    font-size: 45px;
                    line-height: 1;
                }
            }

            &__cover {

            }

            &__header {

                @media(max-width: 700px) {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    max-width: initial;
                    margin-top: 10px;

                    br {
                        display: none;
                    }
                }
            }

            &__text {

                @media (max-width: 700px) {
                    font-size: 12px;
                    line-height: 1.6;
                }
            }
        }
    }

    &--transparent {
        background-color: $ochre;
        color: $black;
        padding-top: 69px;
        padding-bottom: 81px;
        margin-top: 60px;

        @media(max-width: 1024px) {
            padding-top: 55px;
            padding-bottom: 55px;
        }

        .include {
            &__cover {
                max-width: 1158px;
                width: 100%;
                margin: 0 auto;
                margin-top: 60px;

                @media(max-width: 620px) {
                    margin-top: 40px;
                }
            }

            &__header {
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;

                @media(max-width: 620px) {
                    font-size: 16px;
                }
            }

            &__text {
                font-size: 14px;
                margin-top: 12px;
                line-height: 20px;

                @media(max-width: 620px) {
                    margin-top: 5px;
                }
            }

            &__items {
                display: flex;
                flex-wrap: wrap;
                margin-left: -81px;
                margin-top: -45px;

                @media(max-width: 1024px) {
                    margin-left: -30px;
                    margin-top: -40px;
                }

                @media(max-width: 768px) {
                    margin-top: -30px;
                }

                @media(max-width: 620px) {
                    margin-left: 0;
                }
            }

            &__item {
                position: relative;
                width: calc(33.333% - 81px);
                margin-left: 81px;
                padding-left: 25px;
                margin-top: 45px;

                @media(max-width: 1024px) {
                    width: calc(33.333% - 30px);
                    margin-left: 30px;
                    margin-top: 40px;
                }

                @media(max-width: 768px) {
                    width: calc(50% - 30px);
                    margin-top: 30px;
                }

                @media(max-width: 620px) {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 20px;
                    padding-left: 20px;
                }

                &:after {
                    position: absolute;
                    content: "";
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    background-color: $green-1;
                    left: 0;
                    top: 0.45em;
                    bottom: auto;
                    margin: auto;

                    @media(max-width: 1024px) {
                        top: 0.65em;
                    }

                    @media(max-width: 620px) {
                        width: 9px;
                        height: 9px;
                        top: 0.75em;
                    }
                }
            }

            &__quote {
                max-width: 763px;
                width: 100%;
                margin: 0 auto;
                line-height: 24px;
                text-align: center;

                @media(max-width: 620px) {
                    text-align: left;
                }
            }

            &__title {
                position: relative;
                padding-bottom: 34px;
                margin-bottom: 36px;
                word-break: break-word;

                @media(max-width: 1024px) {
                    padding-bottom: 30px;
                    margin: 0 AUTO 30px;
                }

                @media(max-width: 620px) {
                    text-align: left;
                    padding-bottom: 15px;
                    margin-bottom: 12px;

                }

                &:after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: auto;
                    margin: auto;
                    max-width: 80px;
                    width: 100%;
                    background-color: $red-2;
                    height: 2px;

                    @media(max-width: 620px) {
                        right: auto;
                        max-width: 48px;
                    }
                }
            }
        }

        .quote {
            margin-top: 0;
        }
    }

    &--corporate {
        margin-top: 86px;
        padding-top: 69px;
        padding-bottom: 94px;

        @media(max-width: 1024px) {
            margin-top: 65px;
            padding-top: 55px;
            padding-bottom: 55px;
        }

        @media(max-width: 620px) {
            padding-top: 40px;
            padding-bottom: 50px;
            margin-top: 55px;
        }

        .include {
            &__title {
                position: relative;
                padding-bottom: 34px;
                margin-bottom: 38px;

                @media(max-width: 1024px) {
                    margin-bottom: 30px;
                    padding-bottom: 30px;
                }

                @media(max-width: 620px) {
                    text-align: left;
                    padding-bottom: 15px;
                    margin-bottom: 12px;
                }

                &:after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: auto;
                    margin: auto;
                    max-width: 80px;
                    width: 100%;
                    background-color: $red-2;
                    height: 2px;

                    @media(max-width: 620px) {
                        right: auto;
                        max-width: 48px;
                    }
                }
            }

            &__pic {
                width: 70px;
                min-width: 70px;
                height: 70px;

                @media(max-width: 1024px) {
                    background-size: 890% 330%;
                    width: 52px;
                    min-width: 52px;
                    height: 52px;
                }
            }

            &__quote {
                text-align: center;
                max-width: 943px;
                width: 100%;
                margin: 0 auto;
                line-height: 24px;

                @media(max-width: 620px) {
                    text-align: left;
                }
            }

            &__item {
                display: flex;
                width: calc(50% - 115px);
                margin-left: 115px;
                margin-top: 64px;

                @media(max-width: 1024px) {
                    width: calc(50% - 40px);
                    margin-left: 40px;
                    margin-top: 50px;
                }

                @media(max-width: 620px) {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 35px;
                }

                &:nth-child(1) {
                    .include__pic {
                        @media(max-width: 1024px) {
                            background-position-x: 0.5%;
                        }
                    }
                }

                &:nth-child(2) {
                    .include__pic {
                        background-position-x: 99.4%;

                        @media(max-width: 1024px) {
                            background-position-x: 100%;
                        }
                    }
                }

                &:nth-child(3) {
                    .include__pic {
                        background-position-y: 100%;
                    }
                }

                &:nth-child(4) {
                    .include__pic {
                        background-position-x: 100%;
                        background-position-y: 100%;
                    }
                }
            }

            &__items {
                display: flex;
                flex-wrap: wrap;
                margin-left: -115px;
                margin-top: -64px;

                @media(max-width: 1024px) {
                    margin-left: -40px;
                    margin-top: -50px;
                }

                @media(max-width: 620px) {
                    margin-left: 0;
                    margin-top: -35px;
                }
            }

            &__left {
                margin-right: 26px;
                padding-top: 12px;

                @media(max-width: 1024px) {
                    margin-right: 15px;
                }
            }

            &__header {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 500;

                @media(max-width: 1024px) {
                    line-height: 25px;
                }
            }

            &__cover {
                margin-top: 60px;
                max-width: 1043px;
                width: 100%;
                margin: 60px auto 0;

                @media(max-width: 1024px) {
                    max-width: 865px;
                }

                @media(max-width: 620px) {
                    margin-top: 45px;
                }
            }

            &__txt {
                text-align: left;
                max-width: 100%;
                width: 100%;
                line-height: 20px;
                margin-top: 11px;
                font-size: 14px;

                @media(max-width: 1024px) {
                    margin-top: 5px;
                }
            }
        }

        &+.price {
            margin-top: 0;
        }

        .quote {
            margin-top: 0;
        }
    }

    &--special-btn {
        .include {
            &__title {
                letter-spacing: 0.4px;
                max-width: initial;
            }

            &__txt {
                max-width: 910px;
            }
        }
    }

    &--app {
        margin-top: 87px;
        padding-top: 69px;

        @media(max-width: 1024px) {
            margin-top: 65px;
            padding: 55px 0;
        }

        .include {
            &__wrapper {
                max-width: 1138px;
                width: 100%;
                margin: 0 auto;
            }

            &__header {
                display: flex;
                flex-wrap: wrap;
                margin: 62px auto 0;
                justify-content: space-between;

                @media(max-width: 1200px) {
                    margin: 45px auto 0;
                }

                @media(max-width: 900px) {
                    justify-content: normal;
                    margin: 45px -14px -14px;
                }

                @media(max-width: 640px) {
                    margin: 35px -17px -15px;
                }
            }

            &__txt {
                max-width: 128px;
                text-align: center;
                line-height: 21px;
                margin: 25px auto 0;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                color: white;
                transition: linear .3s;
            }

            &__num {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 82px;
                height: 82px;
                font-size: 48px;
                font-weight: 300;
                color: white;
                background-color: transparent;
                border-radius: 41px;
                border: 2.2px solid rgba(255, 255, 255, 0.8);
                box-sizing: border-box;
                transition: linear .3s;
            }

            &__btn {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;

                @media(max-width: 900px) {
                    width: calc(25% - 28px);
                    margin: 14px;
                }

                @media(max-width: 640px) {
                    width: calc(33.33% - 34px);
                    margin: 15px 17px;
                }

                @media(max-width: 500px) {
                    width: calc(50% - 34px);
                }

                &:hover {
                    .include {
                        &__num {
                            border-color: $green-1;
                            background-color: $green-1;
                            color: white;
                        }

                        &__txt {
                            color: $green-1;
                        }
                    }
                }

                &.mf-active {
                    .include__num {
                        border-color: $green-1;
                        background-color: $green-1;
                        color: white;
                    }

                    .include__txt {
                        color: $green-1;
                    }
                }
            }

            &__article {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 18px;

                @media(max-width: 768px) {
                    margin-bottom: 10px;
                }
            }

            &__box {
                margin-top: 57px;

                @media(max-width: 1024px) {
                    margin-top: 45px;
                }
            }

            &__bloc {
                display: flex;

                @media(max-width: 768px) {
                    flex-direction: column;
                }
            }

            &__left {
                max-width: 540px;
                width: 100%;
                margin-right: 80px;

                @media(max-width: 1024px) {
                    margin-right: 35px;
                }

                @media(max-width: 768px) {
                    max-width: initial;
                }
            }

            &__right {
                max-width: 540px;
                width: 100%;

                @media(max-width: 768px) {
                    max-width: initial;
                    margin-top: 20px;
                }
            }

            &__info {
                font-size: 14px;
                line-height: 21px;
            }

            &__item {
                opacity: 0;
                display: none;
                visibility: hidden;
                transition: .5s;

                &.mf-show {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &--magazine {
        padding: 68px 0 90px;

        @media(max-width: 1024px) {
            padding: 55px 0 55px;
        }

        @media(max-width: 1024px) {
            margin-top: 0;
        }

        .include {

            &__left {
                padding-top: 12px;

                @media(max-width: 1024px) {
                    padding-top: 0;
                }
            }

            &__txt {
                text-align: left;
                font-size: 14px;
                line-height: 22px;
                margin-top: 9px;
            }

            &__items {
                display: flex;
                flex-wrap: wrap;
                margin-left: -70px;
                margin-top: -60px;

                @media(max-width: 1024px) {
                    margin-left: -40px;
                    margin-top: -50px;
                }

                @media(max-width: 620px) {
                    margin-left: 0;
                    margin-top: -35px;
                }
            }

            &__item {
                display: flex;
                width: calc(50% - 70px);
                margin-left: 70px;
                margin-top: 60px;

                @media(max-width: 1024px) {
                    width: calc(50% - 40px);
                    margin-left: 40px;
                    margin-top: 50px;
                }

                @media(max-width: 620px) {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 35px;
                }

                &:nth-child(1) {
                    .include__pic {
                        @media(max-width: 1024px) {
                            background-position-y: 4%;
                        }
                    }
                }

                &:nth-child(3) {
                    .include__pic {
                        background-position-y: 100%;

                        @media(max-width: 1024px) {
                            background-position-y: 96%;
                        }
                    }
                }

                &:nth-child(2) {
                    .include__pic {
                        background-position-x: 100%;

                        @media(max-width: 1024px) {
                            background-position-y: 4%;
                        }
                    }
                }

                &:nth-child(4) {
                    .include__pic {
                        background-position-y: 100%;
                        background-position-x: 100%;

                        @media(max-width: 1024px) {
                            background-position-y: 96%;
                        }
                    }
                }
            }

            &__pic {
                width: 73px;
                height: 73px;
                margin-right: 26px;

                @media(max-width: 1024px) {
                    width: 52px;
                    height: 52px;
                    background-size: 890% 330%;
                    margin-right: 15px;
                }
            }

            &__header {
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
            }

            &__cover {
                max-width: 1060px;
                margin: 59px auto 0;

                @media(max-width: 620px) {
                    margin: 45px auto 0;
                }
            }

            &__quote {
                text-align: center;
                margin: 0 auto;
                max-width: 1000px;
                line-height: 25px;
            }

            &__title {
                position: relative;
                padding-bottom: 34px;
                margin-bottom: 34px;

                @media(max-width: 1024px) {
                    margin-bottom: 30px;
                    padding-bottom: 30px;
                }

                @media(max-width: 620px) {
                    text-align: left;
                    padding-bottom: 15px;
                    margin-bottom: 12px;
                }

                &:after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: auto;
                    margin: auto;
                    max-width: 80px;
                    width: 100%;
                    background-color: $red-2;
                    height: 2px;

                    @media(max-width: 620px) {
                        right: auto;
                        max-width: 48px;
                    }
                }
            }
        }

        .quote {
            margin-top: 0;

            &__bloc {
                max-width: 947px;
            }
        }
    }

    &--call {
        margin-top: 0;
        padding-bottom: 71px;

        @media(max-width: 1300px) {
            margin-top: 90px;
        }

        @media(max-width: 1024px) {
            padding-bottom: 55px;
        }

        @media(max-width: 768px) {
            margin-top: 55px;
        }

        .include {
            &__note {
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 2px;
                opacity: 0.45;
            }

            &__title {
                margin-top: 23px;
                max-width: 940px;
                padding-bottom: 0;
                margin-bottom: 0;

                &:after {
                    content: none;
                }
            }
        }

        .btn {
            margin: 26px auto 0;
        }
    }

    &--ad {

        .include {

            &__items {
                display: flex;
                flex-wrap: wrap;
                margin: 60px -20px 0;

                @media(max-width: 1024px) {
                    margin: 40px -10px 0;
                }

                @media(max-width: 767px) {
                    margin: 20px 0 -20px;
                }
            }

            &__item {
                width: calc(33.33% - 40px);
                margin: 0 20px;
                text-align: center;

                @media(max-width: 1024px) {
                    width: calc(33.33% - 20px);
                    margin: 0 10px;
                }

                @media(max-width: 767px) {
                    width: 100%;
                    margin: 20px 0;
                }
            }

            &__value {
                font-size: 64px;
                line-height: 1.2;

                @media(max-width: 1024px) {
                    font-size: 40px;
                }
            }

            &__abbr {
                font-size: 64px;
                line-height: 1.2;
                color: $red-2;

                @media(max-width: 1024px) {
                    font-size: 40px;
                }

                span {
                    font-weight: 700;
                    font-size: 88px;

                    @media(max-width: 1024px) {
                        font-size: 60px;
                    }
                }
            }

            &__note {
                line-height: 1.5;
            }
        }
    }
}