.request-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 302;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;

    @media(max-width: 768px) {
        width: 90%;
    }

    &__link {
        cursor: pointer;

        &:not(:first-child) {
            margin-top: 15px;
        }

        span {
            transition: .3s;
        }

        &.active {
            span {
                color: $green-1;
            }
        }

        &:hover {
            color: $green-1;
        }
    }

    &__left {
        width: 505px;
        background-color: white;
        padding: 78px 87px 79px 68px;

        @media(max-width: 1235px) {
            padding: 78px 50px 79px 50px;
            width: 425px;
        }

        @media(max-width: 1024px) {
            width: 370px;
            padding: 50px 30px 50px;
        }

        @media(max-width: 768px) {
            width: 50%;
        }

        @media(max-width: 620px) {
            width: 100%;
            max-width: initial;
            padding: 35px 30px;
        }

        @media(max-width: 500px) {
            padding: 25px 20px;
        }
    }

    &__right {
        width: 505px;
        background-size: cover;
        background-position: center;

        @media(max-width: 1235px) {
            width: 425px;
        }

        @media(max-width: 1024px) {
            width: 370px;
        }

        @media(max-width: 768px) {
            width: 50%;
        }

        @media(max-width:620px) {
            width: 100%;
            height: 125px;
        }
    }

    &__inner {
        position: relative;
        display: flex;
        height: 100%;
        border-radius: 10px;

        @media(max-width: 620px) {
            flex-direction: column-reverse;
        }
    }

    &__title {
        font-size: 36px;
        line-height: 43px;
        font-weight: 900;

        @media(max-width: 1024px) {
            font-size: 29px;
            line-height: 36px;
        }

        @media(max-width: 620px) {
            font-size: 22px;
            line-height: 29px;
        }
    }

    &__form {
        max-width: 294px;
        width: 100%;
        margin-top: 22px;

        @media(max-width: 620px) {
            max-width: initial;
            width: 100%;
        }

        .btn {
            width: auto;
            margin-top: 30px;
            margin-left: 0;
        }
    }

    &__quote {
        font-size: 10px;
        line-height: 14px;
        max-width: 290px;
        width: 100%;
        margin-top: 20px;
        color: $grey-6;

        a {
            color: $black;

            &:hover {
                color: $red-2;
            }
        }
    }

    &__icon {
        fill: transparent;
        stroke: black;
        display: flex;
        align-items: center;
        margin-left: auto;
        width: 10px;
        height: 10px;
        transform-origin: center;
        transition: .3s;

        .b-svg {
            width: 100%;
            height: 100%;
        }
    }

    &__close {
        position: absolute;
        top: -33px;
        right: -33px;
        width: 27px;
        height: 27px;
        cursor: pointer;

        @media(max-width:620px) {
            top: 20px;
            right: 30px;
            width: 20px;
            height: 20px;
        }

        @media(max-width:500px) {
            right: 20px;
        }

        &:after,
        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 3px;
            background-color: white;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: 0.2s;

            @media (max-width: 620px) {
                background-color: $grey-2;
            }
        }

        &:after {
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }

        &:hover {

            &:after,
            &:before {
                opacity: 0.5;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        height: 46px;
        padding: 15px;
        box-sizing: border-box;
        border: 1px solid rgb(221, 221, 221);
        cursor: pointer;
    }

    &__list {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 170px;
        background-color: white;
        border: 1px solid #ddd;
        border-top: none;
        top: 44px;
        z-index: 1;
    }

    &__menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 1;
        padding: 15px;
        border: 1px solid $grey-7;
        background-color: white;
        border-top: none;
        opacity: 0;
        visibility: hidden;
        transition: .3s;

        label>input {
            display: none;
        }
    }
}

.grace-popup {

    &__inner {
        display: none;
        text-align: center;
        flex-direction: column;
        height: 100%;
        padding: 70px 24px 80px;
        max-width: 500px;
        background: #fff;
        border-radius: 10px;
        margin: auto;

        @media(max-width: 620px) {
            padding: 50px 24px;
        }

        .link--detail {
            display: inline-flex;
            margin: 50px auto 0;
            color: $green-1;
            text-transform: uppercase;

            &::after {
                filter: invert(1);
            }
        }
    }

    &__pic {

        .b-svg {
            width: 100%;
        }

        svg * {
            fill: $green-1;
        }
    }

    &__title {
        font-size: 36px;
        line-height: 1.2;
        font-weight: 500;
        margin-top: 30px;

        @media(max-width: 1024px) {
            font-size: 29px;
        }

        @media(max-width: 620px) {
            font-size: 22px;
        }
    }

    &__quote {
        width: 80%;
        font-size: 16px;
        line-height: 1.7;
        margin: 30px auto 0;
    }
}