.quote {
    margin-top: 61px;
    transition: 0.3s linear;

    @media(max-width: 1024px) {
        margin-top: 35px;
    }

    &__title {
        position: relative;
        text-align: center;
        padding-bottom: 40px;
        margin-bottom: 40px;

        @media(max-width: 1024px) {
            max-width: 525px;
            margin: 0 auto 30px;
            line-height: 1.24;
            padding-bottom: 30px;
        }

        @media(max-width: 620px) {
            text-align: left;
            line-height: 1.6;
            max-width: 100%;
        }

        &:after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            margin: auto;
            max-width: 80px;
            width: 100%;
            background-color: $red-2;
            height: 2px;

            @media(max-width: 620px) {
                right: auto;
                max-width: 48px;
            }
        }
    }

    &__par {
        text-align: center;
        line-height: 25px;
        width: 100%;
        margin: 0 auto;

        &:not(:first-child) {
            margin-top: 24px;

            @media(max-width: 620px) {
                margin-top: 22px;
            }
        }

        @media(max-width: 620px) {
            line-height: 1.9;
            text-align: left;
            max-width: 100%;
        }
    }

    &__bloc {
        max-width: 930px;
        width: 100%;
        margin: 0 auto;
    }

    &--advertising {
        .quote__par {
            line-height: 25px;
        }
    }

    &--chart {
        margin-top: 0;

        .quote {
            &__bloc {
                max-width: 955px;
            }
        }
    }

    &--seo {
        .quote {
            &__title {
                @media(max-width: 1024px) {
                    line-height: 50px;
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                }

                @media(max-width: 620px) {
                    line-height: 35px;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    max-width: 100%;
                }
            }
        }
    }

    &--promotion {
        margin-top: 69px;

        @media(max-width: 1024px) {
            margin-top: 35px;
        }
    }

    &--corporate {
        .quote {
            &__bloc {
                max-width: 994px;
            }

            &__title {
                @media(max-width: 1024px) {
                    max-width: 640px;
                }
            }
        }
    }

    &--app {
        .quote {
            &__bloc {
                max-width: 905px;
            }
        }
    }

    &--adp {
        margin-top: 75px;

        .quote {
            &__bloc {
                max-width: 670px;
            }
        }
    }
}