.share {
    margin-top: 3.625em;

    @media(max-width: 620px) {
        margin-top: 2.857em;
    }

    &__title {
        font-weight: 500;
    }

    &__items {
        display: flex;
        margin-top: 1.31em;
    }

    &__item {
        display: block;

        path {
            transition: linear .3s;
        }

        &:not(:last-child) {
            margin-right: 22px;

            @media(max-width: 620px) {
                margin-right: 25px;
            }
        }

        &:hover {
            .fill {
                fill: $green-1;
            }
        }
    }
}