.table {
    margin-top: 77px;

    @media(max-width: 1024px) {
        margin-top: 70px;
    }

    @media(max-width: 620px) {
        margin-top: 50px;
    }

    &__inner {
        overflow: auto;
    }

    &__header {
        background-color: $black-3;
        color: white;
    }

    &__colaps {
        background-color: $ochre;
        font-weight: bold;

        td {
            font-weight: bold !important;
        }
    }

    table {
        border-collapse: collapse;
        line-height: 1.1;
        min-width: 1260px;
        margin: 0 auto;

        & th {
            border: 1px solid $ochre;
            width: 14%;
            padding: 31px 15px;
            text-align: left;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;

            @media(max-width: 1024px) {
                padding: 15px;
            }

            &:first-child {
                width: 39%;
                padding-left: 20px;

                @media(max-width: 1024px) {
                    width: 23%;
                }
            }

            &:not(:first-child) {
                text-align: center;
            }
        }

        & td {
            padding: 18px 15px;
            border: 1px solid $ochre;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;

            @media(max-width: 1024px) {
                padding: 15px;
            }

            &:first-child {
                padding-left: 20px;
                text-align: left;
            }

            .b-svg {
                margin: 0 auto;
                display: block;
                width: 19px;
                height: 15px;
            }
        }
    }

    &__note {
        font-size: 14px;
        line-height: 1.4;
        margin-top: 15px;

        @media (max-width: 620px) {
            font-size: 12px;
        }

        span {
            color: $green-1;
        }
    }

    &--support {
        margin-top: 0;

        table {
            margin-top: 50px;

            @media (max-width: 620px) {
                margin-top: 23px;
            }

            th,
            td {
                border: 0;
            }

            th {
                padding: 30px 15px;
            }

            td {
                padding: 15px;
                line-height: 1.6;

                svg {
                    fill: $green-1;
                }
            }

            th,
            td {

                &:first-child {
                    width: 20%;
                    padding-left: 24px;
                }
            }

            span {
                display: block;
            }
        }

        .table {

            &__header {
                background: $black;
            }

            &__colaps {

                td {
                    font-weight: 400!important;
                    text-align: center;
                    padding: 15px 15px 10px;

                    @media(max-width: 1024px) {
                        padding: 15px;
                    }

                    &:first-child {
                        font-weight: 700!important;
                    }
                }

                &:last-child {

                    td {
                        padding: 18px 15px 23px;

                        @media(max-width: 1024px) {
                            padding: 15px;
                        }

                        &:first-child {
                            padding-left: 24px;
                        }
                    }
                }
            }
        }
    }
}