.promotion-slider {
    &--chart {
        background-color: $ochre;
        max-width: 763px;
        width: 100%;
        padding: 69px 90px 69px 69px;
        min-height: 556px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        margin-right: 25px;

        @media(max-width: 1300px) {
            max-width: 665px;
            width: 100%;
            padding: 69px 45px 69px 45px;
        }

        @media(max-width: 1235px) {
            max-width: 100%;
            margin: 0;
        }

        @media(max-width: 620px) {
            margin-left: -15px;
            margin-right: -15px;
            width: calc(100% + 30px);
            max-width: initial;
            border-radius: 0;
            padding: 40px 15px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
    }

    &__grid {
        display: flex;
        min-height: 418px;

        @media(max-width: 900px) {
            flex-direction: column;
        }
    }

    &__left {
        background: white;
        box-shadow: 4px 7px 9px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 22px 30px;
        margin-right: 75px;

        @media(max-width: 1300px) {
            margin-right: 30px;
        }

        @media(max-width: 1235px) {
            width: calc(100% - 277px);
            max-width: 710px;
        }

        @media(max-width: 900px) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__header {
        font-size: 16px;
        color: $grey-11;
    }

    &__num {
        font-size: 47px;
        font-weight: bold;

        @media(max-width: 1300px) {
            font-size: 35px;
        }

        @media(max-width: 620px) {
            font-size: 25px;
            line-height: 25px;
        }
    }

    &__right {
        padding-top: 39px;

        @media(max-width: 1235px) {
            width: 277px;
        }

        @media(max-width: 900px) {
            width: 100%;
            padding-top: 0;
            margin-top: 50px;
        }

        @media(max-width: 620px) {
            margin-top: 35px;
        }
    }

    &__items {
        margin-top: 55px;

        @media(max-width: 900px) {
            display: flex;
            margin-top: 34px;
        }

        @media(max-width: 500px) {
            flex-direction: column;
            margin-top: 24px;
        }
    }

    &__info {
        margin-top: 11px;
        font-size: 14px;
        line-height: 25px;
    }

    &__item {
        &:not(:first-child) {
            margin-top: 41px;

            @media(max-width: 900px) {
                margin-top: 0;
            }
        }

        &:first-child {
            @media(max-width: 900px) {
                margin-right: 55px;
            }

            @media(max-width:620px) {
                margin-right: 25px;
            }
        }

        &:last-child {
            @media(max-width: 500px) {
                margin-top: 20px;
            }
        }
    }

    &__cover {
        min-height: 325px;
        background-color: red;

        @media(max-width: 620px) {
            min-height: 235px;
        }
    }

    &--info {
        max-width: 405px;
        width: 100%;
        padding-top: 20px;
        align-self: flex-start;

        @media(max-width: 1235px) {
            max-width: initial;
        }

        @media(max-width: 1024px) {
            padding-top: 0;
            margin-top: 50px;            
        }

        .promotion-slider {
            padding-top: 20px;

            &__header {
                color: white;
                font-size: 46px;
                font-weight: 700;

                @media(max-width: 1024px) {   
                    font-size: 34px;
                }

                @media(max-width: 620px) {   
                    font-size: 25px;
                }
            }

            &__wrap {
                margin-top: 30px;
            }

            &__bloc {
                max-width: 320px;
                width: 100%;
            }

            &__txt {
                margin-top: 13px;
            }

            &__section {
                &:not(:first-child) {
                    margin-top: 37px;
                }

                &--text {
                    margin-top: 42px;
                    max-width: 394px;
                    width: 100%;

                    @media(max-width: 1235px) {
                        max-width: initial;
                    }

                    .promotion-slider__txt {
                        line-height: 24px;
                    }
                }
            }
        }

        .pagination {
            display: inline-flex;
            max-width: 62px;
            width: 100%;
            color: white;
            min-height: 16px;
            line-height: 16px;
            margin-top: 0;
        }

        .arrow {
            position: relative;
            max-width: 126px;
            width: 100%;
            margin: initial;
            margin-left: auto;
            top: initial;
            bottom: initial;
            height: auto;
            margin-top: 0;

            &__link {
                width: 42px;
                height: 42px;

                .b-svg {
                    height: 16px;
                }
            }
        }
    }

    &__section {
        display: flex;
        justify-content: space-between;
    }

    &__char {
        color: $grey-12;
        font-size: 14px;
    }

    &__txt {
        color: white;
    }

    &__func {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        align-items: center;
    }


}