.contacts {
    margin-top: 65px;

    @media(max-width: 620px) {
        margin-top: 30px;
    }

    &__pic {
        padding-bottom: 6px;
        transform: scale(1, -1);
        transform-origin: center;
        transition: .4s ease-in-out;

        &--active {
            transform: none;
        }

        path {
            fill: #cbcbcb;
            transition: .4s ease-in-out;
        }
    }

    &__right {

        @media(max-width: 620px) {
            margin-top: 22px;
        }

        .contacts__text {
            color: $black;

            @media(max-width: 620px) {
                color: $grey-6;
                transition: .4s ease-in-out;
            }
        }
    }

    &__panel {
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 142%;
        color: #2d2d2d;
        background-color: #fff;
        cursor: pointer;
        transition: .4s ease-in-out;
        display: none;

        @media(max-width: 620px) {
            display: inline-flex;
            font-size: 14px;
            line-height: 14px;
            color: #2d2d2d;
            padding: 0px 0 5px;
        }
    }

    &__list {
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        max-height: 0;
        overflow: hidden;
        transition: .4s ease-in-out;
        background-color: #fff;
    }

    &__wrp {
        margin-top: 21px;

        @media(max-width: 620px) {
            margin-top: 10px;
        }
    }

    &__grid {
        width: 100%;
        display: flex;
        opacity: 0;
        transition: .3s;

        @media(max-width: 620px) {
            flex-direction: column;
        }

        a {
            &:hover {
                color: $black;
            }
        }
    }

    &__article {
        font-size: 14px;
        line-height: 28px;
        color: $grey-6;
        font-weight: 300;

        @media(max-width: 620px) {
            font-weight: 500;
            color: $black;
        }

        &--name {

            @media(max-width: 620px) {
                display: none;
            }
        }
    }

    &__bloc {
        font-weight: 700;

        &:first-child {
            @media(max-width: 620px) {
                margin-top: 10px;
            }
        }

        &:not(:first-child) {
            margin-top: 22px;

            @media(max-width: 620px) {
                margin-top: 10px;
            }
        }

        &--color {
            .contacts__txt {
                color: $red-2;
            }
        }
    }

    &__txt {
        display: block;
        margin-top: 8px;
        font-size: 18px;
        font-weight: 500;

        @media(max-width: 620px) {
            font-size: 16px;
            margin-top: 3px;
            color: $red-2;
            transition: .4s ease-in-out;
        }
    }

    &__unit {
        &:not(:first-child) {
            margin-top: 12px;
        }
    }

    &__block {
        &:not(:first-child) {
            margin-top: 55px;
        }
    }

    &__header {
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;

        @media(max-width: 620px) {
            font-size: 16px;
        }
    }

    &__info {
        margin-top: 70px;

        @media(max-width: 620px) {
            margin-top: 40px;
        }
    }

    &__cover {
        margin-top: 20px;

        @media(max-width: 620px) {
            margin-top: 10px;
        }
    }

    &__word {
        @media(max-width: 620px) {
            line-height: 25px;
        }

        &:not(:first-child) {
            margin-top: 7px;

            @media(max-width: 620px) {
                margin-top: 0;
            }
        }
    }

    &__item {

        &:not(:first-child) {
            margin-top: 38px;

            @media(max-width: 620px) {
                margin-top: 18px;
            }
        }

        .contacts__txt {
            margin-top: 3px;

            @media(max-width: 620px) {
                margin-top: 0;
            }
        }

        &--main {

            .contacts {

                &__list {
                    max-height: none;
                    overflow: auto;
                }
            }
        }
    }

    &__left {
        width: 40%;
        max-width: 400px;
        margin-right: 80px;
        flex-shrink: 0;

        @media(max-width: 1024px) {
            width: 45%;
            margin-right: 40px;
        }

        @media(max-width: 768px) {
            margin-right: 20px;
        }

        @media(max-width: 620px) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__text {
        color: $grey-6;

        @media(max-width: 620px) {
            margin-right: 5px;
            transition: .4s ease-in-out;
        }
    }

    &+.place {
        @media(max-width: 620px) {
            margin-top: 71px;
        }
    }

    .is-open {
        .contacts__text {
            color: $black;
        }

        &+.contacts__list .contacts__txt {
            color: $red-2;
        }


        .contacts__pic path {
            fill: $black;
        }
    }
}