extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';
	- var setTitle = 'МЫ URALMEDIAS';
	- var include = 'btn';
	- var quote = 'about';
	- var bildboard_img = "background-image: url(img/dataBild/img1.jpg);"

block content
	div(data-barba="container" data-barba-namespace="about")
		include ../modules/bildboard
		include ../modules/breadcrumbs
		include ../modules/quote

		.progress
			.progress__container.container
				.progress__cover
					.progress__items
						.progress__item
							.progress__num 10
							.progress__text сертифицированных специалистов
						.progress__item
							.progress__num 300
							.progress__text разработанных проектов
						.progress__item
							.progress__num 9
							.progress__text лет мы создаем сайты
						.progress__item
							.progress__num 100
							.progress__text миллионов строк кода

		.team
			.team__container.container
				.team__title.title-3 Наша команда
				.team__cover
					.team__items
						.team__item
							.team__pic(style="background-image: url(./img/team/p1.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p7.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p2.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p3.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p4.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p5.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p6.png);")
							.team__name Константин
							.team__status Руководитель

		.reach
			.reach__container.container
				.reach__title.title-3 Достижения студии
				.reach__text За все время существования агентство Uralmedias успешно реализовало множество проектов в различных областях.
				.reach__cover
					.reach__items
						.reach__item
							.reach__pic(style="background-image: url(./img/q1.svg);")
							.reach__txt Рейтинг компаний, занимающихся разработкой и продвижением сайта по версии Рейтинга Рунета 2019
						.reach__item
							.reach__pic(style="background-image: url(./img/q2.svg);")
							.reach__txt Рейтинг компаний, занимающихся разработкой и продвижением сайта по версии Рейтинга Рунета 2019
						.reach__item
							.reach__pic(style="background-image: url(./img/q3.svg);")
							.reach__txt Рейтинг компаний, занимающихся разработкой и продвижением сайта по версии Рейтинга Рунета 2019
						.reach__item
							.reach__pic(style="background-image: url(./img/q4.svg);")
							.reach__txt Рейтинг компаний, занимающихся разработкой и продвижением сайта по версии Рейтинга Рунета 2019

		.client
				.client__container.container
					.client__title.title-3 Клиенты
					.client__quote Благодарственные письма некоторых компаний, с которыми мы сотрудничали
					.client__cover
						.client__items#certificate
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
					.partners
						.swiper-wrapper
							.swiper-slide
								img(src="img/partners/l1.svg" alt="")
							.swiper-slide
								img(src="img/partners/l2.svg" alt="")
							.swiper-slide
								img(src="img/partners/l3.svg" alt="")
							.swiper-slide
								img(src="img/partners/l4.svg" alt="")
							.swiper-slide
								img(src="img/partners/l5.svg" alt="")
							.swiper-slide
								img(src="img/partners/l6.svg" alt="")
							.swiper-slide
								img(src="img/partners/l7.svg" alt="")
							.swiper-slide
								img(src="img/partners/l8.svg" alt="")
							.swiper-slide
								img(src="img/partners/l9.svg" alt="")
							.swiper-slide
								img(src="img/partners/l10.svg" alt="")
							.swiper-slide
								img(src="img/partners/l11.svg" alt="")
							.swiper-slide
								img(src="img/partners/l12.svg" alt="")
		include ../modules/place
block script