extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';
	- var setTitle = 'МЫ URALMEDIAS';
	- var include = 'btn';
	//- - var quote = 'about';

	- var quote = 'h2';
	- var quoteTitle = 'Digital-агентство полного цикла';
	- var quoteInfo = ['Uralmedias - это креативное digital-агентство полного цикла, занимающееся разработкой фирменных сайтов, брендингом, развитием и продвижением проектов в digital-пространстве.', 'Мы верим, что хороший сайт рождается путем полного погружения в задачи заказчика, поиска лучших решений и сплоченной командной работы. Uralmedias является официальным партнером 1С-Битрикс и Битрикс 24. Наши ведущие специалисты прошли обучающие курсы на базе данных систем. Мы работаем более 7 лет. В нашей коллекции более 300 проектов. Наше агентство работает на таких CMS, как 1С Битрикс и modX.'];
	- var bildboard_include = 'simple';
	- var bildboardImg = ['img/dataBild/img1.jpg', 'img/dataBild/img_tablet1.jpg', 'img/dataBild/img_mobile1.jpg'];

block content
	div(data-barba="container" data-barba-namespace="page")
		include ../modules/bildboard
		include ../modules/breadcrumbs
		include ../modules/quote

		.progress
			.progress__container.container
				scrollbar(id="progress-scrollbar").progress__cover
					.progress__items.scroll-content
						.progress__item
							.progress__num 10
							.progress__text сертифицированных специалистов
						.progress__item
							.progress__num 300
							.progress__text разработанных проектов
						.progress__item
							.progress__num 9
							.progress__text лет мы создаем сайты
						.progress__item
							.progress__num 100
							.progress__text миллионов строк&nbsp;кода

		.team
			.team__container.container
				h2.team__title.title-3 Наша команда
				.team__cover
					.team__items
						.team__item
							.team__pic(style="background-image: url(./img/team/p1.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p7.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p2.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p3.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p4.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p5.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p6.png);")
							.team__name Константин
							.team__status Руководитель

		.reach
			- var quote = 'h4';
			- var quoteTitle = 'Достижения студии';
			- var quoteInfo = ['За все время существования агентство Uralmedias успешно реализовало множество проектов в различных областях.'];

			include ../modules/quote
			.reach__container.container
				.reach__cover
					.reach__items
						.reach__item
							.reach__pic
								.reach__bg
									<svg width="155" height="155" viewBox="0 0 155 155" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M30.3951 76.6933L29.9005 76.7667C29.5639 74.4969 29.3928 72.1739 29.3928 69.8616C29.3928 60.0984 32.3885 50.7211 38.0546 42.7469C43.5939 34.9514 51.2728 29.0255 60.2588 25.6116C61.2646 25.2295 61.7522 24.1282 61.3693 23.1577C60.9842 22.1821 59.8576 21.686 58.8475 22.0698L58.6699 21.6024L58.8475 22.0698C49.1339 25.7603 40.8392 32.1611 34.8563 40.5806C28.7351 49.196 25.5 59.3201 25.5 69.8616C25.5 72.3559 25.6841 74.8625 26.0478 77.3118C26.1872 78.2507 27.0131 78.9398 27.9707 78.9398C28.0645 78.9398 28.16 78.9332 28.256 78.9196L30.3951 76.6933ZM30.3951 76.6933L29.9006 76.7667C30.0533 77.7958 29.3274 78.7666 28.2562 78.9195L30.3951 76.6933ZM71.1298 18.3041L71.1299 18.3041C73.1734 18.0624 75.2613 17.9398 77.3349 17.9398C106.099 17.9398 129.5 41.2685 129.5 69.9395C129.5 98.6105 106.1 121.94 77.3353 121.94C66.5793 121.94 56.2534 118.703 47.471 112.58C38.8882 106.596 32.3739 98.3037 28.6298 88.5985C28.2455 87.6022 28.7442 86.4819 29.7484 86.0979L29.7485 86.0979C30.7542 85.713 31.8793 86.2139 32.2641 87.2115L32.7305 87.0315L32.2641 87.2115C35.7297 96.1944 41.7617 103.871 49.7053 109.41C57.8297 115.074 67.385 118.068 77.3353 118.068C103.952 118.068 125.607 96.4797 125.607 69.9398C125.607 43.4002 103.952 21.8121 77.3353 21.8121C75.4145 21.8121 73.4815 21.9253 71.5893 22.1488L71.5878 22.149C70.523 22.2779 69.5536 21.5155 69.4269 20.4543C69.3004 19.3947 70.0609 18.4301 71.1298 18.3041ZM132.289 98.7191L132.118 99.0445L132.378 99.3043L153.982 120.932C154.424 121.375 154.6 122.018 154.445 122.624C154.289 123.23 153.826 123.708 153.226 123.883L153.226 123.883L136.306 128.825L136.043 128.902L135.966 129.165L131.03 146.105L131.03 146.105C130.855 146.705 130.376 147.169 129.77 147.324C129.624 147.362 129.476 147.38 129.33 147.38C128.866 147.38 128.414 147.197 128.077 146.861L106.399 125.158L106.14 124.899L105.815 125.067C97.3469 129.446 87.7416 131.92 77.5678 131.92C67.359 131.92 57.7221 129.428 49.2322 125.021L48.9071 124.852L48.6481 125.112L26.9231 146.861C26.5868 147.197 26.1343 147.38 25.6702 147.38C25.524 147.38 25.3766 147.362 25.2306 147.324C24.6244 147.169 24.1454 146.705 23.9706 146.105L23.9705 146.105L19.0339 129.165L18.9571 128.902L18.694 128.825L1.7742 123.883L1.77408 123.883C1.17398 123.708 0.710711 123.229 0.555335 122.623C0.400324 122.018 0.576246 121.375 1.01791 120.932L22.7108 99.2153L22.9699 98.9559L22.8005 98.6309C18.3659 90.1202 15.8576 80.4531 15.8576 70.21C15.8576 36.1833 43.5412 8.5 77.5675 8.5C111.594 8.5 139.277 36.1833 139.277 70.21C139.277 80.4885 136.752 90.1872 132.289 98.7191ZM6.22998 120.725L5.6338 121.322L6.44356 121.558L19.5889 125.397L19.8735 125.48L20.083 125.27L32.4009 112.923L32.7413 112.582L32.4129 112.23C29.6848 109.3 27.2375 106.105 25.1143 102.689L24.7815 102.153L24.3359 102.599L6.22998 120.725ZM26.296 141.429L26.5325 142.241L27.1298 141.643L45.2605 123.492L45.7063 123.046L45.1701 122.713C41.7435 120.591 38.5392 118.143 35.6002 115.413L35.2467 115.084L34.9059 115.426L22.5865 127.775L22.3777 127.984L22.4604 128.268L26.296 141.429ZM127.87 141.643L128.467 142.241L128.704 141.429L132.539 128.268L132.622 127.984L132.413 127.775L120.159 115.491L119.819 115.15L119.465 115.478C116.522 118.204 113.313 120.648 109.882 122.765L109.345 123.097L109.791 123.544L127.87 141.643ZM134.917 125.27L135.126 125.48L135.411 125.397L148.556 121.558L149.366 121.321L148.769 120.725L130.747 102.682L130.302 102.237L129.969 102.771C127.841 106.183 125.39 109.373 122.657 112.299L122.328 112.651L122.669 112.993L134.917 125.27ZM77.5675 12.041C45.4925 12.041 19.3986 38.135 19.3986 70.21C19.3986 102.285 45.4925 128.379 77.5675 128.379C109.643 128.379 135.736 102.285 135.736 70.21C135.736 38.135 109.643 12.041 77.5675 12.041Z" fill="#FF7369" stroke="#1A1A1A" stroke-width="0.999998"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="155" height="155" fill="white"/>
									</clipPath>
									</defs>
									</svg>
								.reach__num 2
								div место
							.reach__txt Ежегодный рейтинг веб-студий по&nbsp;версии Рейтинга Рунета 2020
						.reach__item
							.reach__pic
								.reach__bg
									<svg width="155" height="155" viewBox="0 0 155 155" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M30.3951 76.6933L29.9005 76.7667C29.5639 74.4969 29.3928 72.1739 29.3928 69.8616C29.3928 60.0984 32.3885 50.7211 38.0546 42.7469C43.5939 34.9514 51.2728 29.0255 60.2588 25.6116C61.2646 25.2295 61.7522 24.1282 61.3693 23.1577C60.9842 22.1821 59.8576 21.686 58.8475 22.0698L58.6699 21.6024L58.8475 22.0698C49.1339 25.7603 40.8392 32.1611 34.8563 40.5806C28.7351 49.196 25.5 59.3201 25.5 69.8616C25.5 72.3559 25.6841 74.8625 26.0478 77.3118C26.1872 78.2507 27.0131 78.9398 27.9707 78.9398C28.0645 78.9398 28.16 78.9332 28.256 78.9196L30.3951 76.6933ZM30.3951 76.6933L29.9006 76.7667C30.0533 77.7958 29.3274 78.7666 28.2562 78.9195L30.3951 76.6933ZM71.1298 18.3041L71.1299 18.3041C73.1734 18.0624 75.2613 17.9398 77.3349 17.9398C106.099 17.9398 129.5 41.2685 129.5 69.9395C129.5 98.6105 106.1 121.94 77.3353 121.94C66.5793 121.94 56.2534 118.703 47.471 112.58C38.8882 106.596 32.3739 98.3037 28.6298 88.5985C28.2455 87.6022 28.7442 86.4819 29.7484 86.0979L29.7485 86.0979C30.7542 85.713 31.8793 86.2139 32.2641 87.2115L32.7305 87.0315L32.2641 87.2115C35.7297 96.1944 41.7617 103.871 49.7053 109.41C57.8297 115.074 67.385 118.068 77.3353 118.068C103.952 118.068 125.607 96.4797 125.607 69.9398C125.607 43.4002 103.952 21.8121 77.3353 21.8121C75.4145 21.8121 73.4815 21.9253 71.5893 22.1488L71.5878 22.149C70.523 22.2779 69.5536 21.5155 69.4269 20.4543C69.3004 19.3947 70.0609 18.4301 71.1298 18.3041ZM132.289 98.7191L132.118 99.0445L132.378 99.3043L153.982 120.932C154.424 121.375 154.6 122.018 154.445 122.624C154.289 123.23 153.826 123.708 153.226 123.883L153.226 123.883L136.306 128.825L136.043 128.902L135.966 129.165L131.03 146.105L131.03 146.105C130.855 146.705 130.376 147.169 129.77 147.324C129.624 147.362 129.476 147.38 129.33 147.38C128.866 147.38 128.414 147.197 128.077 146.861L106.399 125.158L106.14 124.899L105.815 125.067C97.3469 129.446 87.7416 131.92 77.5678 131.92C67.359 131.92 57.7221 129.428 49.2322 125.021L48.9071 124.852L48.6481 125.112L26.9231 146.861C26.5868 147.197 26.1343 147.38 25.6702 147.38C25.524 147.38 25.3766 147.362 25.2306 147.324C24.6244 147.169 24.1454 146.705 23.9706 146.105L23.9705 146.105L19.0339 129.165L18.9571 128.902L18.694 128.825L1.7742 123.883L1.77408 123.883C1.17398 123.708 0.710711 123.229 0.555335 122.623C0.400324 122.018 0.576246 121.375 1.01791 120.932L22.7108 99.2153L22.9699 98.9559L22.8005 98.6309C18.3659 90.1202 15.8576 80.4531 15.8576 70.21C15.8576 36.1833 43.5412 8.5 77.5675 8.5C111.594 8.5 139.277 36.1833 139.277 70.21C139.277 80.4885 136.752 90.1872 132.289 98.7191ZM6.22998 120.725L5.6338 121.322L6.44356 121.558L19.5889 125.397L19.8735 125.48L20.083 125.27L32.4009 112.923L32.7413 112.582L32.4129 112.23C29.6848 109.3 27.2375 106.105 25.1143 102.689L24.7815 102.153L24.3359 102.599L6.22998 120.725ZM26.296 141.429L26.5325 142.241L27.1298 141.643L45.2605 123.492L45.7063 123.046L45.1701 122.713C41.7435 120.591 38.5392 118.143 35.6002 115.413L35.2467 115.084L34.9059 115.426L22.5865 127.775L22.3777 127.984L22.4604 128.268L26.296 141.429ZM127.87 141.643L128.467 142.241L128.704 141.429L132.539 128.268L132.622 127.984L132.413 127.775L120.159 115.491L119.819 115.15L119.465 115.478C116.522 118.204 113.313 120.648 109.882 122.765L109.345 123.097L109.791 123.544L127.87 141.643ZM134.917 125.27L135.126 125.48L135.411 125.397L148.556 121.558L149.366 121.321L148.769 120.725L130.747 102.682L130.302 102.237L129.969 102.771C127.841 106.183 125.39 109.373 122.657 112.299L122.328 112.651L122.669 112.993L134.917 125.27ZM77.5675 12.041C45.4925 12.041 19.3986 38.135 19.3986 70.21C19.3986 102.285 45.4925 128.379 77.5675 128.379C109.643 128.379 135.736 102.285 135.736 70.21C135.736 38.135 109.643 12.041 77.5675 12.041Z" fill="#FF7369" stroke="#1A1A1A" stroke-width="0.999998"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="155" height="155" fill="white"/>
									</clipPath>
									</defs>
									</svg>
								.reach__num 4
								div место
							.reach__txt Ежегодный рейтинг разработчиков интернет-магазинов по&nbsp;версии Рейтинга Рунета 2020
						.reach__item
							.reach__pic
								.reach__bg
									<svg width="155" height="155" viewBox="0 0 155 155" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M30.3951 76.6933L29.9005 76.7667C29.5639 74.4969 29.3928 72.1739 29.3928 69.8616C29.3928 60.0984 32.3885 50.7211 38.0546 42.7469C43.5939 34.9514 51.2728 29.0255 60.2588 25.6116C61.2646 25.2295 61.7522 24.1282 61.3693 23.1577C60.9842 22.1821 59.8576 21.686 58.8475 22.0698L58.6699 21.6024L58.8475 22.0698C49.1339 25.7603 40.8392 32.1611 34.8563 40.5806C28.7351 49.196 25.5 59.3201 25.5 69.8616C25.5 72.3559 25.6841 74.8625 26.0478 77.3118C26.1872 78.2507 27.0131 78.9398 27.9707 78.9398C28.0645 78.9398 28.16 78.9332 28.256 78.9196L30.3951 76.6933ZM30.3951 76.6933L29.9006 76.7667C30.0533 77.7958 29.3274 78.7666 28.2562 78.9195L30.3951 76.6933ZM71.1298 18.3041L71.1299 18.3041C73.1734 18.0624 75.2613 17.9398 77.3349 17.9398C106.099 17.9398 129.5 41.2685 129.5 69.9395C129.5 98.6105 106.1 121.94 77.3353 121.94C66.5793 121.94 56.2534 118.703 47.471 112.58C38.8882 106.596 32.3739 98.3037 28.6298 88.5985C28.2455 87.6022 28.7442 86.4819 29.7484 86.0979L29.7485 86.0979C30.7542 85.713 31.8793 86.2139 32.2641 87.2115L32.7305 87.0315L32.2641 87.2115C35.7297 96.1944 41.7617 103.871 49.7053 109.41C57.8297 115.074 67.385 118.068 77.3353 118.068C103.952 118.068 125.607 96.4797 125.607 69.9398C125.607 43.4002 103.952 21.8121 77.3353 21.8121C75.4145 21.8121 73.4815 21.9253 71.5893 22.1488L71.5878 22.149C70.523 22.2779 69.5536 21.5155 69.4269 20.4543C69.3004 19.3947 70.0609 18.4301 71.1298 18.3041ZM132.289 98.7191L132.118 99.0445L132.378 99.3043L153.982 120.932C154.424 121.375 154.6 122.018 154.445 122.624C154.289 123.23 153.826 123.708 153.226 123.883L153.226 123.883L136.306 128.825L136.043 128.902L135.966 129.165L131.03 146.105L131.03 146.105C130.855 146.705 130.376 147.169 129.77 147.324C129.624 147.362 129.476 147.38 129.33 147.38C128.866 147.38 128.414 147.197 128.077 146.861L106.399 125.158L106.14 124.899L105.815 125.067C97.3469 129.446 87.7416 131.92 77.5678 131.92C67.359 131.92 57.7221 129.428 49.2322 125.021L48.9071 124.852L48.6481 125.112L26.9231 146.861C26.5868 147.197 26.1343 147.38 25.6702 147.38C25.524 147.38 25.3766 147.362 25.2306 147.324C24.6244 147.169 24.1454 146.705 23.9706 146.105L23.9705 146.105L19.0339 129.165L18.9571 128.902L18.694 128.825L1.7742 123.883L1.77408 123.883C1.17398 123.708 0.710711 123.229 0.555335 122.623C0.400324 122.018 0.576246 121.375 1.01791 120.932L22.7108 99.2153L22.9699 98.9559L22.8005 98.6309C18.3659 90.1202 15.8576 80.4531 15.8576 70.21C15.8576 36.1833 43.5412 8.5 77.5675 8.5C111.594 8.5 139.277 36.1833 139.277 70.21C139.277 80.4885 136.752 90.1872 132.289 98.7191ZM6.22998 120.725L5.6338 121.322L6.44356 121.558L19.5889 125.397L19.8735 125.48L20.083 125.27L32.4009 112.923L32.7413 112.582L32.4129 112.23C29.6848 109.3 27.2375 106.105 25.1143 102.689L24.7815 102.153L24.3359 102.599L6.22998 120.725ZM26.296 141.429L26.5325 142.241L27.1298 141.643L45.2605 123.492L45.7063 123.046L45.1701 122.713C41.7435 120.591 38.5392 118.143 35.6002 115.413L35.2467 115.084L34.9059 115.426L22.5865 127.775L22.3777 127.984L22.4604 128.268L26.296 141.429ZM127.87 141.643L128.467 142.241L128.704 141.429L132.539 128.268L132.622 127.984L132.413 127.775L120.159 115.491L119.819 115.15L119.465 115.478C116.522 118.204 113.313 120.648 109.882 122.765L109.345 123.097L109.791 123.544L127.87 141.643ZM134.917 125.27L135.126 125.48L135.411 125.397L148.556 121.558L149.366 121.321L148.769 120.725L130.747 102.682L130.302 102.237L129.969 102.771C127.841 106.183 125.39 109.373 122.657 112.299L122.328 112.651L122.669 112.993L134.917 125.27ZM77.5675 12.041C45.4925 12.041 19.3986 38.135 19.3986 70.21C19.3986 102.285 45.4925 128.379 77.5675 128.379C109.643 128.379 135.736 102.285 135.736 70.21C135.736 38.135 109.643 12.041 77.5675 12.041Z" fill="#FF7369" stroke="#1A1A1A" stroke-width="0.999998"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="155" height="155" fill="white"/>
									</clipPath>
									</defs>
									</svg>
								.reach__num 32
								div место
							.reach__txt Ежегодный рейтинг SEO-компаний по&nbsp;версии Рейтинга Рунета 2020
						.reach__item
							.reach__pic
								.reach__bg
									<svg width="155" height="155" viewBox="0 0 155 155" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M30.3951 76.6933L29.9005 76.7667C29.5639 74.4969 29.3928 72.1739 29.3928 69.8616C29.3928 60.0984 32.3885 50.7211 38.0546 42.7469C43.5939 34.9514 51.2728 29.0255 60.2588 25.6116C61.2646 25.2295 61.7522 24.1282 61.3693 23.1577C60.9842 22.1821 59.8576 21.686 58.8475 22.0698L58.6699 21.6024L58.8475 22.0698C49.1339 25.7603 40.8392 32.1611 34.8563 40.5806C28.7351 49.196 25.5 59.3201 25.5 69.8616C25.5 72.3559 25.6841 74.8625 26.0478 77.3118C26.1872 78.2507 27.0131 78.9398 27.9707 78.9398C28.0645 78.9398 28.16 78.9332 28.256 78.9196L30.3951 76.6933ZM30.3951 76.6933L29.9006 76.7667C30.0533 77.7958 29.3274 78.7666 28.2562 78.9195L30.3951 76.6933ZM71.1298 18.3041L71.1299 18.3041C73.1734 18.0624 75.2613 17.9398 77.3349 17.9398C106.099 17.9398 129.5 41.2685 129.5 69.9395C129.5 98.6105 106.1 121.94 77.3353 121.94C66.5793 121.94 56.2534 118.703 47.471 112.58C38.8882 106.596 32.3739 98.3037 28.6298 88.5985C28.2455 87.6022 28.7442 86.4819 29.7484 86.0979L29.7485 86.0979C30.7542 85.713 31.8793 86.2139 32.2641 87.2115L32.7305 87.0315L32.2641 87.2115C35.7297 96.1944 41.7617 103.871 49.7053 109.41C57.8297 115.074 67.385 118.068 77.3353 118.068C103.952 118.068 125.607 96.4797 125.607 69.9398C125.607 43.4002 103.952 21.8121 77.3353 21.8121C75.4145 21.8121 73.4815 21.9253 71.5893 22.1488L71.5878 22.149C70.523 22.2779 69.5536 21.5155 69.4269 20.4543C69.3004 19.3947 70.0609 18.4301 71.1298 18.3041ZM132.289 98.7191L132.118 99.0445L132.378 99.3043L153.982 120.932C154.424 121.375 154.6 122.018 154.445 122.624C154.289 123.23 153.826 123.708 153.226 123.883L153.226 123.883L136.306 128.825L136.043 128.902L135.966 129.165L131.03 146.105L131.03 146.105C130.855 146.705 130.376 147.169 129.77 147.324C129.624 147.362 129.476 147.38 129.33 147.38C128.866 147.38 128.414 147.197 128.077 146.861L106.399 125.158L106.14 124.899L105.815 125.067C97.3469 129.446 87.7416 131.92 77.5678 131.92C67.359 131.92 57.7221 129.428 49.2322 125.021L48.9071 124.852L48.6481 125.112L26.9231 146.861C26.5868 147.197 26.1343 147.38 25.6702 147.38C25.524 147.38 25.3766 147.362 25.2306 147.324C24.6244 147.169 24.1454 146.705 23.9706 146.105L23.9705 146.105L19.0339 129.165L18.9571 128.902L18.694 128.825L1.7742 123.883L1.77408 123.883C1.17398 123.708 0.710711 123.229 0.555335 122.623C0.400324 122.018 0.576246 121.375 1.01791 120.932L22.7108 99.2153L22.9699 98.9559L22.8005 98.6309C18.3659 90.1202 15.8576 80.4531 15.8576 70.21C15.8576 36.1833 43.5412 8.5 77.5675 8.5C111.594 8.5 139.277 36.1833 139.277 70.21C139.277 80.4885 136.752 90.1872 132.289 98.7191ZM6.22998 120.725L5.6338 121.322L6.44356 121.558L19.5889 125.397L19.8735 125.48L20.083 125.27L32.4009 112.923L32.7413 112.582L32.4129 112.23C29.6848 109.3 27.2375 106.105 25.1143 102.689L24.7815 102.153L24.3359 102.599L6.22998 120.725ZM26.296 141.429L26.5325 142.241L27.1298 141.643L45.2605 123.492L45.7063 123.046L45.1701 122.713C41.7435 120.591 38.5392 118.143 35.6002 115.413L35.2467 115.084L34.9059 115.426L22.5865 127.775L22.3777 127.984L22.4604 128.268L26.296 141.429ZM127.87 141.643L128.467 142.241L128.704 141.429L132.539 128.268L132.622 127.984L132.413 127.775L120.159 115.491L119.819 115.15L119.465 115.478C116.522 118.204 113.313 120.648 109.882 122.765L109.345 123.097L109.791 123.544L127.87 141.643ZM134.917 125.27L135.126 125.48L135.411 125.397L148.556 121.558L149.366 121.321L148.769 120.725L130.747 102.682L130.302 102.237L129.969 102.771C127.841 106.183 125.39 109.373 122.657 112.299L122.328 112.651L122.669 112.993L134.917 125.27ZM77.5675 12.041C45.4925 12.041 19.3986 38.135 19.3986 70.21C19.3986 102.285 45.4925 128.379 77.5675 128.379C109.643 128.379 135.736 102.285 135.736 70.21C135.736 38.135 109.643 12.041 77.5675 12.041Z" fill="#FF7369" stroke="#1A1A1A" stroke-width="0.999998"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="155" height="155" fill="white"/>
									</clipPath>
									</defs>
									</svg>
								.reach__num 35
								div место
							.reach__txt Ежегодный рейтинг веб-студий по&nbsp;версии Рейтинга Рунета 2020

		.client
				- var quote = 'h4';
				- var quoteTitle = 'Клиенты';
				- var quoteInfo = ['Благодарственные письма некоторых компаний, с которыми мы сотрудничали'];

				include ../modules/quote
				.client__container.container
					.client__cover
						.client__items#certificate(data-barba-prevent="all")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
					include ../modules/partners
		include ../modules/place
block script