extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';
	- var setTitle = 'МЫ URALMEDIAS';
	- var include = 'btn';
	//- - var quote = 'about';

	- var quote = 'h2';
	- var quoteTitle = 'Digital-агентство полного цикла';
	- var quoteInfo = ['Uralmedias - это креативное digital-агентство полного цикла, занимающееся разработкой фирменных сайтов, брендингом, развитием и продвижением проектов в digital-пространстве.', 'Мы верим, что хороший сайт рождается путем полного погружения в задачи заказчика, поиска лучших решений и сплоченной командной работы. Uralmedias является официальным партнером 1С-Битрикс и Битрикс 24. Наши ведущие специалисты прошли обучающие курсы на базе данных систем. Мы работаем более 7 лет. В нашей коллекции более 300 проектов. Наше агентство работает на таких CMS, как 1С Битрикс и modX.'];
	- var bildboard_include = 'simple';
	- var bildboardImg = ['img/dataBild/img1.jpg', 'img/dataBild/img_tablet1.jpg', 'img/dataBild/img_mobile1.jpg'];

block content
	div(data-barba="container" data-barba-namespace="page")
		include ../modules/bildboard
		include ../modules/breadcrumbs
		include ../modules/quote

		.progress
			.progress__container.container
				scrollbar(id="progress-scrollbar").progress__cover
					.progress__items.scroll-content
						.progress__item
							.progress__num 10
							.progress__text сертифицированных специалистов
						.progress__item
							.progress__num 300
							.progress__text разработанных проектов
						.progress__item
							.progress__num 9
							.progress__text лет мы создаем сайты
						.progress__item
							.progress__num 100
							.progress__text миллионов строк&nbsp;кода

		.team
			.team__container.container
				.team__title.title-3 Наша команда
				.team__cover
					.team__items
						.team__item
							.team__pic(style="background-image: url(./img/team/p1.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p7.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p2.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p3.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p4.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p5.png);")
							.team__name Константин
							.team__status Руководитель
						.team__item
							.team__pic(style="background-image: url(./img/team/p6.png);")
							.team__name Константин
							.team__status Руководитель

		.reach
			- var quote = 'h4';
			- var quoteTitle = 'Достижения студии';
			- var quoteInfo = ['За все время существования агентство Uralmedias успешно реализовало множество проектов в различных областях.'];

			include ../modules/quote
			.reach__container.container
				scrollbar(id="inner-scrollbar").reach__cover
					.reach__items.scroll-content
						.reach__item
							.reach__pic(style="background-image: url(./img/q1.svg);")
							.reach__txt Рейтинг компаний, занимающихся разработкой и продвижением сайта по версии Рейтинга Рунета 2019
						.reach__item
							.reach__pic(style="background-image: url(./img/q2.svg);")
							.reach__txt Ежегодный рейтинг веб-студий по версии Рейтинга Рунета 2019
						.reach__item
							.reach__pic(style="background-image: url(./img/q3.svg);")
							.reach__txt Ежегодный рейтинг разработчиков интернет-магазинов по версии Рейтинга Рунета 2019
						.reach__item
							.reach__pic(style="background-image: url(./img/q4.svg);")
							.reach__txt Ежегодный рейтинг SEO-компаний по версии Рейтинга Рунета 2019

		.client
				- var quote = 'h4';
				- var quoteTitle = 'Клиенты';
				- var quoteInfo = ['Благодарственные письма некоторых компаний, с которыми мы сотрудничали'];

				include ../modules/quote
				.client__container.container
					.client__cover
						.client__items#certificate(data-barba-prevent="all")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
							a(href="./img/certificate/c1.png").client__item
								img(src="./img/certificate/c1.png")
					include ../modules/partners
		include ../modules/place
block script