extends ../layout/main

block variables
	- var pageClass = 'index-page';
	- var setTitle = 'ЮЗАБИЛИТИ САЙТА';
	- var include = 'btn';
	- var quote = 'services'
	- var bildboard_include = 'simple';
	- var bildboardImg = ['img/dataBild/img1.jpg', 'img/dataBild/img_tablet1.jpg', 'img/dataBild/img_mobile1.jpg'];

block content
	div(data-barba="container" data-barba-namespace="page")
		include ../modules/bildboard
		include ../modules/breadcrumbs
		.article 
			.article__container.container
				.article__info 30 Апреля 2020
				.article__content.content
					h2 Как юзабилити сайта влияет на решение о&nbsp;покупке?
					.toc 
						.toc__header Содержание статьи:
						.toc__items
							a(href="#anchor1").toc__item 10 эвристик Нильсена.
							a(href="#anchor2").toc__item Как улучшить юзабилити?
					p Почти каждый владелец сайта стремится занимать первые позиции поисковой выдачи, удерживать внимание пользователя на продукте, услуге или компании в целом, быть полезным и удобным. Но зачастую мы посещаем сайты, не дружелюбные для пользователя, кнопки в неудобном месте, интересующую вкладку приходится искать долго, а перекрывающий текст баннер мозолит глаза.
					.quote Юзабилити (от английского "usability") – удобство сайта для пользователя, является одним из решающих факторов при продвижении ресурса. Поисковые системы умеют определять, удобен ли сайт для пользователя с помощью автоматических алгоритмов.
					p Для владельца бизнеса оценить юзабилити сайта сложнее, однако, методы существуют. Наиболее популярный сервис, рекомендуемый к пользованию, – Яндекс.Метрика. Она позволяет считать посетителей, фиксировать платформы, с которых они заходят на сайт, а также поведение на ресурсе.
					p Проверить недостатки, и составить собственный чек-лист поможет система «10 эвристик Нильсена». Автор описал правила хорошего юзабилити еще в 90-х годах. Правила подходят для быстрого выявления поверхностных проблем сайта, влияющих на удобство пользования.
					
					h3(data-anchor="anchor1") 10 эвристик Нильсена.
					ul.list.list--num
						li.list__li 
							.list__title Видимость статуса сайта
							.list__info Есть информация, которая важна для пользователей, она расположена на отдельных страницах, на них есть ссылки в нижней части сайта
						li.list__li 
							.list__title Без диссонанса с окружающим миром
							.list__info Это означает, что необходимо создавать сайт максимально понятным для пользователя, не использовать чересчур сложные слова и фразы, избегать специальной терминологии.
						li.list__li 
							.list__title Возможность свободного выбора
							.list__info Все могут совершить ошибки, а главное — иметь возможность вернуть все в прежнее состояние, то есть вернуть последние изменения. Например, кнопка «отменить заказ».
						li.list__li 
							.list__title Стандартизация всех процессов
							.list__info Весь интерфейс (блоки, кнопки, пункты меню) должен подчиняться логике и вести пользователя по запоминающемуся и понятному пути. Например, будет неправильным располагать «корзину покупок» в разных местах на разных страницах и подписывать иначе.
						li.list__li 
							.list__title Предотвращение ошибок
							.list__info Избежать ошибок как в работе сайта позволяет тщательно продуманная структура сайта, а также регулярная проверка на предмет технических проблем.
						li.list__li
							.list__title Важная информация «под рукой»
							.list__info Пользователь не должен держать в голове важные данные — есть риск, что они потеряются в памяти и найти их заново будет сложнее, чем забыть. Поэтому всю информацию лучше отобразить в системе.
						li.list__li
							.list__title Гибкость и эффективность использования
							.list__info Процесс, который совершается часто, можно упростить — за счет этого пользователь быстрее и охотнее совершает действие. Ярким примером является запоминание адреса доставки и данных пользователя для получения, запоминания платежного счета.
						li.list__li
							.list__title Полезный минимализм
							.list__info Уменьшить количество устаревшей или попросту лишней информации. Ненужный текст раздражает и мешает найти то, что действительно интересует человека. Каждая лишняя единица усложняет восприятие интерфейса.
						li.list__li
							.list__title Помощь пользователям в устранении ошибок
							.list__info Сообщения об ошибках на сайте должны точно указывать на проблему и просто объяснять, как исправить ее. Например, в формах заполнения часто используется информирование о некорректно введенных данных с разъяснением возможных причин и руководством к исправлению.
						li.list__li
							.list__title Справка
							.list__info В идеале, при максимальном удобстве сайта, помощь и инструкции не понадобятся. Но лучше, если на сайте есть раздел со справочной документацией. Обычно инструкции описывают конкретные шаги, написаны простым языком и решают задачу пользователя. Например руководство «возврат покупки».
					
					h3(data-anchor="anchor2") Как улучшить юзабилити? Чек-лист от веб-студии «Uralmedias»
					ul.list.list--points
						li.list__li 
							.list__title Проработанное меню
							.list__info Есть информация, которая важна для пользователей, она расположена на отдельных страницах, на них есть ссылки в нижней части сайта
						li.list__li 
							.list__title Грамотная перелинковка
							.list__info Ссылки на страницах корректно проставлены, их наличие логично на странице, перенаправление пользователя соответствует интересам
						li.list__li 
							.list__title «Хлебные крошки»
							.list__info Пользователь понимает, на какой странице находится и в каком разделе. Обычно отображают в верхней части, в виде горизонтальной полосы
						li.list__li
							.list__title Карта сайта
							.list__info Карта показывает список всех разделов сайта
						li.list__li
							.list__title Возможность быстро найти информацию
							.list__info Важная информация отображена на главной странице на видимых участках сайта
						li.list__li
							.list__title Высокая скорость загрузки страниц
							.list__info Показатели загрузки в норме на всех устройствах
						li.list__li
							.list__title Поддержка работы с разными браузерами и мобильными устройствами
							.list__info Сайт отображается корректно, элементы не мешают пользователю изучать информацию, структура адаптирована под разные устройства
						li.list__li
							.list__title Ошибки 404
							.list__info Страницы загружаются правильно, ошибки 404 отсутствуют

					.writer 
						h3 Немного от дизайнера
						.writer__wrapper
							.writer__pic(style="background-image: url('./img/article/pic1.jpg')")
							.writer__content 
								.writer__header 	
									.writer__name Алексей
									.writer__job UX/UI-дизайнер
								.writer__box 
									.writer__txt.
										UX и SEO — два связанных понятия в моей работе. UX-дизайн должен подавать материал
										так, чтобы он был интересным и удобным для восприятия. Задача SEO-специалиста –
										подобрать материал, который сможет принести трафик из поисковых систем, или другими
										словами — разработать контентную стратегию.
									.writer__txt.
										Продуманная информационная архитектура — это не только удобство пользования сайтом,
										но и его поисковая оптимизация! Моя задача заключалась как раз в этом: создать страницу,
										которая удовлетворяет требованиям как структуре сайта, так и его поисковой выдаче.
										На странице присутствует более 2000 знаков, сопровождающиеся уникальными иконками
										и изображениями, также, прописаны заголовки. Готовый сайт можно посетить по ссылке:
										<a href="https://vysotamgn.ru/">vysotamgn.ru</a>

					.quote Ищите примеры сайтов с хорошим юзабилити? Загляните в наше портфолио :) 
				.share
					.share__title Поделиться публикацией
					.share__items
						a(href="javascript:void(0);").share__item
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="fill" d="M29.0685 14.5342C29.0685 6.50634 22.5621 0 14.5342 0C6.50634 0 0 6.50634 0 14.5342C0 22.5621 6.50634 29.0685 14.5342 29.0685C14.6194 29.0685 14.7046 29.0685 14.7897 29.0628V17.7533H11.6671V14.1141H14.7897V11.4344C14.7897 8.3288 16.686 6.63692 19.4566 6.63692C20.7851 6.63692 21.9263 6.73344 22.2555 6.77886V10.0263H20.3479C18.8434 10.0263 18.5482 10.7417 18.5482 11.792V14.1084H22.1533L21.6821 17.7477H18.5482V28.5064C24.623 26.7634 29.0685 21.1712 29.0685 14.5342Z" fill="#333333"/>
							</svg>
						a(href="javascript:void(0);").share__item
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="fill" d="M14.6026 0C6.57583 0 0.0683594 6.50717 0.0683594 14.5342C0.0683594 22.5613 6.57583 29.0685 14.6026 29.0685C22.6294 29.0685 29.1368 22.5613 29.1368 14.5342C29.1368 6.50717 22.6294 0 14.6026 0ZM21.9751 16.1062C22.6525 16.7678 23.3692 17.3905 23.9774 18.1206C24.2468 18.4435 24.5007 18.7775 24.694 19.1531C24.97 19.6886 24.7208 20.276 24.2414 20.3078L21.2638 20.3072C20.4948 20.3708 19.8828 20.0607 19.3668 19.5349C18.955 19.1159 18.5729 18.6683 18.1762 18.2351C18.0141 18.0572 17.8434 17.8898 17.64 17.7581C17.2341 17.494 16.8814 17.5749 16.6488 17.999C16.4118 18.4304 16.3577 18.9086 16.3351 19.3889C16.3027 20.091 16.091 20.2745 15.3865 20.3075C13.8812 20.378 12.4529 20.1496 11.1254 19.3907C9.95431 18.7213 9.04791 17.7765 8.25808 16.7069C6.72006 14.6217 5.54215 12.3331 4.48379 9.97873C4.24559 9.44851 4.41986 9.16482 5.00479 9.15381C5.97662 9.13508 6.94844 9.13746 7.92026 9.15292C8.31577 9.15917 8.57746 9.38547 8.72942 9.75868C9.25459 11.0508 9.89841 12.2801 10.7052 13.4203C10.9202 13.7239 11.1397 14.0266 11.4522 14.241C11.7971 14.4777 12.06 14.3995 12.2227 14.0144C12.3268 13.7697 12.3717 13.508 12.3943 13.2457C12.4716 12.3473 12.4808 11.4493 12.347 10.5545C12.2637 9.9945 11.9488 9.63289 11.3906 9.52702C11.1063 9.4732 11.148 9.36792 11.2863 9.20556C11.5262 8.92484 11.7511 8.75117 12.2004 8.75117L15.5646 8.75057C16.0948 8.85466 16.2138 9.09256 16.2857 9.62664L16.2887 13.3652C16.2825 13.5719 16.3925 14.1845 16.7636 14.3198C17.061 14.418 17.2573 14.1795 17.4351 13.9912C18.2419 13.1351 18.8167 12.1246 19.3315 11.0787C19.5587 10.6175 19.7546 10.1402 19.9449 9.66203C20.0865 9.30845 20.3066 9.13449 20.7056 9.14043L23.9452 9.1443C24.0407 9.1443 24.1376 9.14519 24.2322 9.16155C24.7782 9.25492 24.9278 9.48985 24.7589 10.0224C24.493 10.8593 23.9765 11.5563 23.4715 12.2551C22.9303 13.0033 22.3531 13.7254 21.8172 14.4768C21.3248 15.1638 21.3637 15.5096 21.9751 16.1062Z" fill="#333333"/>
							</svg>
						a(href="javascript:void(0);").share__item
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="fill" d="M14.5342 0C6.50747 0 0 6.50717 0 14.5342C0 22.5613 6.50747 29.0685 14.5342 29.0685C22.561 29.0685 29.0685 22.5613 29.0685 14.5342C29.0685 6.50717 22.561 0 14.5342 0Z" fill="#333333"/>
								<path d="M14.5232 3.51785C17.5963 3.5256 20.0637 6.04005 20.0485 9.14821C20.0321 12.1843 17.5245 14.6453 14.4563 14.635C11.4185 14.6246 8.92761 12.1064 8.94485 9.06376C8.96294 5.98777 11.4556 3.50866 14.5232 3.51785ZM20.7484 16.8185C20.0689 17.5168 19.2508 18.0212 18.342 18.3742C17.4829 18.7062 16.5416 18.8745 15.6098 18.986C15.7506 19.1394 15.8169 19.2138 15.9042 19.3025C17.1692 20.5735 18.4394 21.8394 19.7 23.1141C20.1292 23.5481 20.2199 24.0867 19.983 24.5919C19.7242 25.1449 19.1454 25.5076 18.5772 25.4686C18.2176 25.4433 17.9373 25.2643 17.6885 25.0142C16.7338 24.0534 15.7609 23.1107 14.8263 22.1329C14.5542 21.848 14.4233 21.9011 14.1826 22.149C13.2223 23.1377 12.2472 24.1111 11.2657 25.0788C10.8248 25.5137 10.3006 25.5915 9.78845 25.3436C9.24501 25.0802 8.89975 24.5256 8.92646 23.9675C8.94485 23.5906 9.1304 23.3028 9.3892 23.0443C10.6404 21.7946 11.8887 20.5416 13.1376 19.2896C13.2206 19.2069 13.2976 19.1181 13.4179 18.9894C11.7149 18.8116 10.1794 18.3928 8.86528 17.3645C8.70242 17.2367 8.53382 17.1132 8.38445 16.9702C7.80941 16.4175 7.75168 15.7853 8.20694 15.133C8.59586 14.5752 9.25018 14.4253 9.92949 14.7455C10.0613 14.8073 10.1866 14.8851 10.3066 14.9681C12.7562 16.6513 16.1217 16.6982 18.5807 15.0446C18.824 14.8587 19.0845 14.7048 19.3867 14.6283C19.9741 14.4776 20.5204 14.6927 20.8358 15.2063C21.1968 15.7914 21.1919 16.3635 20.7484 16.8185Z" fill="white"/>
								<path class="fill" d="M14.5142 11.7969C16.0213 11.7921 17.2217 10.5819 17.2162 9.07138C17.2102 7.56082 16.0078 6.3576 14.5001 6.35645C12.9798 6.35501 11.7657 7.57978 11.7774 9.10413C11.7886 10.6089 13.0025 11.8033 14.5142 11.7969Z" fill="#333333"/>
							</svg>
						a(href="javascript:void(0);").share__item
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="fill" d="M14.5342 0C6.50747 0 0 6.50717 0 14.5342C0 22.5613 6.50747 29.0685 14.5342 29.0685C22.561 29.0685 29.0685 22.5613 29.0685 14.5342C29.0685 6.50717 22.561 0 14.5342 0Z" fill="#333333"/>
								<g clip-path="url(#clip0)">
								<path d="M10.4202 10.9502C11.5325 10.9502 12.4342 10.0662 12.4342 8.97569C12.4342 7.88522 11.5325 7.00122 10.4202 7.00122C9.30793 7.00122 8.40625 7.88522 8.40625 8.97569C8.40625 10.0662 9.30793 10.9502 10.4202 10.9502Z" fill="white"/>
								<path d="M18.5979 10.9502C19.7102 10.9502 20.6119 10.0662 20.6119 8.97569C20.6119 7.88522 19.7102 7.00122 18.5979 7.00122C17.4857 7.00122 16.584 7.88522 16.584 8.97569C16.584 10.0662 17.4857 10.9502 18.5979 10.9502Z" fill="white"/>
								<path d="M24.8582 18.607L22.4188 14.5097C22.1162 14.0091 21.4638 13.833 20.9438 14.1296C20.4332 14.4263 20.2536 15.0659 20.5561 15.5665L20.9154 16.1597C19.1284 17.7541 16.8497 18.6255 14.4008 18.6255C12.0275 18.6255 9.7961 17.7912 8.02798 16.2802L8.45346 15.5572C8.75603 15.0566 8.57638 14.4077 8.0658 14.1204C7.55522 13.8237 6.89335 13.9999 6.59079 14.5004L4.15135 18.5977C3.84878 19.0983 4.02843 19.7472 4.53901 20.0345C4.7092 20.1272 4.89831 20.1736 5.07795 20.1736C5.44671 20.1736 5.80601 19.9882 6.00456 19.6545L6.77989 18.3567C8.93568 20.0716 11.5926 20.9986 14.4008 20.9986C17.2373 20.9986 19.9888 20.0067 22.1541 18.2454L23.005 19.6637C23.2036 19.9974 23.5629 20.1828 23.9316 20.1828C24.1113 20.1828 24.3004 20.1365 24.4706 20.0438C24.9812 19.7472 25.1514 19.1075 24.8582 18.607Z" fill="white"/>
								</g>
								<defs>
								<clipPath id="clip0">
								<rect width="21" height="14" fill="white" transform="translate(4 7)"/>
								</clipPath>
								</defs>
							</svg>
		include ../modules/place
block script