extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	div(data-barba="container" data-barba-namespace="blog")
		.bildboard
			.bildboard__container.container
				
		

block script