extends ../layout/main

block variables
	- var pageClass = 'index-page';
	- var setTitle = 'БЛОГ';
	- var include = 'btn';
	- var quote = 'services'
	- var bildboard_include = 'simple';
	- var bildboardImg = ['img/dataBild/img1.jpg', 'img/dataBild/img_tablet1.jpg', 'img/dataBild/img_mobile1.jpg'];

block content
	div(data-barba="container" data-barba-namespace="blog" class="barba-container")
		include ../modules/bildboard
		include ../modules/breadcrumbs
		.blog
			.blog__container.container
				include ../modules/include-menu
				.blog__cover
					.blog__items
						a(href="article.html").blog__item
							.blog__pic(style="background-image: url(img/dataBild/img3.jpg);")
								.blog__popup
									.blog__txt В этой статье мы разберемся, зачем бизнесу контент-маркетинг, и какой контент публиковать, чтобы быть в “тренде”.
							.blog__content
								.blog__text Как юзабилити сайта влияет на решение о покупке?
								.blog__bottom 
									.blog__date 30 Апреля 2020
									.blog__ref
						a(href="article.html").blog__item
							.blog__pic(style="background-image: url(img/dataBild/img3.jpg);")
								.blog__popup
									.blog__txt В этой статье мы разберемся, зачем бизнесу контент-маркетинг, и какой контент публиковать, чтобы быть в “тренде”.
							.blog__content
								.blog__text Как юзабилити сайта влияет на решение о покупке?
								.blog__bottom 
									.blog__date 30 Апреля 2020
									.blog__ref
						a(href="article.html").blog__item
							.blog__pic(style="background-image: url(img/dataBild/img3.jpg);")
								.blog__popup
									.blog__txt В этой статье мы разберемся, зачем бизнесу контент-маркетинг, и какой контент публиковать, чтобы быть в “тренде”.
							.blog__content
								.blog__text Как юзабилити сайта влияет на решение о покупке?
								.blog__bottom 
									.blog__date 30 Апреля 2020
									.blog__ref
						a(href="article.html").blog__item
							.blog__pic(style="background-image: url(img/dataBild/img3.jpg);")
								.blog__popup
									.blog__txt В этой статье мы разберемся, зачем бизнесу контент-маркетинг, и какой контент публиковать, чтобы быть в “тренде”.
							.blog__content
								.blog__text Как юзабилити сайта влияет на решение о покупке?
								.blog__bottom 
									.blog__date 30 Апреля 2020
									.blog__ref
						a(href="article.html").blog__item
							.blog__pic(style="background-image: url(img/dataBild/img3.jpg);")
								.blog__popup
									.blog__txt В этой статье мы разберемся, зачем бизнесу контент-маркетинг, и какой контент публиковать, чтобы быть в “тренде”.
							.blog__content
								.blog__text Как юзабилити сайта влияет на решение о покупке?
								.blog__bottom 
									.blog__date 30 Апреля 2020
									.blog__ref
						a(href="article.html").blog__item
							.blog__pic(style="background-image: url(img/dataBild/img3.jpg);")
								.blog__popup
									.blog__txt В этой статье мы разберемся, зачем бизнесу контент-маркетинг, и какой контент публиковать, чтобы быть в “тренде”.
							.blog__content
								.blog__text Как юзабилити сайта влияет на решение о покупке?
								.blog__bottom 
									.blog__date 30 Апреля 2020
									.blog__ref
				a(href="javascript:void(0);").blog__more.link.link--detail Больше статей
		include ../modules/place
		

block script