extends ../layout/main

block variables
	- var pageClass = 'index-page';
	- var setTitle = 'создание корпоративных сайтов';
	- var include = 'link';
	- var quote = 'corporate';
	- var bildboard_img = "background-image: url(img/dataBild/img11.jpg);";
	- var bildboard_include = 'special-btn';
	- var includeBloc = 'corporate';

block content
	div(data-barba="container" data-barba-namespace="blog")
		.bildboard-data.bildboard-data--special-btn(style=`${bildboard_img}`)
			.bildboard-data__container.container
				.bildboard-data__title.title-1 создание корпоративных&nbsp;сайтов
				.bildboard-data__quote Современный корпоративный портал высокого уровня, являющийся официальным представителем Вашей компании в интернете.
				a(href="https://uralmedias.ru/articles/").btn.btn--special
					.btn__special
						span Отправить заявку менеджеру
					.btn__text Отправить заявку менеджеру
		include ../modules/breadcrumbs
		include ../modules/quote

		include ../modules/include
		.advertising-price.advertising-price--landing.advertising-price--corporate(style="background-image: url(./img/decor/dec15.png)")
			.advertising-price__container.container
				.advertising-price__title.title-3 Варианты разработки продукта
				.advertising-price__cover
					.advertising-price__items
						a(href="javascript:void(0);").advertising-price__item 
							.advertising-price__top
								.advertising-price__header Создание на конструкторе
								.advertising-price__period от 7 дней на разработку
							.advertising-price__note Готовим контент и делаем одностраничник на популярном конструкторе
							.advertising-price__list
								.advertising-price__ref Готовые решения на 1С-Битрикс;
								.advertising-price__ref Конструкторы Tilda и PlatformaLP.
							.advertising-price__bottom
								.advertising-price__price от 100 000₽
								.advertising-price__href.link.link--detail ЗАКАЗАТЬ разработку сайта
						a(href="javascript:void(0);").advertising-price__item 
							.advertising-price__top
								.advertising-price__header Индивидуальная разработка
								.advertising-price__period от 7 дней на разработку
							.advertising-price__note Полный цикл производства
							.advertising-price__list
								.advertising-price__ref Сбор требований и концепция страницы;
								.advertising-price__ref Дизайн, пользовательские сценарии;
								.advertising-price__ref Адаптивная вёрстка;
								.advertising-price__ref Программирование и тестирование;
								.advertising-price__ref Интеграция с CRM и системами аналитики.
							.advertising-price__bottom
								.advertising-price__price от 250 000₽
								.advertising-price__href.link.link--detail ЗАКАЗАТЬ разработку сайта
		.chart 
			- var quote = 'chart'
			include ../modules/quote
			.chart__container.container
				img(src="./img/chart.jpg" alt="" title="").chart__img
		- var includeBloc = 'corporate-list';
		include ../modules/include
		include ../modules/seo-slider
		include ../modules/call
block script