extends ../layout/main

block variables
	- var pageClass = 'index-page';
	- var setTitle = 'создание корпоративных сайтов';
	- var include = 'link';
	- var bildboardImg = ['img/dataBild/img1.jpg', 'img/dataBild/img_tablet1.jpg', 'img/dataBild/img_mobile1.jpg'];
	- var bildboard_include = 'special-btn';
	- var includeBloc = 'corporate';
	- var priceList = '2'; 
	- var quote = 'h2';
	- var quoteTitle = 'Что такое корпоративный сайт?';
	- var quoteInfo = ['Корпоративный сайт – это портал для бизнеса, необходимый элемент успешной работы любой компании, будь то крупная международная организация или небольшое предприятие. Он содержит полный объем информации о самой компании, о сфере ее деятельности, предлагаемой продукции и услугах. Сайт представляет собой своеобразную рекламную площадку, призванную привлекать новых клиентов. Аудитория здесь только целевая, которая получает исчерпывающие ответы на все свои вопросы.']

block content
	div(data-barba="container" data-barba-namespace="blog")
		.bildboard-data.bildboard-data--special-btn 
			<picture>
				<source srcset=#{bildboardImg[0]} media="(min-width: 1025px)">
				<source media="(min-width: 621px)" srcset=#{bildboardImg[1]}>
				<source media="(min-width: 320px)" srcset=#{bildboardImg[2]}>
				<img src=#{bildboardImg[0]} alt="MDN">
			</picture>
			.bildboard-data__container.container
				.bildboard-data__title.title-1 создание корпоративных&nbsp;сайтов
				.bildboard-data__quote Современный корпоративный портал высокого уровня, являющийся официальным представителем Вашей компании в интернете.
				a(href="https://uralmedias.ru/articles/").btn.btn--special
					.btn__special
						span Отправить заявку менеджеру
					.btn__text Отправить заявку менеджеру
		include ../modules/breadcrumbs
		include ../modules/quote
		include ../modules/include
		include ../modules/price
		.chart 
			- var quote = 'h4';
			- var quoteTitle = 'Четкое распределение времени';
			- var quoteInfo = ['Создание сайта - сложная многоэтапная работа, которая требует четкого разграничения времени. Именно поэтому мы максимально детализируем весь процесс и фиксируем в договоре точные сроки по каждому этапу.'];
			include ../modules/quote
			.chart__container.container
				img(src="./img/chart.jpg" alt="" title="").chart__img
		- var includeBloc = 'corporate-list';
		include ../modules/include
		include ../modules/seo-slider
		include ../modules/call
block script