extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	div(data-barba="container" data-barba-namespace="index")
		.bildboard
			.bildboard__container.container
				.bildboard__text Магнитогорское Digital-агентство 
				.bildboard__title Разработка<br> и проодвижение
				.bildboard__quote Мы проектируем и создаем <br/> <a href="#" class="underline--magical">корпоративные сайты</a> , <a href="#" class="underline--magical">интернет-магазины</a> , <a href="#" class="underline--magical">мобильные приложения</a> и многое другое
			video(autoplay="true" loop="loop" muted="muted" poster="media/video.mp4").bildboard__video
				<source src="media/video.mp4" type="video/mp4">

block script