extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	div(data-barba="container" data-barba-namespace="index")
		.bildboard
			.bildboard__container.container
				.bildboard__text Магнитогорское Digital-агентство 
				.bildboard__title Разработка<br> и проодвижение
				.bildboard__quote Мы проектируем и создаем <br/> <a href="#" class="sad-link">корпоративные сайты</a> , <a href="#" class="sad-link">интернет-магазины</a> , <a href="#" class="sad-link">мобильные приложения</a> и многое другое
			video(autoplay="true" loop="loop" muted="muted" poster="media/video.mp4" data-parallax="scroll" data-image-src="media/video.mp4").bildboard__video
				<source src="media/video.mp4" type="video/mp4">
		.portfolio
			.portfolio__container.container
				h1.portfolio__title.title-1 Лучшие работы
				.portfolio__quote Наша компания с 2011 года реализовала более 300 проектов для бизнесана основе данных и здравого смысла!
				.portfolio__items
					.portfolio__item
					.portfolio__item
					.portfolio__item
		.services
			.services__container.container
				.services__title.title-2 Что мы делаем
				.services__items
					.services__item



block script