extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

	- var quote = 'h2';
	- var quoteTitle = 'Лучшие работы';
	- var quoteInfo = ['Наша компания с 2011 года реализовала более 300 проектов для бизнеса на основе данных и здравого смысла!'];

block content
	div(data-barba="container" data-barba-namespace="page")
		.bildboard.bildboard--main
			.bildboard__container.container
				.bildboard__text Магнитогорское Digital-агентство 
				h1.bildboard__title.title-1 Разработка<br> и продвижение
				.bildboard__quote.
					Мы проектируем и создаем <br/> <a href="corporate.html" class="sad-link">корпоративные сайты</a>,
					<a href="magazine.html" class="sad-link">интернет-магазины</a>,
					<a href="app.html" class="sad-link">мобильные приложения</a>
					<div class="bildboard__more">и многое другое</div>
				.rating
					.rating__title Рейтинг Рунета по Уралу 2020
					.rating__text 32 место по разработке сайтов
					.rating__text 34 место по продвижению сайтов
			video(autoplay="true" loop="loop" muted="muted" poster="media/video.mp4" data-parallax="scroll" data-image-src="media/video.mp4").bildboard__video
				<source src="media/video.mp4" type="video/mp4">
		.fill-background
			.portfolio(data-color="#fff")
				include ../modules/quote
				.portfolio__container.container
					.portfolio__items
						.portfolio__item.with-parallax(data-color="#0E4F95")
							picture
								source(media="(max-width: 500px)" srcset="img/projects/magmetall-290.jpg")
								source(media="(max-width: 768px)" srcset="img/projects/magmetall-728.jpg")
								source(media="(min-width: 769px)" srcset="img/projects/magmetall-1260.jpg")
								img(src="img/projects/magmetall-1260.jpg" alt="mm" title="mm")
							.portfolio__grid
								.portfolio__left
									h3.portfolio__header.title-3 Магнитогорский металл
									.portfolio__content
										p Господа, современная методология разработки в значительной степени обусловливает важность системы обучения кадров, соответствующей насущным потребностям. Повседневная практика показывает.
										p Господа, современная методология разработки в значительной степени обусловливает важность такой системы обучения кадров.
									a(href="javascript:void(0);").link.link--look
										.link__txt смотреть проект
										.link__icon
											+svg('arrow-small')

						.portfolio__item.with-parallax(data-color="#1E202C")
							picture
								source(media="(max-width: 500px)" srcset="img/projects/mbf-290.jpg")
								source(media="(max-width: 768px)" srcset="img/projects/mbf-728.jpg")
								source(media="(min-width: 769px)" srcset="img/projects/mbf-1260.jpg")
								img(src="img/projects/mbf-1260.jpg" alt="mbf" title="mbf")
							.portfolio__grid
								.portfolio__left
									h3.portfolio__header.title-3 МБФ
									.portfolio__content
										p Господа, современная методология разработки в значительной степени обусловливает важность системы обучения кадров, соответствующей насущным потребностям. Повседневная практика показывает.
										p Господа, современная методология разработки в значительной степени обусловливает важность такой системы обучения кадров.
									a(href="javascript:void(0);").link.link--look
										.link__txt смотреть проект
										.link__icon
											+svg('arrow-small')

						.portfolio__item.with-parallax(style="background-image: url(img/decor/dec12.png)" data-color="#D73336")
							picture
								source(media="(max-width: 500px)" srcset="img/projects/roza-vetrov-290.jpg")
								source(media="(max-width: 768px)" srcset="img/projects/roza-vetrov-728.jpg")
								source(media="(min-width: 769px)" srcset="img/projects/roza-vetrov-1260.jpg")
								img(src="img/projects/magmetall-1260.jpg" alt="roza-vetrov" title="roza-vetrov")
							.portfolio__grid
								.portfolio__left
									h3.portfolio__header.title-3 Роза ветров
									.portfolio__content
										p Господа, современная методология разработки в значительной степени обусловливает важность системы обучения кадров, соответствующей насущным потребностям. Повседневная практика показывает.
										p Господа, современная методология разработки в значительной степени обусловливает важность такой системы обучения кадров.
									a(href="javascript:void(0);").link.link--look
										.link__txt смотреть проект
										.link__icon
											+svg('arrow-small')
		.services
			.services__container.container
				h2.services__title.title-3 Спектр наших услуг
				.services__cover
					.services__items
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('ic1')
							.services__right
								.services__article Лендинг
								.services__content веб-страница, основной задачей которой является сбор контактных данных целевой аудитории
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									<svg width="59" height="59" viewBox="0 0 59 59" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0)" filter="url(#filter0_d)">
										<path d="M49.7815 31.3691H42.999C41.5943 31.3691 40.4556 32.5079 40.4556 33.9126V47.4775C40.4556 48.8822 41.5943 50.021 42.999 50.021H49.7815C51.1862 50.021 52.3249 48.8822 52.3249 47.4775V33.9126C52.3249 32.5079 51.1862 31.3691 49.7815 31.3691ZM50.6293 47.4775C50.6293 47.9457 50.2497 48.3253 49.7815 48.3253H42.999C42.5308 48.3253 42.1512 47.9457 42.1512 47.4775V33.9126C42.1512 33.4444 42.5308 33.0648 42.999 33.0648H49.7815C50.2497 33.0648 50.6293 33.4444 50.6293 33.9126V47.4775Z" fill="white"/>
										<path d="M51.5197 0H21.5073C20.126 0 19.0062 1.11763 19.0062 2.49633V20.8027H8.1684C6.78709 20.8027 5.66736 21.9204 5.66736 23.2991V39.9412H4.83368C4.37328 39.9412 4 40.3138 4 40.7734C4.00271 43.07 5.86744 44.9312 8.1684 44.9339H34.8461C37.1459 44.9362 39.0122 43.0772 39.0145 40.7817C39.0145 40.7789 39.0145 40.7762 39.0145 40.7734C39.0145 40.3138 38.6413 39.9412 38.1809 39.9412H37.3472V30.788H46.5176C46.978 30.788 47.3513 30.4155 47.3513 29.9559C47.3513 29.4964 46.978 29.1238 46.5176 29.1238H42.1442L40.9537 24.9633H51.5197C52.901 24.9633 54.0208 23.8457 54.0208 22.467V2.49633C54.0208 1.11763 52.901 0 51.5197 0ZM7.33472 23.2991C7.33472 22.8395 7.708 22.467 8.1684 22.467H34.8461C35.3065 22.467 35.6798 22.8395 35.6798 23.2991V39.9412H24.0083C23.5479 39.9412 23.1746 40.3138 23.1746 40.7734H19.8399C19.8399 40.3138 19.4666 39.9412 19.0062 39.9412H7.33472V23.2991ZM36.6202 42.5358C36.1493 43.0049 35.5114 43.2687 34.8461 43.2697H8.1684C7.10879 43.2684 6.16454 42.6021 5.80992 41.6055H18.1725C18.1725 42.065 18.5458 42.4376 19.0062 42.4376H24.0083C24.4687 42.4376 24.842 42.065 24.842 41.6055H37.2046C37.0804 41.9545 36.8808 42.2721 36.6202 42.5358ZM37.3472 29.1238V24.9633H39.2196L40.4101 29.1238H37.3472ZM52.3534 22.467C52.3534 22.9265 51.9801 23.2991 51.5197 23.2991H37.3472C37.3472 21.9204 36.2274 20.8027 34.8461 20.8027H20.6736V2.49633C20.6736 2.0368 21.0469 1.66422 21.5073 1.66422H51.5197C51.9801 1.66422 52.3534 2.0368 52.3534 2.49633V22.467Z" fill="white"/>
										</g>
										<defs>
										<filter id="filter0_d" x="0" y="0" width="60" height="58.0208" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
										<feFlood flood-opacity="0" result="BackgroundImageFix"/>
										<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
										<feOffset dy="4"/>
										<feGaussianBlur stdDeviation="2"/>
										<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
										<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
										<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
										</filter>
										<clipPath id="clip0">
										<rect width="52" height="50.0208" fill="white" transform="translate(4)"/>
										</clipPath>
										</defs>
									</svg>
							.services__right
								.services__article Корпоративный сайт
								.services__content Представительство компании в интернете для привлечения аудитории
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('ic3')
							.services__right
								.services__article интернет-магазин
								.services__content Сайт, который содержит товары или услуги Вашей компании
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									<svg width="93" height="88" viewBox="0 0 93 88" fill="none" xmlns="http://www.w3.org/2000/svg">
										<mask id="path-1-inside-1" fill="white">
										<path d="M80.0103 28.4886C76.4848 28.4886 73.4374 29.4752 71.1979 31.3416C70.9914 31.5138 70.7805 31.7046 70.5684 31.9128V5.05877C70.5649 3.85416 70.0849 2.69988 69.2331 1.84808C68.3813 0.996287 67.227 0.516201 66.0224 0.512695H24.0586C22.854 0.516201 21.6997 0.996287 20.8479 1.84808C19.9961 2.69988 19.516 3.85416 19.5125 5.05877V9.70976L19.2958 9.49312C17.9186 8.11585 16.0506 7.3421 14.1028 7.3421C12.1551 7.3421 10.2871 8.11585 8.90981 9.49312C7.53253 10.8704 6.75879 12.7384 6.75879 14.6861C6.75879 16.6339 7.53253 18.5019 8.90981 19.8792L16.4762 27.4456C15.2516 27.8027 14.141 28.4726 13.2539 29.3893C12.3667 30.306 11.7336 31.4379 11.4167 32.6736C11.0998 33.9093 11.1102 35.2062 11.4467 36.4366C11.7833 37.6671 12.4344 38.7887 13.3361 39.6912L17.6402 43.9952C16.2736 44.1615 14.9813 44.7087 13.9108 45.5742C12.8402 46.4398 12.0346 47.5888 11.5858 48.8903C11.137 50.1917 11.0632 51.5931 11.3726 52.9346C11.6821 54.276 12.3625 55.5034 13.3361 56.4767L16.2411 59.3821C14.8745 59.5484 13.5822 60.0956 12.5116 60.9611C11.4411 61.8267 10.6355 62.9757 10.1867 64.2772C9.73788 65.5786 9.66401 66.98 9.9735 68.3215C10.283 69.6629 10.9634 70.8903 11.937 71.8636L19.5125 79.4396V83.3912C19.5138 84.5965 19.9932 85.752 20.8455 86.6043C21.6978 87.4566 22.8533 87.9359 24.0586 87.9373H57.6296C58.0933 87.9373 58.5381 87.7531 58.866 87.4252C59.1939 87.0973 59.3781 86.6525 59.3781 86.1888V69.4033C59.3816 67.9381 59.7244 66.4936 60.3797 65.1831C61.0349 63.8726 61.9848 62.7317 63.1548 61.8498L69.869 56.8141C70.0852 56.6503 70.2607 56.4389 70.3819 56.1963C70.5032 55.9538 70.567 55.6865 70.5684 55.4153V41.4274C70.5684 34.4637 74.819 32.5215 78.2618 32.0905V86.1888C78.2618 86.6525 78.446 87.0973 78.7739 87.4252C79.1018 87.7531 79.5466 87.9373 80.0103 87.9373C80.474 87.9373 80.9188 87.7531 81.2467 87.4252C81.5746 87.0973 81.7588 86.6525 81.7588 86.1888V30.2371C81.7588 29.7733 81.5746 29.3286 81.2467 29.0007C80.9188 28.6728 80.474 28.4886 80.0103 28.4886ZM24.0586 4.00968H66.0224C66.3005 4.00996 66.5672 4.12057 66.7639 4.31726C66.9606 4.51394 67.0712 4.78062 67.0715 5.05877V10.2966H23.0095V5.05877C23.0098 4.78062 23.1204 4.51394 23.3171 4.31726C23.5137 4.12057 23.7804 4.00996 24.0586 4.00968ZM10.2551 14.686C10.2201 11.2988 14.4534 9.54803 16.8231 11.9655L19.5125 14.655V25.5368L11.382 17.4063C11.0236 17.0499 10.7395 16.626 10.546 16.159C10.3526 15.6921 10.2537 15.1914 10.2551 14.686ZM15.8085 31.7785C17.2405 30.2862 19.8167 30.2862 21.2486 31.7785L29.1614 39.6913C32.6361 43.4231 27.4388 48.6074 23.7213 45.1314L15.8085 37.2186C15.0882 36.4966 14.6837 35.5184 14.6837 34.4986C14.6837 33.4787 15.0882 32.5005 15.8085 31.7785ZM31.6341 37.2186L29.7336 35.318C30.0953 31.8417 31.6561 28.5998 34.1481 26.1491C36.64 23.6984 39.9076 22.192 43.3894 21.8884C46.8713 21.5849 50.3502 22.5032 53.2286 24.4857C56.1071 26.4682 58.2053 29.3912 59.163 32.7525C60.1208 36.1138 59.8782 39.7037 58.477 42.9056C57.0757 46.1074 54.6033 48.7215 51.4843 50.2987C48.3654 51.8759 44.7945 52.3179 41.3851 51.5487C37.9758 50.7795 34.9406 48.8471 32.801 46.0835C33.6073 44.6828 33.9299 43.0557 33.719 41.4534C33.508 39.8511 32.7754 38.3629 31.6341 37.2186ZM15.8085 48.564C17.2405 47.0717 19.8167 47.0717 21.2486 48.564L29.1614 56.4768C32.6361 60.2086 27.4388 65.3929 23.7213 61.9169L15.8085 54.0041C15.0882 53.2821 14.6837 52.3039 14.6837 51.2841C14.6837 50.2643 15.0882 49.2861 15.8085 48.564ZM14.4097 63.9508C15.8417 62.4584 18.4179 62.4584 19.8498 63.9508L27.7626 71.8636C31.2373 75.5954 26.04 80.7796 22.3225 77.3036L14.4097 69.3909C13.6894 68.6688 13.2849 67.6907 13.2849 66.6708C13.2849 65.651 13.6894 64.6728 14.4097 63.9508ZM23.0095 83.3912V81.6427C23.6705 81.8323 24.3548 81.9284 25.0424 81.9282C26.0596 81.9286 27.0658 81.7175 27.997 81.3083C28.9282 80.899 29.7642 80.3006 30.4518 79.5511C31.1394 78.8015 31.6637 77.9172 31.9912 76.9542C32.3188 75.9912 32.4426 74.9706 32.3546 73.9572H55.8811V84.4403H24.0586C23.7804 84.44 23.5137 84.3294 23.3171 84.1327C23.1204 83.936 23.0098 83.6693 23.0095 83.3912ZM61.0566 59.0522C59.4532 60.2607 58.1515 61.8242 57.2536 63.6201C56.3556 65.416 55.8859 67.3954 55.8811 69.4033V70.4594H31.1174C30.8577 70.0762 30.5624 69.7184 30.2353 69.3909L27.33 66.4856C28.6966 66.3193 29.9889 65.7721 31.0594 64.9066C32.1299 64.041 32.9356 62.892 33.3844 61.5905C33.8332 60.2891 33.907 58.8877 33.5976 57.5462C33.2881 56.2048 32.6077 54.9774 31.6341 54.0041L27.33 49.7C28.4058 49.5721 29.4393 49.2051 30.3549 48.6259C32.9975 51.8476 36.649 54.0844 40.7195 54.9751C44.7901 55.8658 49.042 55.3584 52.7887 53.5348C56.5353 51.7113 59.5578 48.678 61.3682 44.925C63.1785 41.1719 63.6709 36.9182 62.7658 32.8508C61.8607 28.7835 59.611 25.1399 56.3801 22.5087C53.1491 19.8774 49.1255 18.4121 44.9591 18.3493C40.7928 18.2866 36.7269 19.6301 33.4181 22.1628C30.1094 24.6956 27.751 28.2697 26.7238 32.308C26.7238 32.308 23.2574 28.8732 23.0095 28.6809V13.7935H67.0715V54.5411L61.0566 59.0522Z"/>
										</mask>
										<path d="M80.0103 28.4886C76.4848 28.4886 73.4374 29.4752 71.1979 31.3416C70.9914 31.5138 70.7805 31.7046 70.5684 31.9128V5.05877C70.5649 3.85416 70.0849 2.69988 69.2331 1.84808C68.3813 0.996287 67.227 0.516201 66.0224 0.512695H24.0586C22.854 0.516201 21.6997 0.996287 20.8479 1.84808C19.9961 2.69988 19.516 3.85416 19.5125 5.05877V9.70976L19.2958 9.49312C17.9186 8.11585 16.0506 7.3421 14.1028 7.3421C12.1551 7.3421 10.2871 8.11585 8.90981 9.49312C7.53253 10.8704 6.75879 12.7384 6.75879 14.6861C6.75879 16.6339 7.53253 18.5019 8.90981 19.8792L16.4762 27.4456C15.2516 27.8027 14.141 28.4726 13.2539 29.3893C12.3667 30.306 11.7336 31.4379 11.4167 32.6736C11.0998 33.9093 11.1102 35.2062 11.4467 36.4366C11.7833 37.6671 12.4344 38.7887 13.3361 39.6912L17.6402 43.9952C16.2736 44.1615 14.9813 44.7087 13.9108 45.5742C12.8402 46.4398 12.0346 47.5888 11.5858 48.8903C11.137 50.1917 11.0632 51.5931 11.3726 52.9346C11.6821 54.276 12.3625 55.5034 13.3361 56.4767L16.2411 59.3821C14.8745 59.5484 13.5822 60.0956 12.5116 60.9611C11.4411 61.8267 10.6355 62.9757 10.1867 64.2772C9.73788 65.5786 9.66401 66.98 9.9735 68.3215C10.283 69.6629 10.9634 70.8903 11.937 71.8636L19.5125 79.4396V83.3912C19.5138 84.5965 19.9932 85.752 20.8455 86.6043C21.6978 87.4566 22.8533 87.9359 24.0586 87.9373H57.6296C58.0933 87.9373 58.5381 87.7531 58.866 87.4252C59.1939 87.0973 59.3781 86.6525 59.3781 86.1888V69.4033C59.3816 67.9381 59.7244 66.4936 60.3797 65.1831C61.0349 63.8726 61.9848 62.7317 63.1548 61.8498L69.869 56.8141C70.0852 56.6503 70.2607 56.4389 70.3819 56.1963C70.5032 55.9538 70.567 55.6865 70.5684 55.4153V41.4274C70.5684 34.4637 74.819 32.5215 78.2618 32.0905V86.1888C78.2618 86.6525 78.446 87.0973 78.7739 87.4252C79.1018 87.7531 79.5466 87.9373 80.0103 87.9373C80.474 87.9373 80.9188 87.7531 81.2467 87.4252C81.5746 87.0973 81.7588 86.6525 81.7588 86.1888V30.2371C81.7588 29.7733 81.5746 29.3286 81.2467 29.0007C80.9188 28.6728 80.474 28.4886 80.0103 28.4886ZM24.0586 4.00968H66.0224C66.3005 4.00996 66.5672 4.12057 66.7639 4.31726C66.9606 4.51394 67.0712 4.78062 67.0715 5.05877V10.2966H23.0095V5.05877C23.0098 4.78062 23.1204 4.51394 23.3171 4.31726C23.5137 4.12057 23.7804 4.00996 24.0586 4.00968ZM10.2551 14.686C10.2201 11.2988 14.4534 9.54803 16.8231 11.9655L19.5125 14.655V25.5368L11.382 17.4063C11.0236 17.0499 10.7395 16.626 10.546 16.159C10.3526 15.6921 10.2537 15.1914 10.2551 14.686ZM15.8085 31.7785C17.2405 30.2862 19.8167 30.2862 21.2486 31.7785L29.1614 39.6913C32.6361 43.4231 27.4388 48.6074 23.7213 45.1314L15.8085 37.2186C15.0882 36.4966 14.6837 35.5184 14.6837 34.4986C14.6837 33.4787 15.0882 32.5005 15.8085 31.7785ZM31.6341 37.2186L29.7336 35.318C30.0953 31.8417 31.6561 28.5998 34.1481 26.1491C36.64 23.6984 39.9076 22.192 43.3894 21.8884C46.8713 21.5849 50.3502 22.5032 53.2286 24.4857C56.1071 26.4682 58.2053 29.3912 59.163 32.7525C60.1208 36.1138 59.8782 39.7037 58.477 42.9056C57.0757 46.1074 54.6033 48.7215 51.4843 50.2987C48.3654 51.8759 44.7945 52.3179 41.3851 51.5487C37.9758 50.7795 34.9406 48.8471 32.801 46.0835C33.6073 44.6828 33.9299 43.0557 33.719 41.4534C33.508 39.8511 32.7754 38.3629 31.6341 37.2186ZM15.8085 48.564C17.2405 47.0717 19.8167 47.0717 21.2486 48.564L29.1614 56.4768C32.6361 60.2086 27.4388 65.3929 23.7213 61.9169L15.8085 54.0041C15.0882 53.2821 14.6837 52.3039 14.6837 51.2841C14.6837 50.2643 15.0882 49.2861 15.8085 48.564ZM14.4097 63.9508C15.8417 62.4584 18.4179 62.4584 19.8498 63.9508L27.7626 71.8636C31.2373 75.5954 26.04 80.7796 22.3225 77.3036L14.4097 69.3909C13.6894 68.6688 13.2849 67.6907 13.2849 66.6708C13.2849 65.651 13.6894 64.6728 14.4097 63.9508ZM23.0095 83.3912V81.6427C23.6705 81.8323 24.3548 81.9284 25.0424 81.9282C26.0596 81.9286 27.0658 81.7175 27.997 81.3083C28.9282 80.899 29.7642 80.3006 30.4518 79.5511C31.1394 78.8015 31.6637 77.9172 31.9912 76.9542C32.3188 75.9912 32.4426 74.9706 32.3546 73.9572H55.8811V84.4403H24.0586C23.7804 84.44 23.5137 84.3294 23.3171 84.1327C23.1204 83.936 23.0098 83.6693 23.0095 83.3912ZM61.0566 59.0522C59.4532 60.2607 58.1515 61.8242 57.2536 63.6201C56.3556 65.416 55.8859 67.3954 55.8811 69.4033V70.4594H31.1174C30.8577 70.0762 30.5624 69.7184 30.2353 69.3909L27.33 66.4856C28.6966 66.3193 29.9889 65.7721 31.0594 64.9066C32.1299 64.041 32.9356 62.892 33.3844 61.5905C33.8332 60.2891 33.907 58.8877 33.5976 57.5462C33.2881 56.2048 32.6077 54.9774 31.6341 54.0041L27.33 49.7C28.4058 49.5721 29.4393 49.2051 30.3549 48.6259C32.9975 51.8476 36.649 54.0844 40.7195 54.9751C44.7901 55.8658 49.042 55.3584 52.7887 53.5348C56.5353 51.7113 59.5578 48.678 61.3682 44.925C63.1785 41.1719 63.6709 36.9182 62.7658 32.8508C61.8607 28.7835 59.611 25.1399 56.3801 22.5087C53.1491 19.8774 49.1255 18.4121 44.9591 18.3493C40.7928 18.2866 36.7269 19.6301 33.4181 22.1628C30.1094 24.6956 27.751 28.2697 26.7238 32.308C26.7238 32.308 23.2574 28.8732 23.0095 28.6809V13.7935H67.0715V54.5411L61.0566 59.0522Z" fill="#00A4AD" stroke="white" stroke-width="0.7" mask="url(#path-1-inside-1)"/>
										<path d="M46.0957 38.4553L46.0957 38.4552H46.0895H43.1172C43.1171 38.4552 43.1171 38.4552 43.1171 38.4552C41.6021 38.4548 40.148 37.8584 39.069 36.7948C37.99 35.7313 37.3727 34.2859 37.3504 32.7711C37.3281 31.2562 37.9027 29.7933 38.9499 28.6985C39.9972 27.6037 41.4331 26.9648 42.9475 26.9198L43.1173 26.9147V26.7448V25.6914C43.1173 25.274 43.283 24.8738 43.5781 24.5787C43.8732 24.2836 44.2734 24.1179 44.6907 24.1179C45.1081 24.1179 45.5083 24.2836 45.8034 24.5787C46.0985 24.8738 46.2642 25.274 46.2642 25.6914V26.7405V26.9155H46.4392H47.4553C47.4553 26.9155 47.4553 26.9155 47.4553 26.9155C48.0335 26.9155 48.6057 27.0326 49.1374 27.2596C49.6692 27.4866 50.1495 27.8189 50.5494 28.2365C50.9493 28.654 51.2606 29.1482 51.4646 29.6892C51.6685 30.2303 51.7608 30.807 51.736 31.3846C51.718 31.8016 51.5352 32.1943 51.2277 32.4764C50.9201 32.7586 50.5132 32.907 50.0962 32.889C49.6793 32.8711 49.2865 32.6883 49.0044 32.3807C48.8647 32.2285 48.7564 32.0502 48.6856 31.8561C48.6148 31.6619 48.5829 31.4558 48.5918 31.2493L48.5921 31.242L48.5918 31.2346C48.578 30.8974 48.4824 30.6133 48.284 30.406C48.0855 30.1988 47.8059 30.0911 47.4698 30.063L47.4626 30.0624H47.4553H43.1171C42.4215 30.0624 41.7543 30.3388 41.2624 30.8307C40.7706 31.3226 40.4942 31.9897 40.4942 32.6853C40.4942 33.381 40.7706 34.0481 41.2624 34.54C41.7543 35.0319 42.4215 35.3082 43.1171 35.3082H46.0882C47.5975 35.3308 49.0398 35.9348 50.1147 36.9945C51.1899 38.0544 51.8145 39.4885 51.8583 40.9977C51.9021 42.5069 51.3617 43.9748 50.3497 45.0953C49.3378 46.2158 47.9324 46.9025 46.4265 47.0123L46.2642 47.0241V47.1868V48.2469C46.2642 48.6642 46.0985 49.0644 45.8034 49.3595C45.5083 49.6546 45.1081 49.8204 44.6907 49.8204C44.2734 49.8204 43.8732 49.6546 43.5781 49.3595C43.283 49.0644 43.1173 48.6642 43.1173 48.2469V47.1978V47.0228H42.9423H41.6818C41.1125 47.0229 40.5489 46.9095 40.0239 46.6893C39.499 46.4691 39.0231 46.1465 38.6242 45.7404C38.2253 45.3342 37.9113 44.8527 37.7006 44.3239C37.4898 43.795 37.3866 43.2295 37.3969 42.6604C37.3969 42.6603 37.3969 42.6603 37.3969 42.6603L37.4002 42.4792L37.4002 42.4791C37.4077 42.0618 37.5806 41.6646 37.881 41.3747C38.1813 41.0849 38.5845 40.9263 39.0019 40.9338C39.4192 40.9413 39.8165 41.1142 40.1063 41.4146C40.3935 41.7123 40.5519 42.1111 40.5474 42.5245C40.4522 43.1932 40.9527 43.8912 41.6837 43.8758H46.0895V43.8759L46.0957 43.8757C46.798 43.851 47.4632 43.5546 47.9513 43.049C48.4393 42.5435 48.7121 41.8682 48.7121 41.1655C48.7121 40.4628 48.4393 39.7875 47.9513 39.282C47.4632 38.7764 46.798 38.4801 46.0957 38.4553Z" fill="#00A4AD" stroke="white" stroke-width="0.35"/>
										<path class="svg-fill" d="M32.2588 38.5L25.7588 31.8397V26L35.2588 17L48.2588 15.5L62.2588 21L65.7588 34L61.2588 49.5L52.2588 57.5L36.7588 56L29.2588 49L30.751 47.8809C31.0882 47.628 31.392 47.3335 31.6553 47.0043L33.2588 45L33.7588 45.5L35.7588 44L35.2588 40.5L32.2588 38.5Z" fill="white"/>
									</svg>
							.services__right
								.services__article Мобильное приложение
								.services__content Специальное программное обеспечение для мобильной платформы
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('ic5')
							.services__right
								.services__article SEO-оптимизация
								.services__content Повышение позиций сайта в поисковых системах для привлечения целевой аудитории
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('ic6')
							.services__right
								.services__article Продвижение
								.services__content Комплекс мер по обеспечению посещаемости сайта целевыми посетителями
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('ic7')
							.services__right
								.services__article Реклама
								.services__content Продуктивный механизм для роста продаж и привлечения новых клиентов
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('tools')
							.services__right
								.services__article Шаблонная разработка
								.services__content Используется в качестве готового решения для создания сайтов
		.client
			- var quote = 'h4';
			- var quoteTitle = 'Клиенты';
			- var quoteInfo = ['Благодарственные письма некоторых компаний, с которыми мы сотрудничали'];

			include ../modules/quote
			.client__container.container
				.client__cover
					.client__items#certificate(data-barba-prevent="all")
						a(href="./img/certificate/c1.png").client__item
							img(src="./img/certificate/c1.png")
						a(href="./img/certificate/c1.png").client__item
							img(src="./img/certificate/c1.png")
						a(href="./img/certificate/c1.png").client__item
							img(src="./img/certificate/c1.png")
						a(href="./img/certificate/c1.png").client__item
							img(src="./img/certificate/c1.png")
						a(href="./img/certificate/c1.png").client__item
							img(src="./img/certificate/c1.png")
				include ../modules/partners
		.place.place--transparent
			.place__bg(style="background-image: url(img/decor/dec1.png)")
			.place__container.container
				h2.place__title.title-3 Как работает Uralmedias
				.place__text Веб-студия Uralmedias основана в 2011 году в Магнитогорске. Мы применяем собственный подход, уделяем достаточно времени каждому проекту и не работаем на потоке. Всегда готовы предложить нестандартные решения по целому комплексу услуг разработки и дизайна. Делаем всё, чтобы ваш сайт красиво и эффективно выполнял задачи компании. Разработка сайта позволяет создать дополнительный инструмент продаж, неразрывно связанный с бизнесом заказчика. Сайт с правильной навигацией и встроенными сервисами помогает оптимизировать процессы бизнеса, налаживая диалог с потенциальным клиентом. 
		include ../modules/call
block script