extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	div(data-barba="container" data-barba-namespace="index")
		.bildboard
			.bildboard__container.container
				.bildboard__text Магнитогорское Digital-агентство 
				.bildboard__title Разработка<br> и проодвижение
				.bildboard__quote Мы проектируем и создаем <br/> <a href="#" class="sad-link">корпоративные сайты</a> , <a href="#" class="sad-link">интернет-магазины</a> , <a href="#" class="sad-link">мобильные приложения</a> и многое другое
			video(autoplay="true" loop="loop" muted="muted" poster="media/video.mp4" data-parallax="scroll" data-image-src="media/video.mp4").bildboard__video
				<source src="media/video.mp4" type="video/mp4">
		.portfolio
			.portfolio__container.container
				h1.portfolio__title.title-1 Лучшие работы
				.portfolio__quote Наша компания с 2011 года реализовала более 300 проектов для бизнесана основе данных и здравого смысла!
				.portfolio__items
					.portfolio__item
					.portfolio__item
					.portfolio__item
		.services
			.services__container.container
				.services__title.title-2 Что мы делаем
				.services__cover
					.services__items
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('ic1')
							.services__right
								.services__article Лендинг
								.services__content веб-страница, основной задачей которой является сбор контактных данных целевой аудитории
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									<svg width="59" height="59" viewBox="0 0 59 59" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0)" filter="url(#filter0_d)">
										<path d="M49.7815 31.3691H42.999C41.5943 31.3691 40.4556 32.5079 40.4556 33.9126V47.4775C40.4556 48.8822 41.5943 50.021 42.999 50.021H49.7815C51.1862 50.021 52.3249 48.8822 52.3249 47.4775V33.9126C52.3249 32.5079 51.1862 31.3691 49.7815 31.3691ZM50.6293 47.4775C50.6293 47.9457 50.2497 48.3253 49.7815 48.3253H42.999C42.5308 48.3253 42.1512 47.9457 42.1512 47.4775V33.9126C42.1512 33.4444 42.5308 33.0648 42.999 33.0648H49.7815C50.2497 33.0648 50.6293 33.4444 50.6293 33.9126V47.4775Z" fill="white"/>
										<path d="M51.5197 0H21.5073C20.126 0 19.0062 1.11763 19.0062 2.49633V20.8027H8.1684C6.78709 20.8027 5.66736 21.9204 5.66736 23.2991V39.9412H4.83368C4.37328 39.9412 4 40.3138 4 40.7734C4.00271 43.07 5.86744 44.9312 8.1684 44.9339H34.8461C37.1459 44.9362 39.0122 43.0772 39.0145 40.7817C39.0145 40.7789 39.0145 40.7762 39.0145 40.7734C39.0145 40.3138 38.6413 39.9412 38.1809 39.9412H37.3472V30.788H46.5176C46.978 30.788 47.3513 30.4155 47.3513 29.9559C47.3513 29.4964 46.978 29.1238 46.5176 29.1238H42.1442L40.9537 24.9633H51.5197C52.901 24.9633 54.0208 23.8457 54.0208 22.467V2.49633C54.0208 1.11763 52.901 0 51.5197 0ZM7.33472 23.2991C7.33472 22.8395 7.708 22.467 8.1684 22.467H34.8461C35.3065 22.467 35.6798 22.8395 35.6798 23.2991V39.9412H24.0083C23.5479 39.9412 23.1746 40.3138 23.1746 40.7734H19.8399C19.8399 40.3138 19.4666 39.9412 19.0062 39.9412H7.33472V23.2991ZM36.6202 42.5358C36.1493 43.0049 35.5114 43.2687 34.8461 43.2697H8.1684C7.10879 43.2684 6.16454 42.6021 5.80992 41.6055H18.1725C18.1725 42.065 18.5458 42.4376 19.0062 42.4376H24.0083C24.4687 42.4376 24.842 42.065 24.842 41.6055H37.2046C37.0804 41.9545 36.8808 42.2721 36.6202 42.5358ZM37.3472 29.1238V24.9633H39.2196L40.4101 29.1238H37.3472ZM52.3534 22.467C52.3534 22.9265 51.9801 23.2991 51.5197 23.2991H37.3472C37.3472 21.9204 36.2274 20.8027 34.8461 20.8027H20.6736V2.49633C20.6736 2.0368 21.0469 1.66422 21.5073 1.66422H51.5197C51.9801 1.66422 52.3534 2.0368 52.3534 2.49633V22.467Z" fill="white"/>
										</g>
										<defs>
										<filter id="filter0_d" x="0" y="0" width="60" height="58.0208" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
										<feFlood flood-opacity="0" result="BackgroundImageFix"/>
										<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
										<feOffset dy="4"/>
										<feGaussianBlur stdDeviation="2"/>
										<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
										<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
										<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
										</filter>
										<clipPath id="clip0">
										<rect width="52" height="50.0208" fill="white" transform="translate(4)"/>
										</clipPath>
										</defs>
									</svg>
							.services__right
								.services__article Корпоративный сайт
								.services__content Представительство компании в интернете для привлечения аудитории
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('ic3')
							.services__right
								.services__article интернет-магазин
								.services__content Сайт, который содержит товары или услуги Вашей компании
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									<svg width="52" height="51" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
									<mask id="path-1-inside-1" fill="white">
									<path d="M45.0481 16.1932C43.0442 16.1932 41.3119 16.7541 40.039 17.8149C39.9216 17.9128 39.8017 18.0213 39.6812 18.1396V2.87533C39.6792 2.19061 39.4063 1.53449 38.9221 1.05032C38.4379 0.566142 37.7818 0.293253 37.0971 0.29126H13.2441C12.5594 0.293253 11.9033 0.566142 11.4191 1.05032C10.935 1.53449 10.6621 2.19061 10.6601 2.87533V5.51904L10.5369 5.39589C9.75406 4.61303 8.69227 4.17322 7.58513 4.17322C6.47799 4.17322 5.41619 4.61303 4.63332 5.39589C3.85045 6.17876 3.41064 7.24056 3.41064 8.3477C3.41064 9.45484 3.85045 10.5166 4.63332 11.2995L8.93421 15.6004C8.2381 15.8034 7.60684 16.1842 7.10257 16.7052C6.5983 17.2263 6.2384 17.8697 6.05829 18.5721C5.87817 19.2745 5.88406 20.0116 6.07536 20.7111C6.26666 21.4105 6.63679 22.048 7.14931 22.561L9.59583 25.0075C8.81904 25.102 8.08447 25.413 7.47596 25.905C6.86745 26.397 6.40951 27.0502 6.15441 27.7899C5.89931 28.5297 5.85732 29.3263 6.03324 30.0888C6.20916 30.8513 6.5959 31.5489 7.14931 32.1022L8.80054 33.7537C8.02375 33.8482 7.28918 34.1592 6.68067 34.6512C6.07216 35.1432 5.61422 35.7964 5.35911 36.5361C5.10401 37.2759 5.06203 38.0725 5.23794 38.835C5.41386 39.5975 5.8006 40.2951 6.35402 40.8484L10.6601 45.1547V47.4009C10.6608 48.086 10.9333 48.7428 11.4178 49.2272C11.9022 49.7117 12.559 49.9842 13.2441 49.9849H32.3265C32.5901 49.9849 32.8429 49.8802 33.0293 49.6938C33.2157 49.5075 33.3204 49.2547 33.3204 48.9911V39.4499C33.3224 38.617 33.5172 37.796 33.8897 37.0511C34.2622 36.3062 34.8021 35.6576 35.4672 35.1563L39.2836 32.294C39.4065 32.2009 39.5062 32.0807 39.5752 31.9428C39.6441 31.8049 39.6804 31.653 39.6812 31.4989V23.5479C39.6812 19.5896 42.0973 18.4856 44.0542 18.2406V48.9911C44.0542 49.2547 44.1589 49.5075 44.3453 49.6938C44.5317 49.8802 44.7845 49.9849 45.0481 49.9849C45.3117 49.9849 45.5645 49.8802 45.7509 49.6938C45.9373 49.5075 46.042 49.2547 46.042 48.9911V17.1871C46.042 16.9235 45.9373 16.6707 45.7509 16.4843C45.5645 16.2979 45.3117 16.1932 45.0481 16.1932ZM13.2441 2.27901H37.0971C37.2552 2.27916 37.4068 2.34204 37.5186 2.45384C37.6304 2.56564 37.6933 2.71722 37.6934 2.87533V5.85258H12.6478V2.87533C12.648 2.71722 12.7109 2.56564 12.8227 2.45384C12.9345 2.34204 13.086 2.27916 13.2441 2.27901ZM5.39801 8.3476C5.37813 6.42227 7.7844 5.4271 9.1314 6.80123L10.6601 8.33001V14.5154L6.03856 9.89387C5.83485 9.69129 5.67334 9.45032 5.56339 9.1849C5.45344 8.91948 5.39723 8.63489 5.39801 8.3476ZM8.55465 18.0633C9.36863 17.215 10.833 17.215 11.6469 18.0633L16.1447 22.5611C18.1198 24.6823 15.1655 27.6291 13.0524 25.6533L8.55465 21.1555C8.14525 20.7451 7.91533 20.1891 7.91533 19.6094C7.91533 19.0297 8.14525 18.4737 8.55465 18.0633ZM17.5502 21.1555L16.47 20.0752C16.6755 18.0992 17.5627 16.2565 18.9792 14.8635C20.3957 13.4704 22.253 12.6141 24.2322 12.4416C26.2113 12.2691 28.1888 12.7911 29.8249 13.918C31.4611 15.0449 32.6538 16.7063 33.1982 18.6169C33.7425 20.5275 33.6047 22.5681 32.8082 24.3881C32.0117 26.2081 30.6063 27.694 28.8334 28.5905C27.0606 29.487 25.0308 29.7383 23.0929 29.301C21.1549 28.8638 19.4297 27.7654 18.2135 26.1945C18.6718 25.3984 18.8552 24.4734 18.7353 23.5627C18.6154 22.6519 18.1989 21.806 17.5502 21.1555ZM8.55465 27.6045C9.36863 26.7562 10.833 26.7562 11.6469 27.6045L16.1447 32.1023C18.1198 34.2235 15.1655 37.1703 13.0524 35.1945L8.55465 30.6967C8.14525 30.2863 7.91533 29.7303 7.91533 29.1506C7.91533 28.5709 8.14525 28.0149 8.55465 27.6045ZM7.75955 36.3506C8.57353 35.5023 10.0379 35.5023 10.8518 36.3506L15.3496 40.8484C17.3247 42.9696 14.3704 45.9164 12.2573 43.9406L7.75955 39.4428C7.35015 39.0324 7.12023 38.4764 7.12023 37.8967C7.12023 37.317 7.35015 36.761 7.75955 36.3506ZM12.6478 47.4009V46.407C13.0236 46.5147 13.4125 46.5694 13.8034 46.5693C14.3816 46.5695 14.9535 46.4495 15.4828 46.2169C16.0121 45.9843 16.4873 45.6441 16.8782 45.2181C17.269 44.792 17.567 44.2893 17.7532 43.7419C17.9394 43.1946 18.0098 42.6144 17.9598 42.0384H31.3326V47.9972H13.2441C13.086 47.997 12.9345 47.9342 12.8227 47.8224C12.7109 47.7106 12.648 47.559 12.6478 47.4009ZM34.2745 33.5661C33.3631 34.2531 32.6232 35.1418 32.1128 36.1626C31.6024 37.1834 31.3354 38.3086 31.3326 39.4499V40.0502H17.2565C17.1089 39.8324 16.941 39.629 16.7551 39.4428L15.1037 37.7914C15.8805 37.6969 16.615 37.3859 17.2236 36.8939C17.8321 36.4019 18.29 35.7487 18.5451 35.009C18.8002 34.2692 18.8422 33.4726 18.6663 32.7101C18.4904 31.9476 18.1036 31.25 17.5502 30.6967L15.1037 28.2502C15.7152 28.1775 16.3027 27.9689 16.8231 27.6397C18.3252 29.4709 20.4008 30.7424 22.7145 31.2487C25.0283 31.755 27.4452 31.4665 29.5748 30.43C31.7045 29.3934 33.4226 27.6693 34.4516 25.536C35.4806 23.4027 35.7605 20.9848 35.246 18.6728C34.7316 16.3609 33.4528 14.2898 31.6163 12.7942C29.7797 11.2985 27.4926 10.4656 25.1244 10.4299C22.7562 10.3942 20.445 11.1579 18.5643 12.5976C16.6835 14.0372 15.343 16.0688 14.7591 18.3643C14.7591 18.3643 12.7888 16.4119 12.6478 16.3026V7.84033H37.6934V31.002L34.2745 33.5661Z"/>
									</mask>
									<path d="M45.0481 16.1932C43.0442 16.1932 41.3119 16.7541 40.039 17.8149C39.9216 17.9128 39.8017 18.0213 39.6812 18.1396V2.87533C39.6792 2.19061 39.4063 1.53449 38.9221 1.05032C38.4379 0.566142 37.7818 0.293253 37.0971 0.29126H13.2441C12.5594 0.293253 11.9033 0.566142 11.4191 1.05032C10.935 1.53449 10.6621 2.19061 10.6601 2.87533V5.51904L10.5369 5.39589C9.75406 4.61303 8.69227 4.17322 7.58513 4.17322C6.47799 4.17322 5.41619 4.61303 4.63332 5.39589C3.85045 6.17876 3.41064 7.24056 3.41064 8.3477C3.41064 9.45484 3.85045 10.5166 4.63332 11.2995L8.93421 15.6004C8.2381 15.8034 7.60684 16.1842 7.10257 16.7052C6.5983 17.2263 6.2384 17.8697 6.05829 18.5721C5.87817 19.2745 5.88406 20.0116 6.07536 20.7111C6.26666 21.4105 6.63679 22.048 7.14931 22.561L9.59583 25.0075C8.81904 25.102 8.08447 25.413 7.47596 25.905C6.86745 26.397 6.40951 27.0502 6.15441 27.7899C5.89931 28.5297 5.85732 29.3263 6.03324 30.0888C6.20916 30.8513 6.5959 31.5489 7.14931 32.1022L8.80054 33.7537C8.02375 33.8482 7.28918 34.1592 6.68067 34.6512C6.07216 35.1432 5.61422 35.7964 5.35911 36.5361C5.10401 37.2759 5.06203 38.0725 5.23794 38.835C5.41386 39.5975 5.8006 40.2951 6.35402 40.8484L10.6601 45.1547V47.4009C10.6608 48.086 10.9333 48.7428 11.4178 49.2272C11.9022 49.7117 12.559 49.9842 13.2441 49.9849H32.3265C32.5901 49.9849 32.8429 49.8802 33.0293 49.6938C33.2157 49.5075 33.3204 49.2547 33.3204 48.9911V39.4499C33.3224 38.617 33.5172 37.796 33.8897 37.0511C34.2622 36.3062 34.8021 35.6576 35.4672 35.1563L39.2836 32.294C39.4065 32.2009 39.5062 32.0807 39.5752 31.9428C39.6441 31.8049 39.6804 31.653 39.6812 31.4989V23.5479C39.6812 19.5896 42.0973 18.4856 44.0542 18.2406V48.9911C44.0542 49.2547 44.1589 49.5075 44.3453 49.6938C44.5317 49.8802 44.7845 49.9849 45.0481 49.9849C45.3117 49.9849 45.5645 49.8802 45.7509 49.6938C45.9373 49.5075 46.042 49.2547 46.042 48.9911V17.1871C46.042 16.9235 45.9373 16.6707 45.7509 16.4843C45.5645 16.2979 45.3117 16.1932 45.0481 16.1932ZM13.2441 2.27901H37.0971C37.2552 2.27916 37.4068 2.34204 37.5186 2.45384C37.6304 2.56564 37.6933 2.71722 37.6934 2.87533V5.85258H12.6478V2.87533C12.648 2.71722 12.7109 2.56564 12.8227 2.45384C12.9345 2.34204 13.086 2.27916 13.2441 2.27901ZM5.39801 8.3476C5.37813 6.42227 7.7844 5.4271 9.1314 6.80123L10.6601 8.33001V14.5154L6.03856 9.89387C5.83485 9.69129 5.67334 9.45032 5.56339 9.1849C5.45344 8.91948 5.39723 8.63489 5.39801 8.3476ZM8.55465 18.0633C9.36863 17.215 10.833 17.215 11.6469 18.0633L16.1447 22.5611C18.1198 24.6823 15.1655 27.6291 13.0524 25.6533L8.55465 21.1555C8.14525 20.7451 7.91533 20.1891 7.91533 19.6094C7.91533 19.0297 8.14525 18.4737 8.55465 18.0633ZM17.5502 21.1555L16.47 20.0752C16.6755 18.0992 17.5627 16.2565 18.9792 14.8635C20.3957 13.4704 22.253 12.6141 24.2322 12.4416C26.2113 12.2691 28.1888 12.7911 29.8249 13.918C31.4611 15.0449 32.6538 16.7063 33.1982 18.6169C33.7425 20.5275 33.6047 22.5681 32.8082 24.3881C32.0117 26.2081 30.6063 27.694 28.8334 28.5905C27.0606 29.487 25.0308 29.7383 23.0929 29.301C21.1549 28.8638 19.4297 27.7654 18.2135 26.1945C18.6718 25.3984 18.8552 24.4734 18.7353 23.5627C18.6154 22.6519 18.1989 21.806 17.5502 21.1555ZM8.55465 27.6045C9.36863 26.7562 10.833 26.7562 11.6469 27.6045L16.1447 32.1023C18.1198 34.2235 15.1655 37.1703 13.0524 35.1945L8.55465 30.6967C8.14525 30.2863 7.91533 29.7303 7.91533 29.1506C7.91533 28.5709 8.14525 28.0149 8.55465 27.6045ZM7.75955 36.3506C8.57353 35.5023 10.0379 35.5023 10.8518 36.3506L15.3496 40.8484C17.3247 42.9696 14.3704 45.9164 12.2573 43.9406L7.75955 39.4428C7.35015 39.0324 7.12023 38.4764 7.12023 37.8967C7.12023 37.317 7.35015 36.761 7.75955 36.3506ZM12.6478 47.4009V46.407C13.0236 46.5147 13.4125 46.5694 13.8034 46.5693C14.3816 46.5695 14.9535 46.4495 15.4828 46.2169C16.0121 45.9843 16.4873 45.6441 16.8782 45.2181C17.269 44.792 17.567 44.2893 17.7532 43.7419C17.9394 43.1946 18.0098 42.6144 17.9598 42.0384H31.3326V47.9972H13.2441C13.086 47.997 12.9345 47.9342 12.8227 47.8224C12.7109 47.7106 12.648 47.559 12.6478 47.4009ZM34.2745 33.5661C33.3631 34.2531 32.6232 35.1418 32.1128 36.1626C31.6024 37.1834 31.3354 38.3086 31.3326 39.4499V40.0502H17.2565C17.1089 39.8324 16.941 39.629 16.7551 39.4428L15.1037 37.7914C15.8805 37.6969 16.615 37.3859 17.2236 36.8939C17.8321 36.4019 18.29 35.7487 18.5451 35.009C18.8002 34.2692 18.8422 33.4726 18.6663 32.7101C18.4904 31.9476 18.1036 31.25 17.5502 30.6967L15.1037 28.2502C15.7152 28.1775 16.3027 27.9689 16.8231 27.6397C18.3252 29.4709 20.4008 30.7424 22.7145 31.2487C25.0283 31.755 27.4452 31.4665 29.5748 30.43C31.7045 29.3934 33.4226 27.6693 34.4516 25.536C35.4806 23.4027 35.7605 20.9848 35.246 18.6728C34.7316 16.3609 33.4528 14.2898 31.6163 12.7942C29.7797 11.2985 27.4926 10.4656 25.1244 10.4299C22.7562 10.3942 20.445 11.1579 18.5643 12.5976C16.6835 14.0372 15.343 16.0688 14.7591 18.3643C14.7591 18.3643 12.7888 16.4119 12.6478 16.3026V7.84033H37.6934V31.002L34.2745 33.5661Z" fill="white" stroke="#1A1A1A" stroke-width="0.508686" mask="url(#path-1-inside-1)"/>
									<path d="M25.7715 21.8306L25.7715 21.8305H25.767H24.0775C24.0774 21.8305 24.0774 21.8305 24.0774 21.8305C23.2235 21.8302 22.404 21.4941 21.7959 20.8947C21.1877 20.2952 20.8398 19.4806 20.8272 18.6268C20.8147 17.773 21.1385 16.9485 21.7287 16.3315C22.319 15.7144 23.1283 15.3543 23.9818 15.3289L24.1052 15.3253V15.2018V14.603C24.1052 14.3731 24.1965 14.1527 24.359 13.9902C24.5216 13.8276 24.742 13.7363 24.9719 13.7363C25.2018 13.7363 25.4222 13.8276 25.5848 13.9902C25.7473 14.1527 25.8386 14.3731 25.8386 14.603V15.1993V15.3265H25.9658H26.5433C26.5433 15.3265 26.5433 15.3265 26.5433 15.3265C26.8682 15.3265 27.1898 15.3923 27.4886 15.5199C27.7874 15.6475 28.0573 15.8342 28.2821 16.0689C28.5068 16.3035 28.6817 16.5812 28.7963 16.8852C28.9109 17.1893 28.9628 17.5134 28.9488 17.838C28.939 18.0676 28.8383 18.2839 28.6689 18.4393C28.4995 18.5948 28.2753 18.6765 28.0457 18.6666C27.816 18.6567 27.5997 18.556 27.4443 18.3866C27.3673 18.3028 27.3076 18.2046 27.2686 18.0976C27.2297 17.9907 27.2121 17.8771 27.217 17.7634L27.2174 17.7634L27.217 17.7528C27.209 17.5566 27.1532 17.3879 27.0344 17.2638C26.9155 17.1396 26.7494 17.0767 26.5539 17.0603L26.5539 17.0599H26.5433H24.0774C23.6747 17.0599 23.2884 17.2199 23.0036 17.5047C22.7188 17.7895 22.5588 18.1757 22.5588 18.5785C22.5588 18.9813 22.7188 19.3675 23.0036 19.6523C23.2884 19.9371 23.6747 20.0971 24.0774 20.0971H25.7661C26.6167 20.1099 27.4297 20.4503 28.0355 21.0476C28.6416 21.6451 28.9937 22.4535 29.0184 23.3042C29.0431 24.1549 28.7384 24.9824 28.168 25.614C27.5976 26.2456 26.8054 26.6327 25.9565 26.6946L25.8386 26.7031V26.8214V27.424C25.8386 27.6538 25.7473 27.8743 25.5848 28.0368C25.4222 28.1994 25.2018 28.2907 24.9719 28.2907C24.742 28.2907 24.5216 28.1994 24.359 28.0368C24.1965 27.8743 24.1052 27.6538 24.1052 27.424V26.8277V26.7005H23.978H23.2615C22.9416 26.7005 22.6249 26.6368 22.3299 26.5131C22.0349 26.3893 21.7675 26.208 21.5433 25.9798C21.3192 25.7516 21.1427 25.481 21.0243 25.1838C20.9059 24.8866 20.8479 24.5688 20.8536 24.249C20.8536 24.249 20.8536 24.249 20.8536 24.249L20.8555 24.146L20.8555 24.146C20.8596 23.9161 20.9549 23.6973 21.1203 23.5377C21.2858 23.378 21.5079 23.2906 21.7377 23.2948C21.9676 23.2989 22.1864 23.3941 22.3461 23.5596C22.5039 23.7232 22.5911 23.9421 22.5891 24.1692C22.5341 24.5628 22.8285 24.976 23.2629 24.9671H25.767V24.9672L25.7715 24.967C26.1778 24.9527 26.5628 24.7812 26.8452 24.4887C27.1276 24.1961 27.2854 23.8054 27.2854 23.3988C27.2854 22.9922 27.1276 22.6015 26.8452 22.3089C26.5628 22.0164 26.1778 21.8449 25.7715 21.8306Z" fill="white" stroke="#1A1A1A" stroke-width="0.254343"/>
									<path d="M17.9052 21.8842L14.2104 18.0983V14.7789L19.6104 9.66317L26.9998 8.81055L34.9577 11.9368L36.9472 19.3263L34.3893 28.1367L29.2735 32.6841L20.463 31.8315L16.1999 27.8525L17.0481 27.2164C17.2398 27.0727 17.4125 26.9052 17.5621 26.7182L18.4736 25.5789L18.7578 25.8631L19.8946 25.0105L19.6104 23.021L17.9052 21.8842Z" fill="transparent"/>
									</svg>
							.services__right
								.services__article Мобильное приложение
								.services__content Специальное программное обеспечение для мобильной платформы
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('ic5')
							.services__right
								.services__article SEO-оптимизация
								.services__content Повышение позиций сайта в поисковых системах для привлечения целевой аудитории
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('ic6')
							.services__right
								.services__article Продвижение
								.services__content Комплекс мер по обеспечению посещаемости сайта целевыми посетителями
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('ic7')
							.services__right
								.services__article Реклама
								.services__content Продуктивный механизм для роста продаж и привлечения новых клиентов
						a(href="javascript:void(0);").services__item
							.services__left
								.services__pic
									+svg('ic8')
							.services__right
								.services__article Шаблонная разработка
								.services__content Используется в качестве готового решения для создания сайтов
		.client
			.client__container.container
				.client__title.title-2 Клиенты
				.client__quote Благодарственные письма некоторых компаний, с которыми мы сотрудничали
				.client__cover
					.client__items#certificate
						a(href="./img/certificate/c1.png").client__item
							img(src="./img/certificate/c1.png")
						a(href="./img/certificate/c1.png").client__item
							img(src="./img/certificate/c1.png")
						a(href="./img/certificate/c1.png").client__item
							img(src="./img/certificate/c1.png")
						a(href="./img/certificate/c1.png").client__item
							img(src="./img/certificate/c1.png")
						a(href="./img/certificate/c1.png").client__item
							img(src="./img/certificate/c1.png")
				
				.partners
					.swiper-wrapper
						.swiper-slide
							img(src="img/partners/l1.svg" alt="")
						.swiper-slide
							img(src="img/partners/l2.svg" alt="")
						.swiper-slide
							img(src="img/partners/l3.svg" alt="")
						.swiper-slide
							img(src="img/partners/l4.svg" alt="")
						.swiper-slide
							img(src="img/partners/l5.svg" alt="")
						.swiper-slide
							img(src="img/partners/l6.svg" alt="")
						.swiper-slide
							img(src="img/partners/l7.svg" alt="")
						.swiper-slide
							img(src="img/partners/l8.svg" alt="")
						.swiper-slide
							img(src="img/partners/l9.svg" alt="")
						.swiper-slide
							img(src="img/partners/l10.svg" alt="")
						.swiper-slide
							img(src="img/partners/l11.svg" alt="")
						.swiper-slide
							img(src="img/partners/l12.svg" alt="")
		.place
			.place__bg(style="background-image: url(img/decor/dec1.jpg)")
			.place__container.container
				.place__title.title-2 Как работает Uralmedias 
				.place__text Веб-студия Uralmedias основана в 2011 году в Магнитогорске. Мы применяем собственный подход, уделяем достаточно времени каждому проекту и не работаем на потоке. Всегда готовы предложить нестандартные решения по целому комплексу услуг разработки и дизайна. Делаем всё, чтобы ваш сайт красиво и эффективно выполнял задачи компании. Разработка сайта позволяет создать дополнительный инструмент продаж, неразрывно связанный с бизнесом заказчика. Сайт с правильной навигацией и встроенными сервисами помогает оптимизировать процессы бизнеса, налаживая диалог с потенциальным клиентом. 
		.call
			.call__container.container
				.call__grid
					.call__left
						.call__top
							.call__title Оставьте завку
							.call__txt мы ответим на все Ваши вопросы
						.call__bottom
							.call__img
								img(src="img/team/t1.png" alt="")
							.call__name Константин
							.call__status Руководитель компании
					.call__right
						form.call__form
							.call__group
								.call__unit
									.call__label Какая услуга Вас интересует?
									input.call__field(placeholder="Веб")
								.call__unit
									.call__label Контактный телефон
									input.call__field(placeholder="+7 (___) ___-__-__")
							.call__group
								.call__unit
									.call__label Ваше имя
									input.call__field(placeholder="Введите имя")
								.call__unit
									.call__label Ваша почта
									input.call__field(placeholder="Email")
							.call__group.call__group--textarea
								.call__label Комментарий
								textarea(placeholder="Дополнительная информация")
						a(href="javascript:void(0);").btn.btn--submit Отправить заявку
						.call__quote Нажимая кнопку “Заказать проект”, вы принимаете условия <a href="javascript:void(0);">пользовательского соглашения</a>
block script