extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';
	- var setTitle = 'Разработка интернет-магазина';
	- var bildboard_quote = 'Яркий и удобный интернет-магазин с адаптацией подо все устройства.';
	- var quote = 'magazine';
	- var bildboard_img = "background-image: url(img/dataBild/img13.jpg);";
	- var includeBloc = 'magazine';
	- var include = "landing";
	- var bildboard_include = 'special-btn';
	- var partners_quote = 'true';

block content
	div(data-barba="container" data-barba-namespace="about")
		.bildboard-data.bildboard-data--special-btn(style=`${bildboard_img}`)
			.bildboard-data__container.container
				.bildboard-data__title.bildboard-data__title--short.title-1 Разработка <span>интернет-магазина</span>
				.bildboard-data__quote #{bildboard_quote}
				a(href="https://uralmedias.ru/articles/").btn.btn--special
					.btn__special
						span Отправить заявку менеджеру
					.btn__text Отправить заявку менеджеру
		include ../modules/breadcrumbs
		include ../modules/quote
		.demand.demand--magazine
			.demand__container.container
				.demand__title.title-3 Этапы работ продвижения
				.demand__cover
					.demand__items
						.demand__item
							.demand__num 1
							.demand__header предпроектное исследование
							.demand__txt Изучаем Ваш бизнес, анализируем ресурсы конкурентов, выбираем структуру сайта.
						.demand__item
							.demand__num 2
							.demand__header создание прототипа
							.demand__txt Создаем протротипы интерфейса, придумываем общую структуру интернет-магазина.
						.demand__item
							.demand__num 3
							.demand__header разработка дизайна
							.demand__txt Отрисовываем все необходимые страницы и модулируем интерфейс.
						.demand__item
							.demand__num 4
							.demand__header работы по разработке
							.demand__txt Разрабатываем адаптивную верстку, программируем будущий сайт.
						.demand__item
							.demand__num 5
							.demand__header проведение тестирования
							.demand__txt Проверяем, наполняем контентом, настраиваем аналитику.
						.demand__item
							.demand__num 6
							.demand__header запуск интернет-магазина
							.demand__txt Сдаем готовый сайт с налаженной системой продаж.
		.advertising-price.advertising-price--landing.advertising-price--corporate(style="background-image: url(./img/decor/dec15.png)")
			.advertising-price__container.container
				.advertising-price__title.title-3 Варианты разработки продукта
				.advertising-price__cover
					.advertising-price__items
						a(href="javascript:void(0);").advertising-price__item.mf-show
							.advertising-price__top
								.advertising-price__header Создание на конструкторе
								.advertising-price__period от 7 дней на разработку
							.advertising-price__note Готовим контент и делаем одностраничник на популярном конструкторе
							.advertising-price__list
								.advertising-price__ref Готовые решения на 1С-Битрикс;
								.advertising-price__ref Конструкторы Tilda и PlatformaLP.
							.advertising-price__bottom
								.advertising-price__price от 450 000₽
								.advertising-price__href.link.link--detail ЗАКАЗАТЬ разработку сайта
						a(href="javascript:void(0);").advertising-price__item 
							.advertising-price__top
								.advertising-price__header Индивидуальная разработка
								.advertising-price__period от 7 дней на разработку
							.advertising-price__note Полный цикл производства
							.advertising-price__list
								.advertising-price__ref Сбор требований и концепция страницы;
								.advertising-price__ref Дизайн, пользовательские сценарии;
								.advertising-price__ref Адаптивная вёрстка;
								.advertising-price__ref Программирование и тестирование;
								.advertising-price__ref Интеграция с CRM и системами аналитики.
							.advertising-price__bottom
								.advertising-price__price от 700 000₽
								.advertising-price__href.link.link--detail ЗАКАЗАТЬ разработку сайта
		include ../modules/include
		.benefit
			.benefit__container.container 
				.benefit__title.title-4 Основные преимущества интернет-магазина
				.benefit__quote Если у вас есть стационарная торговая точка, но вы еще не открыли интернет-магазин, мы советуем Вам об этом задуматься. Ведь on-line торговля станет серьезным подспорьем вашему бизнесу.

				.benefit__items
					.benefit__item
						.benefit__bloc
							.benefit__header популярность
							.benefit__txt популярность интернет-магазинов все больше и больше растет среди потребителей из-за экономии времени, легкости поиска нужного товара, конфиденциальности покупок, доступности в любое время суток
						.benefit__bloc
							.benefit__header удобство
							.benefit__txt Он доступен покупателю 24 часа в сутки, 7 дней в неделю, что позволяет вам не упустить клиентов в нерабочие часы.
					.benefit__item
						img(src="./img/pc.png" alt="")
					.benefit__item
						.benefit__bloc
							.benefit__header доступность
							.benefit__txt Ваш бизнес не привязан к конкретному региону – Вы можете осуществлять торговлю не только в своем городе, но и во всей стране, и даже на международном уровне.
						.benefit__bloc
							.benefit__header экономия
							.benefit__txt не нужно арендовать или покупать торговую площадь, можно обойтись просто складом для товаров, из которого и отгружать их напрямую
		- var includeBloc = "call";
		include ../modules/include
		include ../modules/seo-slider
		include ../modules/partners
		include ../modules/call
block script