.article {
    padding-top: 85px;

    @media (max-width: 620px) {
        padding-top: 56px;
    }

    .breadcrumbs__container {
        justify-content: normal;
        text-align: left;
    }

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: auto;
    }

    &__info {
        font-size: 12px;
        margin-top: 18px;
    }

    &__title {
        font-weight: 500;
        font-size: 35px;
        line-height: 1.2;
        margin-top: 50px;

        @media (max-width: 620px) {
            font-size: 26px;
            margin-top: 20px;
        }
    }

    &__img {
        height: 550px;
        margin-top: 37px;

        @media (max-width: 1024px) {
            height: 400px;
        }

        @media (max-width: 620px) {
            height: 200px;
            margin-top: 25px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}