.benefit {
    margin-top: 80px;

    @media(max-width: 1024px) {
        margin-top: 70px;
    }

    @media(max-width: 620px) {
        margin-top: 55px;
    }

    &__img {
        height: 563px;

        @media(max-width: 1300px) {
            height: 390px;
        }

        @media(max-width: 1236px) {
            height: 315px;
        }

        @media(max-width: 768px) {
            display: none;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            transform: translateX(-36px);

            @media(max-width: 1300px) {
                transform: translateX(0px) translateY(45px);
            }
        }
    }

    &__wrapper {
        position: relative;
        margin-top: 57px;

        @media(max-width: 1236px) {
            max-width: 922px;
            width: 100%;
            margin: 57px auto 0;
        }

        @media(max-width: 1024px) {
            margin-top: 45px;
        }
    }

    &__decor {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        @media(max-width: 768px) {
            position: relative;
            height: initial;
            width: initial;
            top: initial;
            bottom: initial;
            left: initial;
            right: initial;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 67px;
        max-width: 1238px;
        width: 100%;
        margin: 58px auto 0;
    }

    &__bloc {
        position: absolute;

        @media(max-width: 768px) {
            position: relative;
        }

        &:not(:first-child) {
            @media(max-width: 768px) {
                margin-top: 30px;
            }
        }

        &:nth-child(1) {
            max-width: 334px;
            width: 100%;
            left: -20px;
            top: 43px;

            @media(max-width: 1300px) {
                left: 0;
            }

            @media(max-width: 1236px) {
                max-width: 283px;
                top: 0;
            }

            @media(max-width: 768px) {
                max-width: initial;
                width: 100%;
                left: initial;
                top: initial;
            }

            .benefit__header {
                &:after {
                    left: 0;
                    background-image: url('../img/decor/line.svg');
                }
            }
        }

        &:nth-child(2) {
            max-width: 270px;
            width: 100%;
            left: -19px;
            top: 289px;

            @media(max-width: 1300px) {
                top: 245px;
                left: 0;
            }

            @media(max-width: 768px) {
                max-width: initial;
                width: 100%;
                left: initial;
                top: initial;
            }

            .benefit__header {
                &:after {
                    left: 0;
                    background-image: url('../img/decor/line2.svg');
                }
            }
        }

        &:nth-child(3) {
            max-width: 333px;
            width: 100%;
            right: 43px;
            top: 17px;

            @media(max-width: 1300px) {
                right: 0;
                top: 43px;
            }

            @media(max-width: 1236px) {
                max-width: 283px;
                top: 0;
            }

            @media(max-width: 768px) {
                max-width: initial;
                width: 100%;
                left: initial;
                right: initial;
                top: initial;
            }

            .benefit__header {
                &:after {
                    right: -58px;
                    background-image: url(../img/decor/line3.svg);
                    top: 30px;
                }
            }
        }

        &:nth-child(4) {
            max-width: 322px;
            width: 100%;
            right: 54px;
            bottom: 157px;

            @media(max-width: 1300px) {
                right: 0;
                max-width: 333px;
                bottom: auto;
                top: 245px;
            }

            @media(max-width: 1236px) {
                max-width: 283px;
            }

            @media(max-width: 1024px) {
                bottom: 27px;
            }

            @media(max-width: 768px) {
                max-width: initial;
                width: 100%;
                left: initial;
                right: initial;
                top: initial;
                bottom: initial;
            }

            .benefit__header {
                &:after {
                    right: -53px;
                    background-image: url(../img/decor/line4.svg);
                    top: -28px;
                }
            }
        }
    }

    &__item {
        width: 33.333%;

        &:nth-child(1) {
            position: relative;
            padding-top: 44px;


            .benefit__bloc {
                &:first-child {
                    .benefit__header {
                        &:after {
                            left: 0;
                            background-image: url('../img/decor/line.svg');
                        }
                    }
                }

                &:last-child {
                    .benefit__txt {
                        max-width: 269px;
                        width: 100%;
                    }

                    .benefit__header {
                        &:after {
                            left: 0;
                            background-image: url('../img/decor/line2.svg');
                        }
                    }
                }
            }
        }

        &:nth-child(1),
        &:nth-child(3) {
            position: relative;
            max-width: 343px;
            width: 100%;
        }

        &:nth-child(2) {
            position: relative;
            z-index: -1;
        }

        &:nth-child(3) {
            padding-top: 17px;

            .benefit__bloc {

                &:first-child {
                    .benefit__header {
                        &:after {
                            right: -58px;
                            background-image: url(../img/decor/line3.svg);
                            top: 30px;
                        }
                    }
                }

                &:last-child {
                    margin-top: 143px;

                    .benefit__header {
                        &:after {
                            right: -53px;
                            background-image: url(../img/decor/line4.svg);
                            top: -28px;
                        }
                    }
                }
            }
        }



        img {
            position: absolute;
            left: -49%;
            max-width: initial;
            max-height: initial;
        }
    }

    &__txt {
        font-size: 14px;
        line-height: 20px;
    }

    &__header {
        position: relative;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 10px;
        margin-bottom: 13px;

        @media(max-width: 768px) {
            padding-bottom: 0;
            margin-bottom: 10px;
        }


        &:after {
            position: absolute;
            content: "";
            height: 112px;
            width: 521px;
            top: 29px;
            background-repeat: no-repeat;

            @media(max-width: 1300px) {
                content: none;
            }
        }
    }

    &__quote {
        text-align: center;
        max-width: 864px;
        margin: 0 auto;
        line-height: 23px;
    }

    &__title {
        position: relative;
        padding-bottom: 46px;
        margin-bottom: 36px;

        @media(max-width: 1024px) {
            line-height: 35px;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }

        @media(max-width: 620px) {
            text-align: left;
            padding-bottom: 15px;
            margin-bottom: 12px;
            line-height: 30px;
        }

        &:after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            margin: auto;
            max-width: 80px;
            width: 100%;
            background-color: $red-2;
            height: 2px;

            @media(max-width: 620px) {
                right: auto;
                max-width: 48px;
            }
        }
    }

    .quote {
        margin-top: 0;
    }
}