include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="css/main.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css")
		<script src="https://api-maps.yandex.ru/2.1/?apikey=b2343068-3f02-4bb4-81ac-42b7707547a9&lang=ru_RU" type="text/javascript"></script>
		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		
		//- script
		//- 	document.createElement('header');
		//- 	document.createElement('nav');
		//- 	document.createElement('section');
		//- 	document.createElement('article');
		//- 	document.createElement('aside');
		//- 	document.createElement('footer');
		<![endif]-->
	body(data-barba="wrapper")
		<div class="cursor">
			<div class="cursor__circle cursor__circle--big ">
				<svg height="60" width="60">
					<circle id="bigCircle" cx="30" cy="30"  r="18" stroke-width="0.8"></circle>
				</svg>
			</div>

			<div class="cursor_circle cursor__circle--small">
				<svg height="10" width="10">
					<circle id="smallCircle" cx="4" cy="4" r="3" stroke-width="0"></circle>
				</svg>
			</div>

			<div class="cursor__plus">
				<svg class="cursor__plus--area" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<g stroke-width="1">
						<path d="M12.5,1.87037037 L12.5,11.4993704 L22.5,11.5 L22.5,12.5 L12.5,12.4993704 L12.5,22.1296296 L11.5,22.1296296 L11.5,12.4993704 L1.5,12.5 L1.5,11.5 L11.5,11.4993704 L11.5,1.87037037 L12.5,1.87037037 Z"></path>
					</g>
				</svg>
			</div>
		</div>
		<div class="loader"></div>
		include ../modules/header
		#viewport
			.b-page
				block content
				include ../modules/footer
		include ../modules/modals
		.overlay.js-overlay
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js"></script>
		
		<script src="https://unpkg.com/@barba/core"></script>
		script(src="js/libs-min.js")
		script(src="js/smooth-scrollbar.js")
		script(src="js/jquery.maskedinput.js")
		script(src="js/select2.min.js")
		script(src="js/Slider.js")
		script(src="js/lightgallery.js")
		script(src="js/main-min.js")
		
		
		block script