.blog {
    margin-top: 58px;

    @media(max-width: 1024px) {
        margin-top: 41px;
    }

    @media(max-width: 620px) {
        margin-top: 30px;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__more {
        margin: 53px auto 0;
        text-transform: uppercase;
    }

    &__ref {
        position: relative;
        background-image: url('../img/icon/arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 10px;
        opacity: 0;
        transition: opacity .3s;
    }

    &__date {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 25px;
        color: $grey-6;
    }

    &__cover {
        position: relative;
        z-index: 1;
        margin-top: 47px;

        @media(max-width: 620px) {
            margin-top: 25px;
        }
    }

    &__item {
        width: calc(33.333% - 50px);
        margin-left: 50px;
        margin-top: 50px;

        @media(max-width: 1300px) {
            width: calc(33.333% - 30px);
            margin-left: 30px;
            margin-top: 30px;
        }

        @media(max-width: 1024px) {
            width: calc(33.333% - 20px);
            margin-left: 20px;
            margin-top: 20px;
        }

        @media(max-width: 882px) {
            width: calc(50% - 20px);
        }

        @media(max-width: 620px) {
            width: 100%;
            margin-left: 0;
            margin-top: 35px;
        }

        &:hover {

            .blog {

                &__popup {
                    transform: translateX(0%);
                }

                &__txt {
                    opacity: 1;
                }

                &__ref {
                    opacity: 1;
                }
            }
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -50px;
        margin-top: -50px;
        min-height: 428px;

        @media(max-width: 1300px) {
            margin-left: -30px;
            margin-top: -30px;
        }

        @media(max-width: 1024px) {
            margin-left: -20px;
            margin-top: -20px;
        }

        @media(max-width: 620px) {
            margin-left: 0;
            margin-top: -35px;
        }
    }



    &__pic {
        min-height: 257px;
        height: 1px;
        border-radius: 12px 12px 0px 0px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;

        @media(max-width: 1300px) {
            min-height: 200px;
        }

        @media(max-width: 1024px) {
            min-height: 224px;
        }

        @media(max-width: 620px) {
            min-height: 193px;
        }
    }

    &__popup {
        height: 100%;
        background-color: rgba($color: #00A4AD, $alpha: 0.9);
        padding: 30px;
        padding-top: 25px;
        transform: translateX(-100%);
        transition: 0.5s ease;

        @media(max-width: 1024px) {
            padding: 21px 20px 30px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 27px 30px 40px;
        min-height: 177px;
        box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.1);

        @media(max-width: 1024px) {
            min-height: 134px;
            padding: 17px 20px 23px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    &__txt {
        font-size: 14px;
        line-height: 21px;
        color: white;
        max-width: 275px;
        width: 100%;
        opacity: 0;
        transform: translateY(20px);
        transition: 1s ease;

        @media(max-width: 1024px) {
            font-size: 12px;
            line-height: 20px;
            max-width: 100%;
        }
    }

    &__text {
        font-size: 18px;
        font-weight: 700;
        max-width: 280px;
        line-height: 27px;

        @media(max-width: 1024px) {
            font-size: 16px;
            line-height: 26px;
        }
    }

    &__slider {
        position: relative;
        overflow: hidden;
        padding: 10px;
        margin: -10px;
        margin-top: 44px;

        .blog__item {
            width: auto;
            margin: 0;
        }
    }
}